{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}


    <form class="form-signin col-md-4" action="{{ path("rx_admin_login_check") }}" method="post">
        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
        <br />
        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input  class="form-control"  type="password" id="password" name="_password" />
        <label for="remember_me">
            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }} <input type="checkbox" name="_remember_me"/>
        </label>
        <br />
        <button name="_submit" class="btn btn-default" type="submit">Log in</button>
    </form>

{% endblock fos_user_content %}
