{% block title %}<h3>Documents:</h3>{% endblock %}

{% for key, type in types %}
    {% if key != '_token' %}
        <strong>{{ type }}</strong>
        <div class="row form-group" data-document-type="{{ key }}" data-document-title="{{ type }}">
            <div class="col-3">
                {% if documents[key] is defined %}
                    <a href="{{ path('rx_download_document', { 'filename': documents[key].filename }) }}" target="_blank">{{ documents[key].originalName }} <i class="icon-download"></i></a>
                {% else %}
                    No file.
                {% endif %}
            </div>
            <div class="col-8">
                {% if is_permitted('edit') %}
                    <button class="btn btn-primary upload-document-btn">Upload</button>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}