{% macro widget_prototype(widget, remove_text) %}
    {% if widget.vars.prototype is defined and widget.vars.prototype %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}

    <tr class="fee-row" data-content="{{ name }}">
        <td class="tier">
            {{ form_errors(form.fee_with_retirement) }}
            {{ form_widget(form.fee_with_retirement, {'attr': {'class': 'input-small not-presave'}}) }}
        </td>
        <td class="tier">
            {{ form_errors(form.fee_without_retirement) }}
            {{ form_widget(form.fee_without_retirement, {'attr': {'class': 'input-small not-presave'}}) }}
        </td>
        <td class="tier">
            {{ form_errors(form.tier_bottom) }}
            {{ form_widget(form.tier_bottom, {'attr': {'class': 'input-medium auto-numeric not-presave'}}) }}
        </td>

        <td class="tier">
            {{ form_errors(form.billingSpec) }}
            {{ form_widget(form.billingSpec, {'attr': {'class': 'input-medium not-presave'}}) }}
        </td>

        {% if form.tier_top is defined %}
        <td class="tier">
            <table>
                <tr>
                    <td>
                        {{ form_errors(form.tier_top) }}
                        {{ form_widget(form.tier_top, {'attr': {'class': 'input-medium auto-numeric not-presave'}}) }}
                   </td>
                    <td>
                        <label class="is-final-tier-checkbox checkbox pull-right" style="display: none;">
                            {{ form_widget(form.is_final_tier) }}
                        </label>
                    </td>
                </tr>
            </table>
        </td>
        {% endif %}

        {% if is_permitted('edit') %}
            <td><a class="btn-remove" data-related="{{ name }}" href="javascript:void(0)">{{ remove_text }}</a></td>
        {% endif %}
    </tr>
{% endmacro %}

<form action="{% block form_action %}{{ is_permitted('edit') ? path('rx_admin_update_fees') : '#' }}{% endblock %}" method="post">
    <table class="table table-stripped">
        <thead>
        <tr>
            <th>Fee with retirement</th>
            <th>Fee without retirement</th>
            <th>Tier bottom</th>
            <th>Tier top</th>

            {% if is_permitted('edit') %}
                <th>Action</th>
            {% endif %}
        </tr>
        </thead>
        <tbody id="form_fees" data-prototype="{{ _self.widget_prototype(form.fees, 'Remove fee')|escape }}">

        {% for widget in form.fees.children %}
            {{ _self.widget_prototype(widget, 'Remove fee') }}
        {% endfor %}
        </tbody>
    </table>

    {{ form_rest(form) }}

    {% if is_permitted('edit') %}
        <a href="javascript:void(0)" class="btn btn-primary btn-save">
            Save
        </a>
        <a href="javascript:void(0)" class="btn btn-primary btn-add" data-target="form_fees">
            Add a Tier
        </a>
    {% endif %}
</form>