{% extends '/Mailer/Default/email_layout.html.twig' %}

{% block subject %}
    {% autoescape false %}
    {{ 'Your Password Reset' }}
    {% endautoescape %}
{% endblock %}

{% block content %}
    {% autoescape false %}
        {{ ria_name }} reset your password. Your new password is: " {{ new_password }} ".
        Please <a href="{{ url('login') }}">login</a> with your new password and reset if you like.
        <br><br>
        Thank you,
        <br><br>
        {{ 'wealthbot.io' | trans }}
    {% endautoescape %}
{% endblock %}


