<form action="{% block form_action %} {{ path('rx_client_transfer_credentials', { 'account_id': account.id }) }}{% endblock %}" method="post" {% block form_attributes %}data-presave="true" data-save="true"{% endblock %}>
    <table class="table">
        <tr>
            <th>{{ form_label(form.financial_institution) }}</th>

            {% if form.account_number is defined %}
                <th>{{ form_label(form.account_number) }}</th>
            {% endif %}

            <th>{{ form_label(form.account_description) }}</th>
            <th>{{ form_label(form.web_address_login) }}</th>
            <th>{{ form_label(form.username) }}</th>
            <th>{{ form_label(form.password) }}</th>
        </tr>
        <tr>
            <td>
                {{ form_errors(form.financial_institution) }}
                {{ form_widget(form.financial_institution, { 'attr': { 'class': 'input-medium' } }) }}
            </td>

            {% if form.account_number is defined %}
                <td>
                    {{ form_errors(form.account_number) }}
                    {{ form_widget(form.account_number, { 'attr': { 'class': 'input-small' } }) }}
                </td>
            {% endif %}

            <td>
                {{ form_errors(form.account_description) }}
                {{ form_widget(form.account_description) }}
            </td>
            <td>
                {{ form_errors(form.web_address_login) }}
                {{ form_widget(form.web_address_login, { 'attr': { 'class': 'input-medium' } }) }}
            </td>
            <td>
                {{ form_errors(form.username) }}
                {{ form_widget(form.username, { 'attr': { 'class': 'input-medium' } }) }}
            </td>
            <td>
                {{ form_errors(form.password) }}
                {{ form_widget(form.password, { 'attr': { 'class': 'input-medium' } }) }}
            </td>
        </tr>
    </table>

    <div class="row">{{ form_rest(form) }}</div>

    {% block form_actions %}
        <div class="form-actions">
            <a href="{{ path('rx_client_transfer_back', {'account_id': account.id, 'action': 'credentials'}) }}" class="btn btn-inverse">Back </a>
            <input type="submit" class="btn btn-primary"  name="submit" value="Continue" />
        </div>
    {% endblock %}
</form>