{% extends '/Client/layout.html.twig' %}

{% block headernav %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript" src="{{ asset('js/client/client.transfer.js') }}"></script>
        <script src="{{ asset('js/client/client.portfolio.js') }}"></script>
{% endblock %}

{% block body %}
    {% block header_row %}

        <div class="row margin-top-25">
            <div class="col-10">
                <img class="img-rounded w200h100" src="{{ path('rx_file_download', {'ria_id': client.ria.id}) }}"/>
            </div>
            <div class="save-and-logout">
                {% if app.request.attributes.get('_route') != 'rx_client_transfer' %}
                    <a class="btn btn-primary"  id="main_screen_btn" href="{{ path('rx_client_transfer') }}">Main Screen</a>
                {% endif %}

                <a class="btn margin-left-15" id="reg_save_btn" href="{{ path('logout') }}">Logout</a>
                <span class="help-block">We'll save your progress.</span>
            </div>
        </div>

        {% block page_title %}
            <h3>Applications</h3>
        {% endblock %}


        <legend></legend>
    {% endblock %}

    {% set route = app.request.attributes.get('_route') %}

    {% block top_message_box %}
        {% if route == 'rx_client_transfer' %}
            <div class="row">
                <div class="transfer-mainmsg">
                    {% spaceless %}
                        <h5>
                            {% block top_msg %}
                                {% if has_not_opened_accounts %}
                                    Begin the process of opening, transferring, or rolling over your accounts by clicking any of the links below. Stop at any point during the application process and we'll save your progress for later.
                                {% else %}
                                    You have completed the account opening/transfer process. We will contact you via email when your
                                    accounts have been opened and transferred.
                                {% endif %}
                            {% endblock %}
                        </h5>
                    {% endspaceless %}
                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% block top_content %}
        <div class="container-fluid">
            <div class="row">
                {{ render(controller('App\\Controller\\Client\\TransferController:accountsList')) }}
            </div>
        </div>
    {% endblock %}

    {% block main_content %}{% endblock %}

    {% block bottom_content %}

    {% endblock %}

{% endblock %}