{% extends '/Client/Transfer/index.html.twig' %}

{% block body %}
    {% block header_row %}
        <div class="row">
            <div class="col-10">
                {% block page_title %}
                    <h3>Applications</h3>
                {% endblock %}
            </div>
            <div class="save-and-logout">
                <a class="btn btn-primary"  id="reg_save_btn" href="{{ path('logout') }}">Logout</a>
                <span class="help-block">We'll save your progress.</span>
            </div>
        </div>
        <legend></legend>
    {% endblock %}



    {% block top_content %}
        {{ render(controller('App\\Controller\\Client\\TransferController:progressMenu', { 'account': account, 'step': 'rollover' })) }}
    {% endblock %}

    <form action="{% block form_action %}{{ path('rx_client_transfer_rollover', { 'account_id': account.id }) }}{% endblock %}" method="post" class="def-form">
        <h1>Your Rollover</h1>
        {{ rollover_message ? rollover_message.message : '' }}
        <div class="form-actions">
            <a href="{% block back_url %}{{ path('rx_client_transfer_back', {'account_id': account.id, 'action': 'rollover'}) }}{% endblock %}" class="btn btn-inverse">Back </a>
            <input type="submit" class="btn btn-primary"  name="continue" value="Continue" />
        </div>
    </form>

    <a class="btn btn-primary"  href="{{ path('rx_client_transfer') }}">Back to home screen</a>
{% endblock %}