{#
{% form_theme form  'form_div_layout.html.twig' %}
<div class="row">
    <div class="col-9">
        <div class="row">
            <div class="col-10"> #}
                {# % if not company_information.activated %}
                    <div class="col-9">
                        {% if (progress < 100) %}
                            <div class="alert alert-error">
                                You must complete the following steps before {{ 'wealthbot.io' | trans }} will be ready to use:
                            </div>

                            <form id="ria_model_completion_form" action="{{ path('rx_ria_models_update_completion') }}" method="post">
                                <ol type="1">
                                    {% if form.users_and_user_groups is defined %}
                                        <li {{ form.vars.value|length > 0 and form.vars.value.usersAndUserGroups ? 'class=done' : '' }}>
                                            <span class="v-align-middle">Create users and user groups.</span>
                                            {{ form_widget(form.users_and_user_groups, {'attr': {'data-url': path('rx_ria_user_management')} }) }}
                                        </li>
                                    {% endif %}

                                    {% if form.select_custodians is defined %}
                                        <li {{ form.vars.value|length > 0 and form.vars.value.selectCustodians ? 'class=done' : ''}}>
                                            <span class="v-align-middle">Select custodians.</span>
                                            {{ form_widget(form.select_custodians, {'attr': {'data-url': path('rx_ria_change_profile_custodians')} }) }}
                                        </li>
                                    {% endif %}

                                    {% if form.rebalancing_settings is defined %}
                                        <li {{ (form.vars.value|length > 0 and form.vars.value.rebalancingSettings) ? 'class=done' : '' }}>
                                            <span class="v-align-middle">Customize rebalancing settings.</span>
                                            {{ form_widget(form.rebalancing_settings, {'attr': {'data-url': path('rx_ria_change_profile_rebalancing')} }) }}
                                        </li>
                                    {% endif %}

                                    {% if form.create_securities is defined %}
                                        <li {{ (form.vars.value|length > 0 and form.vars.value.createSecurities) ? 'class=done' : '' }}>
                                            <span class="v-align-middle">Create security categories.</span>
                                            {{ form_widget(form.create_securities, {'attr': {'data-url': path('rx_ria_dashboard_models_tab', {tab:'categories'})}}) }}
                                        </li>
                                    {% endif %}

                                    {% if form.assign_securities is defined %}
                                        <li {{ (form.vars.value|length > 0 and form.vars.value.assignSecurities) ? 'class=done' : '' }}>
                                            <span class="v-align-middle">Assign categories to securities.</span>
                                            {{ form_widget(form.assign_securities, {'attr': {'data-url': path('rx_ria_dashboard_models_tab', {tab:'securities'})}}) }}
                                        </li>
                                    {% endif %}

                                    {% if form.models_created is defined %}
                                        <li {{ (form.vars.value|length > 0 and form.vars.value.modelsCreated) ? 'class=done' : '' }}>
                                            <span class="v-align-middle">Create models and assign risk ratings.</span>
                                            {{ form_widget(form.models_created, {'attr': {'data-url': path('rx_ria_dashboard_models_tab', {tab:'models'})}}) }}
                                        </li>
                                    {% endif %}

                                    {#{% if (form.risk_rating_modified is defined) %}
                                        <li {{ (form.vars.value|length > 0 and form.vars.value.riskRatingModified) ? 'class=done' : '' }}>
                                            <span class="v-align-middle">Modify the risk rating of the models (if necessary).</span>
                                            {{ form_widget(form.risk_rating_modified, {'attr': {'data-url': path('rx_ria_models')}}) }}
                                        </li>
                                    {% endif %}

                                    {% if (form.customize_proposals is defined) %}
                                        <li {{ (form.vars.value|length > 0 and form.vars.value.customizeProposals) ? 'class=done' : '' }}>
                                            <span id="risk_profiling_spn" data-url='{{ path('rx_ria_risk_profiling') }}' class="v-align-middle">Customize proposals.</span>
                                            {{ form_widget(form.customize_proposals, {'attr': {'data-url': path('rx_ria_risk_profiling')}}) }}
                                        </li>
                                    {% endif %}

                                    {% if (form.billingComplete is defined) %}
                                        <li {{ (form.vars.value|length > 0 and form.vars.value.billingComplete) ? 'class=done' : '' }}>
                                            <span class="v-align-middle">Create billing specs.</span>
                                            {{ form_widget(form.billingComplete, {'attr': {'data-url': path('rx_ria_billing_tab', {tab: 'specs'})}}) }}
                                        </li>
                                    {% endif %}

                                    {% if form.proposalDocuments is defined %}
                                        <li {{ (form.vars.value|length > 0 and form.vars.value.proposalDocuments) ? 'class=done' : '' }}>
                                            <span class="v-align-middle">Upload proposal documents.</span>
                                            {{ form_widget(form.proposalDocuments, {'attr': {'data-url': path('rx_ria_change_profile_proposals', {tab:'proposals'})}}) }}
                                        </li>
                                    {% endif %}
                                </ol>

                                {{ form_rest(form) }}
                            </form>
                        {% else %}
                            <p>
                            <div class="alert alert-success">
                                We have been notified of you completing our setup process. We will review your setup and contact you shortly.
                            </div>
                            </p>
                        {% endif %}

                        <div class="model-completion-progress">
                            <p>Completion: <b><span class="progress-text">{{ progress }}</span>%</b></p>
                            <div class="progress">
                                <div class="progress-bar" style="width: {{ progress }}%"></div>
                            </div>
                        </div>
                    </div>
                {% endif % #}
                {#
            </div>
        </div>
    </div>
    <div class="col-3 ria-search-clients-box">
        {{ form_widget(searchForm.search,
        {'attr': {
            'class': 'typeahead input-medium ajaxed ria-find-clients-with-prospects-form-type-search',
            'data-complete-url': path('rx_ria_dashboard_clients_with_prospects_search'),
            'autocomplete': 'off',
            'placeholder': 'Client Quick Search'
        }})
        }}
    </div>
</div>
#}