<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="{{path('rx_ria_dashboard')}}">
        {{ 'wealthbot.io' | trans }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li {{ route == 'rx_ria_dashboard' ? 'class="active nav-item"' : 'nav-item' }}><a class="nav-link" href="{{ path('rx_ria_dashboard') }}">Dashboard</a></li>
            <li {{ route == 'rx_ria_workflow' ? 'class="active nav-item"' : 'nav-item' }}>
                <a  class="nav-link" href="{{ path('rx_ria_workflow') }}">Workflow</a>
            </li>
            <li {{ route == 'rx_ria_dashboard_clients' ? 'class="active nav-item"' : 'nav-item' }}><a class="nav-link" href="{{ path('rx_ria_dashboard_clients') }}">Clients</a></li>
            {% if riaCompanyInformation.portfolioModel.custom %}
                <li {{ route == 'rx_ria_dashboard_models_tab' ? 'class="active nav-item"' : 'nav-item' }}><a class="nav-link"  href="{{ path('rx_ria_dashboard_models_tab', {tab:'models'}) }}">Portfolios</a></li>
            {% else %}
                <li {{ route == 'rx_ria_models' ? 'class="active nav-item"' : 'nav-item' }}><a  class="nav-link" href="{{ path('rx_ria_models') }}">Models</a></li>
            {% endif %}
            <li {{ route == 'rx_ria_billing' ? 'class="active nav-item"' : 'nav-item' }}><a  class="nav-link" href="{{ path("rx_ria_billing") }}">Billing</a></li>
            {% if riaCompanyInformation.relationTypeLicenseFee %}
                <li {{ route == 'rx_ria_dashboard_rebalancing' ? 'class="active nav-item"' : "nav-item" }}><a class="nav-link" href="{{ path('rx_ria_dashboard_rebalancing') }}">Rebalancing</a></li>
            {% endif %}
            <li {{ route == 'rx_ria_risk_profiling' ? 'class="active nav-item"' : 'nav-item' }}><a  class="nav-link" href="{{ path('rx_ria_risk_profiling') }}">Risks Questionary</a></li>
        </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.username}}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <h6 class="dropdown-header">Menu header</h6>
                        {% if (is_granted('ROLE_RIA_ADMIN')) %}
                            <a  class="dropdown-item" href="{{ path('rx_ria_change_profile') }}">Admin Settings</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ path('rx_ria_profile') }}">Profile Management</a>
                        {% if (is_granted('ROLE_RIA_ADMIN')) %}
                            <a  class="dropdown-item" href="{{ path('rx_ria_user_management')}}">User Management</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{path('rx_ria_user_create')}}">Create User</a>
                        <a class="dropdown-item" href="{{ path('rx_ria_user_reset_internally_password',{user_id:app.user.id}) }}">Reset User's Password</a>
                        <a  class="dropdown-item" href="{{ path('logout') }}">Logout</a>
                    </div>
                </li>
            </ul>
    </div>
</nav>