<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{path('rx_admin_homepage')}}">
        <img class="img-rounded" width="150px" src="{{ asset('img/logo.png') }}"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li {{ route == 'rx_ria_dashboard' ? 'class="active nav-item"' : 'nav-item' }}><a class="nav-link" href="{{ path('rx_ria_dashboard') }}">Dashboard</a></li>
            <li {{ route == 'rx_ria_workflow' ? 'class="active nav-item"' : 'nav-item' }}>
                <a  class="nav-link" href="{{ path('rx_ria_workflow') }}">Workflow</a>
            </li>
            <li {{ route == 'rx_ria_dashboard_clients' ? 'class="active nav-item"' : 'nav-item' }}><a class="nav-link" href="{{ path('rx_ria_dashboard_clients') }}">Clients</a></li>
            {% if riaCompanyInformation.portfolioModel.custom %}
                <li {{ route == 'rx_ria_dashboard_models_tab' ? 'class="active nav-item"' : 'nav-item' }}><a class="nav-link"  href="{{ path('rx_ria_dashboard_models_tab', {tab:'categories'}) }}">Portfolios</a></li>
            {% else %}
                <li {{ route == 'rx_ria_models' ? 'class="active nav-item"' : 'nav-item' }}><a  class="nav-link" href="{{ path('rx_ria_models') }}">Models</a></li>
            {% endif %}
            <li {{ route == 'rx_ria_billing' ? 'class="active nav-item"' : 'nav-item' }}><a  class="nav-link" href="{{ path("rx_ria_billing") }}">Billing</a></li>
            <li {{ route == 'rx_ria_prospects' ? 'class="active nav-item"' : 'nav-item' }}><a class="nav-link" href="{{ path('rx_ria_prospects') }}">Prospects</a></li>
            {# % if riaCompanyInformation.relationTypeLicenseFee %}
                <li {{ route == 'rx_ria_dashboard_rebalancing' ? 'class="active"' }}><a href="{{ path('rx_ria_dashboard_rebalancing') }}">Rebalancing</a></li>
            {% endif % #}
            <li {{ route == 'rx_ria_risk_profiling' ? 'class="active nav-item"' : 'nav-item' }}><a  class="nav-link" href="{{ path('rx_ria_risk_profiling') }}">Risks</a></li>

            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a  class="nav-link" href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.profile.firstName }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if (is_granted('ROLE_RIA_ADMIN')) %}
                            <li class="dropdown-item"><a  class="nav-link" href="{{ path('rx_ria_change_profile') }}">Admin Settings</a></li>
                        {% endif %}

                        <li  class="dropdown-item"><a  class="nav-link" href="{{ path('rx_ria_profile') }}">Profile Management</a></li>

                        {% if (is_granted('ROLE_RIA_ADMIN')) %}
                            <li  class="dropdown-item"><a  class="nav-link" href="{{ path('rx_ria_user_management')}}">User Management</a></li>
                        {% endif %}
                        <li class="dropdown-item"><a class="nav-link" href="{{path('rx_ria_user_create')}}">Create User</a></li>
                      {#  <li class="dropdown-item"><a class="nav-link" href="{{ path('rx_ria_user_reset_internally_password') }}">Reset User's Password</a></li>#}
                        <li class="dropdown-item"><a  class="nav-link" href="{{ path('logout') }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </ul>
    </div>
</nav>