
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center"
       href="{{ path('rx_ria_dashboard') }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <img src="{{ asset('img/logo.png') }}" width="20" alt="Logo"/>
        </div>
        <div class="sidebar-brand-text mx-3"> {{ 'wealthbot.io' | trans }}</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="{{ route == 'rx_ria_dashboard' ? 'active nav-item' : 'nav-item' }}">
        <a class="nav-link" href="{{ path('rx_ria_dashboard') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Charts -->
    <li class="{{ route == 'rx_ria_workflow' ? 'active nav-item' : 'nav-item' }}">
        <a class="nav-link" href="{{ path('rx_ria_workflow') }}">
            <i class="fas fa-fw fa-project-diagram"></i>
            <span>Workflow</span></a>
    </li>
    <li class="{{ route == 'rx_ria_dashboard_clients' ? 'active nav-item' : 'nav-item' }}">
        <a class="nav-link" href="{{ path('rx_ria_dashboard_clients') }}">
            <i class="fas fa-fw fa-users"></i>
            <span>Clients</span></a>
    </li>

    {% if riaCompanyInformation.portfolioModel.custom ?? false %}
        <li class="{{ route == 'rx_ria_dashboard_models_tab' ? 'active nav-item' : 'nav-item' }}">
            <a class="nav-link" href="{{ path('rx_ria_dashboard_models_tab', {tab:'models'}) }}">
                <i class="fas fa-fw fa-users"></i>
                <span>Portfolios</span></a>
        </li>
    {% else %}
        <li class="{{ route == 'rx_ria_models' ? 'active nav-item' : 'nav-item' }}">
            <a class="nav-link" href="{{ path('rx_ria_models') }}">
                <i class="fas fa-fw fa-cubes"></i>
                <span>Models</span></a>
        </li>
    {%  endif %}

    <li class="{{ route == 'rx_ria_billing' ? 'active nav-item' : 'nav-item' }}">
        <a class="nav-link" href="{{ path('rx_ria_billing') }}">
            <i class="fas fa-fw fa-money-bill"></i>
            <span>Billing</span></a>
    </li>

    {% if riaCompanyInformation.relationTypeLicenseFee %}
        <li class="{{ route == 'rx_ria_dashboard_rebalancing' ? 'active nav-item' : 'nav-item' }}">
            <a class="nav-link" href="{{ path('rx_ria_dashboard_rebalancing') }}">
                <i class="fas fa-fw fa-balance-scale"></i>
                <span>Rebalancing</span></a>
        </li>
    {% endif %}

    <li class="{{ route == 'rx_ria_risk_profiling' ? 'active nav-item' : 'nav-item' }}">
        <a class="nav-link" href="{{ path('rx_ria_risk_profiling') }}">
            <i class="fas fa-fw fa-exclamation-triangle"></i>
            <span>Risks Questionary</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>
<!-- End of Sidebar -->
