{% extends '/Ria/layout_themed.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">
    <div id="ria_rebalancing_page_content">
        {% block content %}
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <nav class="nav nav-tabs ">
                    <li {{ active_tab == 'rebalancer' ? 'class="active nav-item"' : 'nav-item' }}><a class="nav-link" href="#rebalancer_tab" data-toggle="tab">Rebalancer</a></li>
                    <li {{ active_tab == 'history' ? 'class="active nav-item"' : 'nav-item' }}><a class="nav-link" href="#history_tab" data-toggle="tab">History</a></li>
                    <li {{ active_tab == 'trade_recon' ? 'class="active nav-item"' : 'nav-item' }}><a class="nav-link" href="#trade_recon_tab" data-toggle="tab">Trade Recon</a></li>
                </nav>
                <div class="tab-content">
                    <div class="tab-pane {{ active_tab == 'rebalancer' ? 'active' : '' }}" id="rebalancer_tab">
                        {{ render(controller('App\\Controller\\Ria\\RebalancerController:index')) }}
                    </div>
                    <div class="tab-pane {{ active_tab == 'history' ? 'active' : '' }}" id="history_tab">
                        {{ render(controller('App\\Controller\\Ria\\RebalancerController:history')) }}
                    </div>
                    <div class="tab-pane {{ active_tab == 'trade_recon' ? 'active' : '' }}" id="trade_recon_tab">
                        {{ render(controller('App\\Controller\\Ria\\RebalancerController:tradeRecon', {
                            'date': app.request.query.get('date'),
                            'client': app.request.query.get('client')
                        } ))
                        }}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

    <div id="modal_dialog" class="modal longModal" style="width: 1170px; margin-left: -585px;">

        <div class="modal-content" style="height: auto;">


            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="bbh3"></h3>
            </div>
            <div class="modal-body">

            </div>

            <div class="modal-footer">
                <button type="submit" class="btn save-modal-form-btn btn-primary">Save</button>
                <a href="#" class="btn btn-primary"  data-dismiss="modal" aria-hidden="true">Cancel</a>
            </div>
        </div>

    </div>
        </div></div></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/ria/ria.rebalancing.js') }}"></script>
{% endblock %}
