{% extends '/Ria/Dashboard/clients_list.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/client/client.account_selector.js') }}"></script>
{% endblock %}

{% block clients_header %}
    <div class="ria-client-dashboard-header-content row col-10">
        <div class="col-11">
            <h1>
                {% if app.request.query.get('showBreadcrumbs') %}
                    {{ form_widget(searchForm.search, {
                        'id': 'filter-by-client-name',
                        'attr': {
                            'class': 'typeahead ajaxed filter-by-client-name input-medium',
                            'data-complete-url': path('rx_ria_dashboard_clients_search'),
                            'autocomplete': 'off',
                            'placeholder': 'Client Name'
                        }
                    }) }}
                    <a href="{{ path('rx_ria_dashboard_clients') }}">Clients</a> &gt;
                {% endif %}
                {{ client.fullName }}
            </h1>
        </div>
        <div>
            <a href="{{ path('rx_ria_dashboard_client_view', {'client_id': client.id }) }}"
               target="_blank" id="client_view_btn"
               data-redirect-action="overview">Client View</a>
        </div>
    </div>
{% endblock %}

{% block clients_content %}
    <div class="row">
        <div class="col-12 margin-top-7">
            <hr />
            <div id="ria_dashboard_client_content">
                {{ render(controller(doAction, { is_ajax: true })) }}
            </div>
        </div>
    </div>
{% endblock %}
