<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <h1 class="text-gray-800" > Ria Dashboard</h1>
    <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.username}}</span>
            <i class="fas fa-fw fa-user-circle"></i>
        </a>
        <!-- Dropdown - User Information -->

        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
             aria-labelledby="userDropdown">
            {% if (is_granted('ROLE_RIA_ADMIN')) %}
                <a class="dropdown-item" href="{{path('rx_ria_change_profile')}}">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Admin Settings
                </a>
            {% endif %}
            <a class="dropdown-item" href="{{ path('rx_ria_profile') }}">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile Management
            </a>
            {% if (is_granted('ROLE_RIA_ADMIN')) %}
                <a class="dropdown-item" href="{{ path('rx_ria_user_management')}}">
                    <i class="fas fa-users fa-sm fa-fw mr-2 text-gray-400"></i>
                    User Management
                </a>
            {% endif %}
            <a class="dropdown-item" href="{{path('rx_ria_user_create')}}">
                <i class="fas fa-user-plus fa-sm fa-fw mr-2 text-gray-400"></i>
                Create User
            </a>

            <a class="dropdown-item" href="{{ path('rx_ria_user_reset_internally_password',{user_id:app.user.id}) }}">
                <i class="fas fa-redo fa-sm fa-fw mr-2 text-gray-400"></i>
                Reset User's Password
            </a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
            </a>
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <a class="dropdown-item" href="{{ path('rx_admin_homepage', {'_switch_user': '_exit'}) }}">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                <span>Back to Admin</span></a>
            {% endif %}

        </div>
    </li>
    </ul>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Are you sure you want to leave?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{ path('logout') }}">Logout</a>
                </div>
            </div>
        </div>
    </div>
    {#<ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.username}}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <h6 class="dropdown-header">Menu header</h6>
                {% if (is_granted('ROLE_RIA_ADMIN')) %}
                    <a  class="dropdown-item" href="{{ path('rx_ria_change_profile') }}">Admin Settings</a>
                {% endif %}
                <a class="dropdown-item" href="{{ path('rx_ria_profile') }}">Profile Management</a>
                {% if (is_granted('ROLE_RIA_ADMIN')) %}
                    <a  class="dropdown-item" href="{{ path('rx_ria_user_management')}}">User Management</a>
                {% endif %}
                <a class="dropdown-item" href="{{path('rx_ria_user_create')}}">Create User</a>
                <a class="dropdown-item" href="{{ path('rx_ria_user_reset_internally_password',{user_id:app.user.id}) }}">Reset User's Password</a>
                <a  class="dropdown-item" href="{{ path('logout') }}">Logout</a>
            </div>
        </li>
    </ul>
#}
</nav>
