{#{% set etf_expenses = 0 %}
{% set investment_market = 0 %}#}
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
                ['', ''],
            {% for entity in portfolio_information.modelEntities %}
                ['{{ entity.securityAssignment.subclass.name }}', {{ entity.percent }} ],
            {% endfor %}
            ['', 0]
        ]);

        var options = {
            legend: {position: 'none'},
            chartArea: {width: '92%', height: '92%'},
            pieSliceText: 'value',
            tooltip: {text: 'value'}
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div_{{ portfolio_information.model.id }}'));

        var formatter = new google.visualization.NumberFormat(
                {suffix: '%'});
        formatter.format(data, 1); // Apply formatter to second column

        chart.draw(data, options);
    }
</script>

<h3 style="text-align: center">{{ portfolio_information.model.name }}</h3>
<table style="font-size: 10px;">
    <thead>
    <tr>
        <th colspan="3"  class="col-3">
            <div id="chart_div_{{ portfolio_information.model.id }}" style="width: 350px; height: 200px;"></div>
        </th>
    </tr>
    <tr>
        <th colspan="3" class="col-3">{{ portfolio_information.model.name }}</th>
    </tr>

    </thead>
    <tbody>
    {% if portfolio_information.modelEntities is not empty %}
        <tr>
            <th>Asset Class</th>
            <th>Investment Name</th>
            <th>Percentage</th>
        </tr>
        {% for entity in portfolio_information.modelEntities %}
            <tr>
                <td class="col-1">{{ entity.subclass.name }}</td>
                <td class="col-1">{{ entity.securityAssignment.security.name }} {{ entity.securityAssignment.security.symbol }}</td>
                <td class="col-1">{{ entity.percent|number_format(2, '.', ',') }}%</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr class="empty">
            <td colspan="8">No Asset Classes Selected.</td>
        </tr>
    {% endif %}
    <tr>
        <th colspan="3" class="col-3">
            <div class="center-text">Costs:</div>
        </th>
    </tr>
    <tr>
        <td colspan="3" class="col-3">
            Fund Expenses: {{ '%.2f' | format(portfolio_information.fundExpenses) }}%/year <br/>
        </td>
    </tr>
    <tr>
        <th colspan="3" class="col-3">
            <div class="center-text">Expected Performance:</div>
        </th>
    </tr>
    <tr>
        <td colspan="3" class="col-3">
            {#{% set generous_investment_market = investment_market * (model.generousMarketReturn ? model.generousMarketReturn : 1.2 ) %}#}
            Generous Investment Market: {{ '%.2f' | format(portfolio_information.generousInvestmentMarket) }}%
        </td>
    </tr>
    <tr>
        <td colspan="3" class="col-3">
            {#{% set average_investment_market = investment_market*1 %}#}
            Average Investment Market: {{ '%.2f' | format(portfolio_information.averageInvestmentMarket) }}%
        </td>
    </tr>
    <tr>
        <td colspan="3" class="col-3">
            {#{% set low_investment_market = investment_market * (model.lowMarketReturn ? model.lowMarketReturn : 0.8) %}#}
            Low Investment Market: {{ '%.2f' | format(portfolio_information.lowInvestmentMarket) }}%
        </td>
    </tr>
    </tbody>
</table>
