{% block subject %}
    {{ 'wealthbot.io' | trans }}
{% endblock %}
{% block body_html %}
    {% spaceless %}
        Hello, <strong>{{ client.profile.firstName }} {{ client.profile.lastName }}</strong>!<br/>
        Welcome to <a href="{{ url }}">{{ 'wealthbot.io' | trans }}</a>. <br/>
        Your username: <strong>{{ client.username }}</strong><br/>
        Your password: <strong>{{ password }}</strong>
    {% endspaceless %}
{% endblock %}
{% block body_text %}{% endblock %}