<form id="edit_client_outside_fund_form" action="{{ path('rx_ria_prospect_edit_client_outside_fund', {'client_id': client.id, 'account_id': account.id, 'security_id': form.vars.value.id}) }}" method="post" >
    {{ form_errors(form) }}
    <table>
        <tr>
            <td>{{ form_label(form.security.symbol) }}</td>
            <td>{{ form_label(form.security.name) }}</td>
            <td>{{ form_label(form.subclasses) }}</td>
            <td>{{ form_label(form.is_preferred) }}</td>
        </tr>
        <tr>
            <td>
                {{ form_errors(form.security.symbol) }}
                {{ form_widget(form.security.symbol) }}
            </td>
            <td>
                {{ form_errors(form.security.name) }}
                {{ form_widget(form.security.name) }}
            </td>
            <td>
                {{ form_errors(form.subclasses) }}
                {{ form_widget(form.subclasses) }}
            </td>
            <td align="center">
                {{ form_errors(form.is_preferred) }}
                {{ form_widget(form.is_preferred) }}
            </td>
        </tr>
        <tr>
            <td colspan="2">{{ form_rest(form) }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <a class="cancel-edit-fund-btn btn" href="#">Cancel</a>
                <input class="btn btn-primary"  type="submit" name="submit" value="Update"/>
            </td>
        </tr>
    </table>
</form>