{% extends is_client_view ? '/Ria/clear_layout.html.twig' : '/Ria/Dashboard/index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="/js/theme-js/jquery.flot.min.js"></script>
    <script src="/js/theme-js/jquery.flot.pie.min.js"></script>
    <script src="/js/theme-js/jquery.flot.stack.js"></script>
    <script src="/js/theme-js/jquery.flot.resize.min.js"></script>
    <script src="/js/theme-js/jquery.flot.tooltip.min.js"></script>
    <script src="/js/theme-js/jquery.flot.crosshair.js"></script>

    <script type="text/javascript" src="{{ asset('js/ria/ria.suggestedPortfolio.js') }}"></script>
    <script src="{{ asset('js/ria/ria.model.chart.js') }}"></script>

{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
    <div class="col-12">
    {% set action_route = is_client_view ? 'rx_ria_prospect_portfolio_client_view' : 'rx_ria_prospect_portfolio' %}
    {% set profile = client.profile %}

    <h3>Suggested Portfolio for: {{ profile.lastName }}, {{ profile.firstName }}</h3>

    <div class="client-information">
        <a class="toggle-client-information-btn" href="javascript:void(0)">View Client Information</a>
        <div class="information-table" style="display:none;">
            <table class="table table-striped shadow">
                <tr>
                    <th>Client:</th>
                    <td>{{ profile.firstName }}</td>
                    <td>{{ profile.middleName ? client.profile.middleName : '' }}</td>
                    <td>{{ profile.lastName }}</td>
                    <td>{{ profile.birthDate | date('m/d/Y') }}</td>
                    <td>{{ profile.maritalStatus }}</td>
                </tr>
                {% if profile.maritalStatus == 'Married' %}
                    <tr>
                        <th>Spouse:</th>
                        <td>{{ profile.spouseFirstName }}</td>
                        <td>{{ profile.spouseMiddleName ? profile.spouseMiddleName : '' }}</td>
                        <td>{{ profile.spouseLastName }}</td>
                        <td>{{ profile.spouseBirthDate | date('m/d/Y') }}</td>
                        <td></td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Contact Information:</th>
                    <td>{{ profile.street }}</td>
                    <td>{{ profile.city }}</td>
                    <td>{{ profile.state ? profile.state.name : '' }}</td>
                    <td>{{ profile.zip }}</td>
                    <td>
                        {{ '(%s)%s-%s' | format(profile.phoneNumber|slice(0, 3), profile.phoneNumber|slice(3, 3), profile.phoneNumber|slice(6)) }}
                    </td>
                </tr>
                <tr>
                    <th>Demographic Information:</th>
                    <td>{{ profile.employmentType }}</td>
                    <td>Annual Income: {{ profile.annualIncome }}</td>
                    <td>Net Worth: {{ profile.liquidNetWorth }}</td>
                    <td>Tax Bracket: {{ profile.estimatedIncomeTax*100 }}%</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="client-risk-answers">
        <a class="toggle-risk-answers-btn" href="javascript:void(0)">View Client Risk Answers</a>
        <div class="answers-table" style="display:none;">
            <table class="table table-striped shadow">
                <tr>
                    <th>Question</th>
                    <th>Answer</th>
                </tr>
                {% for client_answer in client_answers %}
                    <tr>
                        <td>{{ loop.index }}. {{ client_answer.question.title }}</td>
                        <td>{{ client_answer.answer.title }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    {% if not is_client_view %}
        <div class="clearfix">
            <a target="_blank" class="pull-right" href="{{ path('rx_ria_prospect_portfolio_client_view', {'client_id': client.id}) }}">Client View</a>
        </div>
    {% endif %}

    <form id="client_settings_form" class="form-horizontal" style="padding: 20px 20px" action="{{ path(action_route, {'client_id': client.id}) }}" method="post">
        {% if settings_form.vars.errors is not empty %}
            {{ form_errors(settings_form) }}
        {% endif %}

        {% if client_has_final_portfolio %}
            {% if (ria_company_information.isClientByClientManagedLevel) %}
                <div class="alert alert-info">
                    <strong>Asset Location:</strong>
                </div>
            {% endif %}

            {% if (settings_form.client_account_managed is defined) %}
                {% if ria_company_information.isClientByClientManagedLevel %}
                    <div class="form-group">
                        <strong>Portfolio Management Level:</strong>
                        <div>
                            {{ form_errors(settings_form.client_account_managed) }}
                            {{ form_widget(settings_form.client_account_managed) }}
                        </div>
                    </div>
                {% else %}
                    {{ form_widget(settings_form.client_account_managed) }}
                {% endif %}
            {% endif %}

        {% else %}

            <div class="form-group">
                <strong>Choose another portfolio:</strong>
                <div>
                    {{ form_errors(settings_form.client.portfolio) }}
                    {{ form_widget(settings_form.client.portfolio) }}
                </div>
            </div>

            {% if (settings_form.client_account_managed is defined) %}
                {% if ria_company_information.isClientByClientManagedLevel %}
                    <div class="form-group">
                        <strong>Portfolio Management Level:</strong>
                        <div>
                            {{ form_errors(settings_form.client_account_managed) }}
                            {{ form_widget(settings_form.client_account_managed) }}
                        </div>
                    </div>
                {% else %}
                    {{ form_widget(settings_form.client_account_managed) }}
                {% endif %}
            {% endif %}

            {% if settings_form.groups is defined %}
            <div class="form-group">
                <strong>Group:</strong>
                <div>
                    {{ form_errors(settings_form.groups) }}
                    {{ form_widget(settings_form.groups) }}
                </div>
            </div>
            {% endif %}

            <div class="form-group">
                <strong>Choose another billing spec:</strong>
                <div>
                    {{ form_errors(settings_form.billingSpec) }}
                    {{ form_widget(settings_form.billingSpec) }}
                </div>
            </div>

            <div class="form-group">
                <strong>Payment method:</strong>
                <div>
                    {{ form_errors(settings_form.paymentMethod) }}
                    {{ form_widget(settings_form.paymentMethod) }}
                </div>
            </div>
        {% endif %}

        {% set is_used_muni = false %}

        {% if client is defined %}
            {% set ria_tax_bracket = client.profile.ria.riaCompanyInformation.clientsTaxBracket %}
            {% set client_income_tax = client.profile.estimatedIncomeTax %}
        {% endif %}

        {% if is_use_qualified_models %}
            <div align="center">
                <a class="qualified-toggle" data-value="1" href="{{ path(action_route, { is_qualified: 1, client_id: client.id }) }}" class="qualified">Qualified</a>
                &nbsp;|&nbsp;
                <a class="qualified-toggle" data-value="0" href="{{ path(action_route, { is_qualified: 0, client_id: client.id }) }}">Non-Qualified</a>
            </div>
        {% endif %}

        {% include '/Client/Portfolio/_portfolio.html.twig' with {
            'portfolio_information': portfolio_information,
            'ria_company_information': ria_company_information,
            'has_retirement_account': has_retirement_account,
            'client': client,
            'action': action,
            'billing_spec': billing_spec
        } %}

        {% include '/Ria/Prospects/_client_account_list.html.twig' with {
            'client': client,
            'total': total,
            'client_accounts': client_accounts
        } %}

        {{ form_widget(settings_form.action_type) }}
        {{ form_widget(settings_form.is_qualified) }}
        {% if settings_form._token is defined %}
            {{ form_widget(settings_form._token) }}
        {% endif %}


    </form>

    <br/><br/>

    {% if not client.hasApprovedPortfolio %}
        <div class="client-account-form" style="padding:20px 20px">
            {% include '/Ria/Prospects/_create_client_account_form.html.twig' with { 'form' : form, 'client' : client } %}
        </div>
    {% endif %}

    {% if not client_has_final_portfolio %}
        <div class="form-actions">
            <button type="button" class="update-prospect-btn btn">Update</button>
            <input class="submit-final-portfolio-btn btn btn-info" type="submit" value="Submit Final Portfolio" />
        </div>
    {% endif %}
    </div></div></div>
{% endblock %}