{% extends '/Ria/layout_themed.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/css/bootstrap-glyphicons.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
        {{ parent() }}
        <script src="{{  asset('/js/backbone.marionette/underscore.js') }}"></script>
        <script src="{{  asset('/js/backbone.marionette/backbone.js') }}"></script>
        <script src="{{  asset('/js/backbone.marionette/backbone.marionette.js') }}"></script>
        <script src="{{ asset('/js/ria/ria.dashboard.clients.js') }}"></script>
        <script src="{{ asset('/js/ria/ria.prospects.js') }}"></script>
        <script src="{{ asset('/js/ria/ria.model.chart.js') }}"></script>
        <script src="{{ asset('js/src/plugin/backbone.collectionSorter.js') }}"></script>
        <script src="{{ asset('js/ria/fields.js') }}"></script>
        <script src="{{ asset('/js/ria/ria.clients.marionette.js') }}"></script>
        <script src="{{ asset('/js/client/client.profile.js') }}"></script>
        <script src="{{ asset('/js/client/client.accounts.js') }}"></script>
        <script src="{{ asset('/js/client/client.portfolio.js') }}"></script>
        <script src="{{ asset('/js/client/client.dashboard.js') }}"></script>
        <script src="{{ asset('/js/client/client.transfer.js') }}"></script>
        <script src="{{ asset('/js/client/client.dashboard.accountManagement.js') }}"></script>
        <script src="{{ asset('/js/client/client.profile.step1.js') }}"></script>
        <script src="{{ asset('/js/client/client.changeProfile.js') }}"></script>
        <script src="{{ asset('/js/client/client.dashboard.gainlosses.js') }}"></script>
        <script src="{{ asset('/js/client/client.dashboard.documents.js') }}"></script>
        <script src="{{ asset('/js/client/client.billing.js') }}"></script>
        <script src="{{ asset('/js/client/client.performance.js') }}"></script>
        <script src="{{ asset('/js/theme-js/jquery.flot.min.js') }}"></script>
        <script src="{{ asset('/js/theme-js/jquery.flot.pie.min.js') }}"></script>
        <script src="{{ asset('/js/theme-js/jquery.flot.stack.js') }}"></script>
        <script src="{{ asset('/js/theme-js/jquery.flot.resize.min.js') }}"></script>
        <script src="{{ asset('/js/theme-js/jquery.flot.tooltip.min.js') }}"></script>
        <script src="{{ asset('/js/theme-js/jquery.flot.crosshair.js') }}"></script>
        <script src="{{ asset('/js/theme-js/jquery.dataTables.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
    <h3>Clients</h3>

    <div class="tabbable">
        <ul class="nav nav-tabs ">
            <li {{ activeTab == 'clients' ? 'class="active nav-item"' : 'nav-item' }}><a class="nav-link" href="#tab_clients" data-toggle="tab">Clients</a></li>
            <li {{ activeTab == 'prospects' ? 'class="active nav-item"' : 'nav-item' }}><a  class="nav-link" href="#tab_prospects" data-toggle="tab">Prospects</a></li>
            <li {{ activeTab == 'invite-a-prospect' ? 'class="active nav-item"' : 'nav-item' }}><a  class="nav-link" href="#tab_invite_prospect" data-toggle="tab">Invite a Prospect</a></li>
            {#code_v2: NOT DELETE THIS CODE #}
            {#<li><a href="#tab4" data-toggle="tab" class="create-client-lnk"#}
            {#data-is-can-create-url="{{ path('rx_ria_dashboard_is_can_create_client') }}"#}
            {#data-url="{{ path('rx_ria_client_create') }}">Create Prospect</a>#}
            {#</li>#}
        </ul>
        <div class="tab-content">
            <div class="tab-pane {{ activeTab == 'clients' ? 'active' : '' }}" id="tab_clients">
                <div class="ria-client-dashboard-header row padding-bottom-20">
                {% block clients_header %}
                    <div id="header"></div>
                    {% include "/Ria/Dashboard/_tpl_clients_header.html.twig" %}
                {% endblock %}
                </div>
                <div id="clients">

                </div>

            </div>

            <div class="tab-pane {{ activeTab == 'prospects' ? 'active' : '' }}" id="tab_prospects">
                {{ render(controller('App\\Controller\\Ria\\ProspectsController:index')) }}
            </div>

            <div class="tab-pane {{ activeTab == 'invite-a-prospect' ? 'active' : '' }}" id="tab_invite_prospect">
                <form id="invite_prospect_form" action="{{ path('rx_ria_prospects_invite') }}">
                    {% include '/Ria/Prospects/_invite_prospect_form_fields.html.twig' with { 'form': inviteForm } %}
                </form>
            </div>
            {% block clients_content %}
                {% include "/Ria/Dashboard/_tpl_clients_table.html.twig" %}
                {% include "/Ria/Dashboard/_tpl_client_view.html.twig" %}
                {% include "/Ria/Dashboard/_tpl_account_view.html.twig" %}
                {% include "/Ria/Dashboard/_tpl_modal_client_settings.html.twig" %}
                {% include "/Ria/Dashboard/_tpl_modal_account_settings.html.twig" %}
            {% endblock %}

            {#code_v2: NOT DELETE THIS CODE #}

            {#<div class="tab-pane" id="tab4">#}
            {#<div class="progress progress-striped active">#}
            {#<div class="bar" style="width: 50%;"></div>#}
            {#</div>#}
            {#<div class="create-prospect-content">#}

            {#</div>#}
            {#</div>#}
        </div>
    </div>
        </div></div></div>
{% endblock %}
