{% extends '/Ria/layout_themed.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs ">
            <li class="nav-item"><a class="nav-link" href="#categories_tab" data-toggle="tab">Categories</a></li>
            <li class="nav-item"><a class="nav-link" href="#securities_tab" data-toggle="tab">Securities</a></li>
            <li class="nav-item active"><a class="nav-link" href="#models_tab" data-toggle="tab">Models</a></li>
            {% if is_show_rebalancer_history %}
                <li class="nav-item">{{ active_tab == 'rebalancer_history' ? 'class="active"' : '' }}<a class="nav-link" href="#history_tab" data-toggle="tab">Rebalancer History</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane {{ active_tab == 'categories' ? 'active' : '' }}" id="categories_tab"
                 data-is-show-subclasses-priority="{{ (is_show_subclasses_priority is defined and is_show_subclasses_priority) ? 'true' : 'false' }}" >
                {{ render(controller('App\\Controller\\Ria\\CategoriesController:index')) }}
            </div>
            <div class="tab-pane {{ active_tab == 'securities' ? 'active' : '' }}" id="securities_tab">
                {{ render(controller('App\\Controller\\Ria\\SecuritiesController:modelSecuritiesList')) }}
            </div>
            <div class="tab-pane {{ active_tab == 'models' ? 'active' : '' }}" id="models_tab">
                {{ render(controller('App\\Controller\\Ria\\ModelsController:index', {'withLayout': false} )) }}
            </div>
            <div class="tab-pane {{ active_tab == 'rebalancer_history' ? 'active' : '' }}" id="history_tab">
                {{ render(controller('App\\Controller\\Ria\\RebalancerController:history')) }}
            </div>
        </div>
    </div>

    <div id="modal_dialog" class="modal longModal">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="bbh3"></h3>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn save-modal-form-btn btn-primary">Save</button>
                <a href="#" class="btn btn-primary"  data-dismiss="modal" aria-hidden="true">Cancel</a>
            </div>
        </div>

    </div>
                </div></div></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/admin/admin.categories.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/admin.model_securities.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/ria/ria.securities.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/ria/ria.models.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/ria/ria.rebalancing.js') }}"></script>
{% endblock %}