{% extends "/User/Security/login.html.twig" %}

{% block login_content %}

    {% if success is defined %}
        <br><br><br><br><br>
        <h3>Please check your email.</h3>
        <a href="{{ path('login') }}">Back to sign in</a>
    {% else %}
            <form action="{{ path('rx_security_reset_password') }}" method="post" class="">

            <div class="form-group">
                {{ form_label(form.email, null, { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
            </div>
            <div class="form-group">
                <input class="btn btn-info reset-password-button" type="submit" id="_submit" name="_submit" value="Reset"/>
                <a href="{{ path('login') }}" class="margin-left-20">Back to sign in</a>

            </div>
            {{ form_rest(form) }}

        </form>
    {% endif %}
{% endblock %}
