<!DOCTYPE html>
<html>
{% block html_head %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {%- if block('title') -%}
                {{ block('title') }} | wealthbot.io
            {%- else -%}
                wealthbot.io
            {%- endif -%}
        </title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/bootstrap.css">
            <link rel="stylesheet" href="/css/bootstrap-responsive.css">
            <link rel="stylesheet" href="/css/styles.css">
            <link rel="stylesheet" href="/css/jquery-ui-1.9.2.custom.min.css"/>
            {% stylesheets
            'bundles/user/css/*'
            'bundles/wealthbotria/css/*'
            filter='cssrewrite'
            %}
            <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    </head>
{% endblock %}

{% block html_body %}
    <body>
    {% block headernav %}
        {% if app.environment != 'prod' %}
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="/" name="top">wealthbot.io</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#contact">Contact</a></li>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                                {% else %}
                                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                                    <li><a href="{{ path('rx_ria_register') }}">Register Ria</a></li>
                                {% endif %}

                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <li class="pull-right">
                                        <a href="{{ path('rx_user_switch_to_admin', { _switch_user: '_exit' }) }}">Back to Admin</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                    <!--/.container-fluid -->
                </div>
                <!--/.navbar-inner -->
            </div>
        {% endif %}
    {% endblock %}
    <div class="container ceNavbar">

        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/index.php"><img src="/img/ce-mini-logo.png" alt="wealthbot.io"></a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="index.php">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="about-whoweare.php">Who We Are</a></li>
                                <li><a href="about-team.php">The Team</a></li>
                            </ul>
                        </li>
                        <li <li="" class="active dropdown"><a href="whatwedo.php">What We Do</a></li>
                        <li><a href="howwedoit.php">How We Do It</a></li>
                        <li><a href="whyuseus.php">Why Use Us</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div id="page-title">

        <div id="page-title-inner">

            <!-- start: Container -->
            <div class="container">

                <h2>Find an Advisor</h2>

            </div>
            <!-- end: Container  -->

        </div>

    </div>


    {% block main_container %}
        <div class="container">
            {% block flash_messages %}
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            {{ flashMessage }}
                            <a class="close" data-dismiss="alert" href="#">&times;</a>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}

            {% block body %}{% endblock %}
        </div>
    {% endblock %}
    <div id="footer-menu">

        <!-- start: Container -->
        <div class="container">

            <!-- start: Row -->
            <div class="row">

                <!-- start: Footer Menu Logo -->
                <div class="span2">
                    <div id="footer-menu-logo">
                        <img src="../img/celogotrans.png" alt="wealthbot.io">
                    </div>
                </div>

                <!-- start: Footer Menu Back To Top -->
                <div class="span1 offset9">

                    <div id="footer-menu-back-to-top">
                        <a href="#"></a>
                    </div>

                </div>
                <!-- end: Footer Menu Back To Top -->
            </div>
            <!-- end: Row -->

        </div>
        <!-- end: Container  -->

    </div>
    <div id="footer">

        <!-- start: Container -->
        <div class="container">

            <div class="row">
                <div class="span2 offset1">
                    <ul class="nav">
                        <li><strong>Advisors</strong></li>
                        <li><a href="http://www.wealthbot.io/advisors/about-whoweare.php">Who We Are</a></li>
                        <li><a href="http://www.wealthbot.io/advisors/whatwedo.php">What We Do</a></li>
                        <li><a href="http://www.wealthbot.io/advisors/howwedoit.php">How We Do It</a></li>
                        <li><a href="http://www.wealthbot.io/advisors/whyuseus-massaffluent.php">Why Use Us?</a></li>
                        <li><a href="http://www.wealthbot.io/faq.php">RIA FAQ</a></li>
                        <li><a href="http://www.wealthbot.io/advisors/contactus.php">Contact Us</a></li>
                    </ul>
                </div>
                <div class="span2">
                    <ul class="nav">
                        <li><strong>Clients</strong></li>
                        <li><a href="http://www.wealthbot.io/clients/about-whoweare.php">Who We Are</a></li>
                        <li><a href="http://www.wealthbot.io/clients/whatwedo.php">What We Do</a></li>
                        <li><a href="http://www.wealthbot.io/clients/howwedoit.php">How We Do It</a></li>
                        <li><a href="http://www.wealthbot.io/clients/whyuseus.php">Why Use Us?</a></li>
                        <li><a href="http://www.wealthbot.io/faq.php">Client FAQ</a></li>
                        <li><a href="http://www.wealthbot.io/clients/">Find an Advisor</a></li>
                    </ul>
                </div>
                <div class="span2">
                    <ul class="nav">
                        <li><strong>More</strong></li>
                        <li><a href="http://www.wealthbot.io/advpartII.php">ADV Part II</a></li>
                        <li><a href="http://www.wealthbot.io/privacypolicy.php">Privacy Policy</a></li>
                        <li><a href="http://www.wealthbot.io/clientagreement.php">Client Agreement</a></li>
                        <li><a href="http://www.wealthbot.io/terms.php">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="span4 offset1">

                    <div id="social-r" class="tooltips">
                        <a href="#" rel="tooltip" title="Facebook" class="facebook">Facebook</a>
                        <a href="#" rel="tooltip" title="LinkedIn" class="linkedin">LinkedIn</a>
                        <a href="#" rel="tooltip" title="Blog" class="rss">Blog</a>
                        <a href="#" rel="tooltip" title="Twitter" class="twitter">Twitter</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui-1.9.2.custom.min.js"></script>
        <script type="text/javascript" src="/js/jquery.form.js"></script>
        <script type="text/javascript" src="/js/jquery.autoNumeric.js"></script>
        <script type="text/javascript" src="/js/jquery.placeholder.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/custom.js"></script>
        <script src="/js/backbone.marionette/underscore.js"></script>
        {#<script src="/bundles/wealthbotria/js/src/Util.js"></script>#}

        {% javascripts '@WealthbotRiaBundle/Resources/public/js/src/Util.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            $(document).ready(function () {
                $("[rel=popover]").popover();
            });
        </script>
    {% endblock %}
    </body>
{% endblock %}
</html>
