{% extends "FOSUserBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@WealthbotUserBundle/Resources/public/js/user.default.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block fos_user_content %}

<div class="container">
    <div class="row">
        <div class="span8">
            <div class="logo-ce-login center-text"><img src="{{ ria_logo is defined and ria_logo ? ria_logo : '/img/logo.png' }}" alt=""></div>
        </div>
        {% block login_content %}
        <div class="span4 form-container">
            <form action="{{ path("fos_user_security_check") }}" method="post" class="regRia-form">
                <fieldset>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="control-group">
                        <label for="username" class="control-label required">Email Address:{#{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}#}</label>
                        {% if error %}
                            <div class="error">{{ error|trans({}, 'FOSUserBundle') }}</div>
                        {% endif %}
                        <div class="controls">
                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="password" class="control-label required">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                        <input type="password" id="password" name="_password" required="required" />

                        <div class="form-inline">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                        </div>
                    </div>

                    <a href="{{ path('rx_security_reset_password') }}" id="forgot-password-button">Forgot your password?</a>

                    <div class="control-group">
                        <input class="btn btn-info" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                    </div>
                </fieldset>
            </form>
        </div>
        {% endblock %}
    </div>
</div>

{% endblock fos_user_content %}
