{% extends "/User/layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/user.default.js') }}"></script>
{% endblock %}

{% block fos_user_content %}

<div class="container-fluid">
   <div class="d-flex flex-row justify-content-center align-items-center"  style="margin-top: 100px;">
        {% block login_content %}
        <div class="p-2">
            <form style="padding: 8px 8px" action="{{ path("check") }}" method="post" class="regRia-form">
                <img height="60" class="img-responsive" src="{{ ria_logo is defined and ria_logo ? ria_logo : '/img/logo.png' }}" alt="">
                {% if error %}
                    <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
                {% endif %}
                <fieldset>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="form-group">
                        <label for="username" class="required">Email Address:{#{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}#}</label>
                        <div class="controls">
                            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label required">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                        <input class="form-control" type="password" id="password" name="_password" required="required" />

                        <br />
                        <div class="form-inline">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                        </div>
                    </div>

                    <a href="{{ path('rx_security_reset_password') }}" id="forgot-password-button">Forgot your password?</a>

                    <div class="form-group">
                        <input class="btn btn-outline-info" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                    </div>
                </fieldset>
            </form>
        </div>
        {% endblock %}
    </div>
</div>

{% endblock fos_user_content %}
