{% extends '/Mailer/Client/_client_layout.html.twig' %}

{% block subject %}
    {% autoescape false %}
    {{ 'Reset Password' }}
    {% endautoescape %}
{% endblock %}

{% block message %}
    {% if client.profile.hasStatusClient %}
        {% set redirect_url = url('rx_client_change_profile_change_password') %}
    {% else %}
        {% set redirect_url = url('rx_client_portfolio') %}
    {% endif %}


    {% if (ria.riaCompanyInformation.slug) %}
        {% set login_url = subdomain_url(ria.riaCompanyInformation, 'login', {'redirect_url': redirect_url}) %}
    {% else %}
        {% set login_url = url('login', {'redirect_url': redirect_url}) %}
    {% endif %}

    {{ client.firstName }},<br/><br/>
    You’ve requested a password reset:
    <br/><br/>
    Username: {{ client.email }}
    Password: {{ new_password }}
    <br/><br/>
    Please <a href="{{ login_url }}">login</a> with your new password and reset if you like.
{% endblock %}