{% extends '/Admin/layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">
    <h3>Billing</h3>

    <div class="row" id="billingApp">
        <div class="col-4">
            <div class="well">
                <div class="form-group">
                    <div class="controls">
                        <select id="year">
                            {% for year in years %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="btn-group"  role="group">
                    <button type="button" class="btn btn-primary btn-sm interval quarter" data-value="1">Quarter 1</button>
                    <button type="button" class="btn btn-primary btn-sm interval quarter hide" data-value="2">Quarter 2</button>
                    <button type="button" class="btn btn-primary btn-sm interval quarter hide" data-value="3">Quarter 3</button>
                    <button type="button" class="btn btn-primary btn-sm interval quarter hide" data-value="4">Quarter 4</button>
                    <button type="button" class="btn btn-primary btn-sm interval" data-value="0">Year</button>
                </div>
            </div>
            <div id="billingData"></div>
        </div>
        <div class="col-8" id="clientList"></div>
    </div>

    <script type="text/template" id="tplClients">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th width="30%">Client</th>
                    <th width="29%">Ria</th>
                    <th width="10%" class="no-wrap">Account Number</th>
                    <th width="15%" class="no-wrap">Fee Billed</th>
                    <th width="15%" class="no-wrap">Fee Collected</th>
                    <th width="1%"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </script>

    <script type="text/template" id="tplClientItem">
        <td><%= name %></td>
        <td><%= riaName %></td>
        <td><%= number %></td>
        <td class="<%= getClassName() %> editable" id="feeBilled"><%= getFeeBilled() %></td>
        <td class="<%= getClassName() %> editable" id="feeCollected"><%= getFeeCollected() %></td>
        <td><a href="#" id="btnEdit" class="btn btn-small <%= billItemId == 0 ? 'disabled' : '' %>"><i class="icon-edit"></i></a></td>
    </script>

    <script type="text/template" id="tplBillingData">
        <div class="titles">
            <h4><span id="quarter"></span> Billing summary</h4>
            <h5 id="interval" class="hide">xx/xx/xxxx - xx/xx/xxxx</h5>
        </div>
        <p><span class="big">RIA</span> <span class="small">Fees Billed $<%= riaFees.formatMoney() %></span></p>
        <p><span class="big">Wealthbot Fees Billed: $<%= adminFees.formatMoney() %></span></p>
        <% if (quarter) { %>
            <div class="small">Fees Collected: $<%= feesCollected.formatMoney() %></div>
            <div class="progress"><div class="bar bar-success" style="width: <%= feesCollectedPercent %>%"></div></div>
            <div><a href="<%= Routing.generate('rx_admin_billing_custodian_fee_file', { year: year, quarter: quarter }) %>">Custodian Fee File <i class="icon-download"></i></a></div>
        <% } else { %>
            {#<div><a href="<%= Routing.generate('rx_admin_billing_summary_report', { year: year } %>">Billing summary <i class="icon-download"></i></a></div>#}
        <% } %>
    </script>
        </div></div></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/admin/Billing/admin.billing.js') }}"></script>

    <script>
        App.Var.fromDate = '{{ fromDate }}';
        App.module('Wealthbot.Admin.Billing').start();
    </script>
{% endblock %}