<div class="form-group">
    {{ form_label(form.subclass) }}
    <div class="controls">
        {{ form_errors(form.subclass) }}
        {{ form_widget(form.subclass) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.securityAssignment, 'Security') }}
    <div class="controls">
        {{ form_errors(form.securityAssignment) }}
        {{ form_widget(form.securityAssignment) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.symbol) }}
    <div class="controls">
        {{ form_errors(form.symbol) }}
        {{ form_widget(form.symbol, { 'attr': {'class': 'symbol'}}) }}
    </div>
</div>
{% if form.muniSubstitution is defined %}
    <div class="form-group">
        {{ form_label(form.muniSubstitution) }}
        <div class="controls">
            {{ form_errors(form.muniSubstitution) }}
            {{ form_widget(form.muniSubstitution) }}
        </div>
    </div>

    {% if form.muni_substitution_symbol is defined %}
        <div class="form-group">
            {{ form_label(form.muni_substitution_symbol, 'Symbol') }}
            <div class="controls">
                {{ form_errors(form.muni_substitution_symbol) }}
                {{ form_widget(form.muni_substitution_symbol) }}
            </div>
        </div>
    {% endif %}
{% endif %}