{% extends '/Ria/Dashboard/index.html.twig' %}

{% block body %}
<div class="container-fluid"><div class="row"><div class="col-12">
    <h1>User Management</h1>

    <nav class="nav nav-tabs " id="myTab">
        <li class="active nav-item"><a class="nav-link" data-toggle="tab" href="#user_management">User Management</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#user_password_management">Group Management</a></li>
    </nav>

    <div class="tab-content user-management">
        <div class="tab-pane active" id="user_management">
            {% include '/Ria/User/create.html.twig' with { 'form': create_user_form, 'ria_users': ria_users } %}
        </div>
        <div class="tab-pane" id="user_password_management">
            {% include '/Ria/User/groups.html.twig' with { 'form': groups_form, 'groups': groups, 'ria':ria }  %}
        </div>
    </div>
</div></div></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ria/ria.change_profile.js') }}"></script>
    <script src="{{ asset('js/jquery/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('js/jquery/jquery-picklist.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery-picklist.css') }}">

{% endblock %}