{% if (action == 'view_and_test' or ria_company_information.isShowClientExpectedAssetClass) %}
    {% set investment_market = 0 %}

    <div class="box col-6">

        {% set appointedBillingSpec =  (client is defined and client is not null) ? client.appointedBillingSpec : null %}

        {% include "/Client/Portfolio/_portfolio_costs.html.twig" with {
            'ria_company_information': ria_company_information,
            'has_retirement_account': has_retirement_account,
            'fund_expenses': portfolio_information.fundExpenses,
            'fees': portfolio_information.fees,
            'commissions': portfolio_information.commissionsAsString,
            'action': action,
            'billing_spec': appointedBillingSpec
            }
        %}
    </div>

    <div class="box col-6 suggested-portfolio-performance">
        <div class="box-header shadow">
            Performance
        </div>
        <div class="box-content shadow">
            <table>
                <tr>
                    <td>
                        <strong>Expected Asset Class Performance:</strong>
                        <br>
                        {% for entity in portfolio_information.modelEntities %}
                             {{ entity.subclass.name }}: {{ entity.subclass.expectedPerformance }}%<br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% set forecast = portfolio_information.forecast %}
                        {% if forecast or (not forecast and action != 'client_portfolio') %}
                            <strong>Expected Return of Portfolio ({{ portfolio_information.forecast }} Years):</strong>
                        {% endif %}
                        <br>
                        {% set generousInvestmentMarket = portfolio_information.generousInvestmentMarket %}
                        {% if (generousInvestmentMarket or (not generousInvestmentMarket and (action != 'client_portfolio' and action != 'client_approve_portfolio'))) %}
                            Generous Investment Market: {{ '%.2f' | format(portfolio_information.generousInvestmentMarket) }}%
                            <br/>
                        {% endif %}
                        Average Investment Market: {{ '%.2f' | format(portfolio_information.averageInvestmentMarket) }}%
                        <br/>
                        {% set lowInvestmentMarket = portfolio_information.lowInvestmentMarket %}
                        {% if (lowInvestmentMarket or (not lowInvestmentMarket and (action != 'client_portfolio' and action != 'client_approve_portfolio'))) %}
                            Low Investment Market: {{ '%.2f' | format(portfolio_information.lowInvestmentMarket) }}%
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% else %}
    <div class="box col-6">
        {% include "/Client/Portfolio/_portfolio_costs.html.twig" with {
            'ria_company_information': ria_company_information,
            'has_retirement_account': has_retirement_account,
            'fund_expenses': portfolio_information.fundExpenses,
            'fees': portfolio_information.fees,
            'commissions': portfolio_information.commissionsAsString,
            'billing_spec': billing_spec
        } %}
    </div>
{% endif %}