{% extends with_layout ? '/Ria/layout.html.twig': '/Ria/empty_layout.html.twig' %}

{% block body %}
    <h1>Workflow</h1>
    <ul class="nav nav-tabs ">
        <li {{ tab == 'active' ? 'class="active nav-item"' : 'nav-item' }}>
            <a class="nav-link" data-toggle="tab" href="#tab_active" >Active Workflow</a>
        </li>
        <li {{ tab == 'archived' ? 'class="active nav-item"' : 'nav-item' }}>
            <a class="nav-link" data-toggle="tab" href="#tab_archived" >Archived Workflow</a>
        </li>
        <li {{ tab == 'activity' ? 'class="active nav-item"' : 'nav-item' }}>
            <a class="nav-link" data-toggle="tab" href="#tab_activity" >Activity Summary</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane {{ tab == 'active' ? 'active' : '' }}" id="tab_active" data-tab="active">
            {% include '/Ria/Workflow/_active_workflow_list.html.twig' with { 'pagination': paginations['active'] } %}
        </div>

        <div class="tab-pane {{ tab == 'archived' ? 'active' : '' }}" id="tab_archived" data-tab="archived">
            {% include '/Ria/Workflow/_archived_workflow_list.html.twig' with { 'pagination': paginations['archived'] } %}
        </div>

        <div class="tab-pane {{ tab == 'activity' ? 'active' : '' }}" id="tab_activity" data-tab="activity">
            {% include '/Ria/Workflow/_workflow_activity_list.html.twig' with { 'pagination': paginations['activity'] } %}
        </div>
    </div>


    <div id="modal_dialog" class="modal longModal">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="bbh3"></h3>
            </div>
            <div class="modal-body">

            </div>

            <div class="modal-footer">
                <button type="submit" class="btn save-modal-form-btn btn-primary">Save</button>
                <a href="#" class="btn btn-primary cancel-modal-form-btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/ria/ria.workflow.js') }}"></script>
{% endblock %}