{% extends '/Ria/layout_themed.html.twig' %}


{% block body %}


<div class="billing">
    <h1>Billing</h1>

    <ul class="nav nav-tabs ">
        <li class="{{ active_tab == 'summary' ? 'active nav-item' : ' nav-item' }}"><a class="nav-link" href="#summary" data-toggle="tab">Billing Summary</a></li>
        <li class="{{ active_tab == 'specs' ? 'active nav-item' : ' nav-item' }}"><a class="nav-link" href="#specs" data-toggle="tab">Billing Specs</a></li>
        {#<li><a href="#old" data-toggle="tab">Old</a></li>#}
    </ul>

    <div class="tab-content" id="main">
        <div class="tab-pane {{ active_tab == 'summary' ? 'active' : '' }}" id="summary">

        </div>
        <div class="tab-pane {{ active_tab == 'specs' ? 'active' : '' }}" id="specs">
            <div id="newFormRegion"></div>
            <div id="specListRegion"></div>
            <div id="specFormRegion"></div>
        </div>

{#
        <div id="old" class="tab-pane">


            <div class="row">

                {% include '/Ria/Profile/_step_three_form.html.twig' with { 'form': form } %}

            </div>

        </div>
#}
    </div>
</div>

<div id="fee_preview" class="modal longModal">

    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Preview Final Billing Schedule</h3>
        </div>

        <div class="modal-body">

        </div>

        <div class="modal-footer">
            <a href="#" class="btn btn-primary"  data-dismiss="modal" aria-hidden="true">Close</a>
        </div>

    </div>

</div>

{# BackBone templates #}
    <script id="tpl-billing-spec" type="text/template">
        <%= name %>
    </script>


    <script id="tplSpecCollection" type="text/template">

        <h2>Specs</h2>
        <div class="specs btn-group">
        </div>
        {#<button class="btn btn-primary add-new">Add new item</button>#}
    </script>


    <script id="tplTypeSelector" type="text/template">
        <h2>Create new Billing Spec. Choose type:</h2>

        <div class="col-2">
            <a href="#" class="flat-fee btn">Flat fee</a>
        </div>

        <div class="col-2">
            <a href="#" class="tier-fee btn">Tier fee</a>
        </div>
    </script>

    {% include  "/Ria/Billing/_tpl_spec_name.html.twig" with {'is_relation_type_tamp': is_relation_type_tamp} %}
    {% include  "/Ria/Billing/_tpl_flat_fee_form.html.twig" %}
    {% include  "/Ria/Billing/_tpl_tier_fee_form.html.twig" %}
    {% include  "/Ria/Billing/_tpl_tier_row.html.twig" %}
    {% include  "/Ria/Billing/_tpl_tier_list.html.twig" %}
    {% include  "/Ria/Billing/_tpl_tier_data_form.html.twig" %}

    {% include "/Ria/Billing/summary.html.twig" %}

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).on('click','#myTab a',function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    </script>

    <script src="{{ asset('/js/ria/ria.fees.table.js') }}"></script>
    <script src="{{ asset('/js/backbone.marionette/underscore.js') }}"></script>
    <script src="{{ asset('/js/backbone.marionette/backbone.js') }}"></script>
    <script src="{{ asset('/js/backbone.marionette/backbone.marionette.js') }}"></script>
    <script src="{{ asset('/js/ria/Util.js') }}"></script>
    <script src="{{ asset("/js/src/plugin/errorHandler.js") }}"></script>
    <script src="{{ asset('/js/ria/app.js') }}"></script>
    {% include "js_constants.html.twig" %}
    {% include "js_alert.html.twig" %}
    <script src="{{ asset('/js/ria/CollectionSorter.js') }}"></script>
    <script src="{{ asset('/js/ria/alert.js') }}"></script>
    <script src="{{ asset('/js/ria/fields.js') }}"></script>
    <script src="{{ asset('/js/ria/Billing/ria-dashboard.js') }}"></script>
    <script src="{{ asset('/js/ria/Billing/ria-summary.js') }}"></script>

    <script>
        App.csrf = "{{ csrf }}";
        App.Var.straightProcessing = {% if straight_portfolio_processing %}true{% else %}false{% endif %};
        App.Var.riaCreatedAt = '{{ riaCreatedAt }}';
        {% if currentYear is defined %}
            App.Var.currentYear = '{{ currentYear }}';
            App.Var.currentQuarter = '{{ currentQuarter }}';
        {% endif %}

        App.module('Wealthbot.Billing.RiaSpecs').start();
        App.module('Wealthbot.Billing.RiaSummary').start();

{#
        $(function(){
            setTimeout(function() {
                $(document).on('click','a[href="#specs"]',);

                $(document).on('click',"#specListRegion .add-new",);
                $(document).on('click',".tier-fee",);
            }, 5000);
        });
#}
    </script>
{% endblock %}