{% extends '/Admin/Pas/layout.html.twig' %}

{% block tab_content %}
    <div id="transactionApp"></div>

    <div class="pagination pagination-centered">
        {{ knp_pagination_render(pagination) }}
    </div>

    <script type="text/template" id="tpl_transactionLayout">
        <div>
            <button class="btn btn-primary"  id="btnAddTransaction">Add Transaction</button>
            <button class="btn btn-primary"  disabled="disabled">Update</button>
        </div>
        <div id="transactionList"></div>

        {% include "Admin/Pas/Transaction/form.html.twig" with { form: form } %}
    </script>

    <script type="text/template" id="tpl_transactionItem">
        <td></td>
        <td><%= ria %></td>
        <td><%= last_name %></td>
        <td><%= first_name %></td>
        <td><%= acct_number %></td>
        <td>
            <select name="status" class="input-small">
                <option value="{{ constant('App\\Document\\Transaction::STATUS_NOT_POSTED') }}">Not Posted</option>
                <option value="{{ constant('App\\Document\\Transaction::STATUS_POSTED') }}">Posted</option>
                <option value="{{ constant('App\\Document\\Transaction::STATUS_CANCELLED') }}">Cancelled</option>
            </select>
        </td>
        <td><%= security_type %></td>
        <td><%= transaction_type %></td>
        <td><%= trade_date %></td>
        <td><%= symbol %></td>
        <td><%= shares %></td>
        <td><%= gross_amount %></td>
        <td><%= cash_id %></td>
        <td><%= fees %></td>
        <td><%= original_trade_date %></td>
        <td><%= settlement_date %></td>
        <td><%= total_market_value %></td>
        <td><%= matching_method %></td>
        <td><%= notes %></td>
        <td><%= origination %></td>
        <td><%= entry_date %></td>
        <td><%= interface_file %></td>
        <td><%= net_amount %></td>
        <td><%= username %></td>
    </script>

    <script type="text/template" id="tpl_transactions">
        <table class="table pas-sec-files">
            <thead>
                <th>#</th>
                <th>RIA</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Acct Name</th>
                <th>Status</th>
                <th>Security Type</th>
                <th>Transaction Type</th>
                <th>Trade Date</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Gross Amount</th>
                <th>Cash ID</th>
                <th>Fees</th>
                <th>Original Trade Date</th>
                <th>Settlement Date</th>
                <th>Total Market Value</th>
                <th>Matching Method</th>
                <th>Notes</th>
                <th>Origination</th>
                <th>Entry Date</th>
                <th>Interface File</th>
                <th>Net Amount</th>
                <th>User Edit</th>
            </thead>
            <tbody></tbody>
        </table>
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        App.Var.transactions = {{ data|raw }};
        App.module('Wealthbot.Admin.Pas.Transaction').start();
    </script>

{% endblock %}
