<h3>{% block title %}Create New User{% endblock %}</h3>

{% block flash_messages %}
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
                {{ flashMessage }}
                <a class="close" data-dismiss="alert" href="#">&times;</a>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

<div class="row">
        <form action="{% block form_action %}{{ path('rx_ria_user_create') }}{% endblock %}" id="user-form" method="post" class="form-horizontal col-5 col-offset-1">
            {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_label(form.profile.first_name, null, { 'label_attr': { 'class': 'control-label' } }) }}
                    <div class="controls">
                        {{ form_errors(form.profile.first_name) }}
                        {{ form_widget(form.profile.first_name) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.profile.last_name, null, { 'label_attr': { 'class': 'control-label' } }) }}
                    <div class="controls">
                        {{ form_errors(form.profile.last_name) }}
                        {{ form_widget(form.profile.last_name) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.email, null, { 'label_attr': { 'class': 'control-label' } }) }}
                    <div class="controls">
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                </div>
                {% if form.offsetExists('type') %}
                    <div class="form-group">
                        {{ form_label(form.type, null, { 'label_attr': { 'class': 'control-label' } }) }}
                        <div class="controls">
                            {{ form_errors(form.type) }}
                            {{ form_widget(form.type) }}
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    {{ form_label(form.groups, null, { 'label_attr': { 'class': 'control-label' } }) }}
                    <div class="controls">
                        {{ form_errors(form.groups) }}
                        {{ form_widget(form.groups) }}
                    </div>
                </div>

                {{ form_rest(form) }}
                {% block form_buttons %}
                    <button type="submit" class="btn btn-primary btn-ajax">Create</button>
                {% endblock %}
                <br />
        </form>

    <div class="col-6">
        <table id="users_list" class="table table-striped">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>

            {% if ria_users|length > 0 %}
                    {% for user in ria_users   %}
                        <tr>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.isRiaAdmin ? 'Admin' : 'User' }}</td>
                            <td>
                                <a class="btn edit-ria-user-btn" href="{{ path('rx_ria_user_edit', { 'user_id': user.id }) }}">Edit</a>
                                {% if user.id == ria.id %}
                                    <span class="empty_span"></span>
                                {% else %}
                                    <a class="btn delete-ria-user-btn" href="{{ path('rx_ria_user_delete', { 'user_id': user.id }) }}" class="margin-left-15">Delete</a>
                                {% endif %}
                                <a href="{{ path('rx_ria_user_reset_internally_password', { 'user_id': user.id }) }}" class="margin-left-15">Reset Password</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="4">No users.</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

