<div class="form-group">
    {{ form_label(form.value, label|default(null))}}
    <div>
        {{ form_errors(form.value) }}
        <div class="input-group">
            <span class="input-group-prepend">
                <span class="input-group-text">$</span>
            </span>
            {{ form_widget(form.value, {'attr':{'class': 'auto-numeric light-gray'}}) }}
        </div>
        <span class="retirement-value-help" {{ group == 'employer_retirement' ? '' : 'style="display:none;"' }}>Minimum value must be $50,000 for retirement plans.</span>
    </div>
</div>

<div class="form-group">
    {{ form_label(form.monthly_contributions, label|default(null))}}
    <div>
        {{ form_errors(form.monthly_contributions) }}
        <div class="input-group">
            <span class="input-group-prepend">
                <span class="input-group-text">$</span>
            </span>
            {{ form_widget(form.monthly_contributions, {'attr':{'class': 'auto-numeric light-gray'}}) }}
        </div>
    </div>
</div>

<div class="form-group monthly-distributions-field" {{ group == 'employer_retirement' ? 'style="display:none;"' : '' }}>
    {{ form_label(form.monthly_distributions, label|default(null))}}
    <div>
        {{ form_errors(form.monthly_distributions) }}
        <div class="input-group">
            <span class="input-group-prepend">
                <span class="input-group-text">$</span>
            </span>
            {{ form_widget(form.monthly_distributions, {'attr':{'class': 'auto-numeric light-gray'}}) }}
        </div>
    </div>
</div>

<div class="form-group sas-cash-field" {{ group == 'employer_retirement' ? 'style="display:none;"' : '' }}>
    {{ form_label(form.sas_cash, 'SAS Cash')}}
    <div>
        {{ form_errors(form.sas_cash) }}
        <div class="input-group">
            <span class="input-group-prepend">
                <span class="input-group-text">$</span>
            </span>
            {{ form_widget(form.sas_cash, {'attr':{'class': 'auto-numeric light-gray'}}) }}
        </div>
    </div>
</div>