{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link id="base-style" href="/css/theme-css/style.css" rel="stylesheet">

{% endblock %}

{% block headernav %}
    <!-- start: RIA  nav/menu -->
    {% include '/Ria/menu_nav.html.twig' %}
    <!-- end: RIA nav/menu -->

    {% block flash_messages %}
        {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
                <div class="alert alert-{{ type }}">
                    {{ flashMessage }}
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/backbone.marionette/underscore.js') }}"></script>
    <script src="{{ asset('js/ria/Util.js') }}"></script>
    <script src="{{ asset('js/ria/ria.layout.js') }}"></script>
{% endblock %}


{% block body %}
{% endblock %}