{% extends 'WealthbotClientBundle::clear_layout.html.twig' %}
{#{% extends 'WealthbotClientBundle:Dashboard:index.html.twig' %}#}
{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@WealthbotClientBundle/Resources/public/js/client.profile.step1.js'
        '@WealthbotClientBundle/Resources/public/js/client.transfer.js'
        '@WealthbotClientBundle/Resources/public/js/client.changeProfile.js'
        '@WealthbotClientBundle/Resources/public/js/client.portfolio.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="/js/inputmask/jquery.inputmask.js"></script>
    <script type="text/javascript" src="/js/inputmask/jquery.inputmask.extensions.js"></script>

{% endblock %}

{% block content %}
    <h1>Settings</h1>

    <ul class="nav nav-tabs" id="myTab">
        <li class="{{ active_tab == 'your_information' ? 'active' : '' }}"><a data-toggle="tab" href="#your_information">Your Information</a></li>
        <li><a data-toggle="tab" href="#risk_tolerance">Risk Tolerance</a></li>
        <li class="{{ active_tab == 'your_portfolio' ? 'active' : '' }}"><a data-toggle="tab" href="#your_portfolio">Your Portfolio</a></li>
        <li class="{{ active_tab == 'update_password' ? 'active' : '' }}"><a data-toggle="tab" href="#update_password">Update Password</a></li>
        {% if not is_granted('ROLE_SLAVE_CLIENT') %}
            <li><a data-toggle="tab" href="#manage_users">Manage Users</a></li>
        {% endif %}
    </ul>

    <div class="tab-content change-profile">
        <div class="tab-pane {{ active_tab == 'your_information' ? 'active' : '' }}" id="your_information">
            {{ render(controller('WealthbotClientBundle:ChangeProfile:information')) }}
        </div>
        <div class="tab-pane" id="risk_tolerance">
            {% include 'WealthbotClientBundle:ChangeProfile:_risk_tolerance.html.twig' with { 'form': risk_tolerance_form } %}
        </div>
        <div class="tab-pane {{ active_tab == 'your_portfolio' ? 'active' : '' }}" id="your_portfolio">
            {% include 'WealthbotClientBundle:ChangeProfile:_your_portfolio.html.twig' with {
                'client': client,
                'is_ria_client_view': is_ria_client_view,
                'temp_portfolios': temp_portfolios,
                'choose_client_portfolio_form': choose_client_portfolio_form,
                'suggested_portfolio': suggested_portfolio
            } %}
        </div>
        <div class="tab-pane {{ active_tab == 'documents' ? 'active' : '' }}" id="documents">
            {% include 'WealthbotClientBundle:ChangeProfile:_documents.html.twig' %}
        </div>
        <div class="tab-pane {{ active_tab == 'update_password' ? 'active' : '' }}" id="update_password">
            {% include 'WealthbotClientBundle:ChangeProfile:_update_password.html.twig' with { 'form': update_password_form } %}
        </div>

        {% if not is_granted('ROLE_SLAVE_CLIENT') %}
            <div class="tab-pane" id="manage_users">
                {% include 'WealthbotClientBundle:ChangeProfile:_manage_users.html.twig' with { 'form': manage_user_form, 'clients': clients } %}
            </div>
        {% endif %}
    </div>
{% endblock %}