{% extends '/Admin/layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('/js/ria/ria.rebalancing.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="admin_rebalancing_page_content">
        {% block content %}
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <nav class="nav nav-tabs ">
                <li class="active nav-item"><a class="nav-link" href="#rebalancer_tab" data-toggle="tab">Rebalancer</a></li>
                <li class="nav-item"><a class="nav-link" href="#history_tab" data-toggle="tab">History</a></li>
            </nav>
            <div class="tab-content">
                <div class="tab-pane active" id="rebalancer_tab">
                    <form action="{{ path('rx_admin_rebalancer_start') }}" method="post" id="rebalance_form">

                        {% include '/Admin/Rebalancer/_rebalance.html.twig' with {
                            'client_values_pagination': client_values_pagination,
                            'is_history': false,
                            'form':form
                        } %}

                        <div class="center-text">

                            {{ form_errors(form) }}

                            <div class="form-group">
                                <div>
                                    {% if (form.rebelance_type is defined) %}
                                        {{ form_errors(form.rebalance_type) }}
                                        {{ form_widget(form.rebalance_type, {'attr': {'class': 'margin-bottom-0'}}) }}
                                    {% endif %}
                                    <input type="submit" value="Rebalance" class="btn btn-primary" />
                                </div>
                            </div>

                            {{ form_rest(form) }}

                            <div class="rebalance-proggress-bar">
                                <div class="progress">
                                    <div class="bar" style="width: 0"></div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="tab-pane" id="history_tab">
                    {{ render(controller("\\App\\Controller\\Admin\\RebalancerController:history")) }}
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}

{% block modal_dialog %}
    <div id="modal_dialog" class="modal longModal" style="width: 1170px; margin-left: -585px;">

        <div class="modal-content" style="height: auto;">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="bbh3"></h3>
            </div>

            <div class="modal-body">

            </div>

        </div>
    </div>
{% endblock %}
