{% macro mail_info_fields(messages) %}
    <b>Mail a check to:</b><br/>
    {{ messages and messages.mail_check is defined ? messages.mail_check : '' }}
{% endmacro %}

{% macro wire_info_fields(messages) %}
    <b>Wire Transfer</b><br/>
    {{ messages and messages.wire_transfer is defined ? messages.wire_transfer : '' }}
{% endmacro %}

{% macro bank_info_fields(form) %}
    {% set bank_field = form.bankInformation %}
    {% set is_one_bank = (form.vars.data and not form.vars.data.bankInformation and form.bankInformation|length == 1) ? true : false %}
    {% block bank_info %}

        {% if bank_field|length > 0 %}
            <div class="form-group row">
                <div class="span">
                    {{ form_label(bank_field, 'Current bank(s) on file:', { 'label_attr': {'class': 'control-label'}}) }}
                    <div class="controls">
                        {% for radio in bank_field %}
                            <div class="bank-item">
                                <label for="{{ radio.vars.id }}">
                                    {% if is_one_bank %}
                                        {{ form_widget(radio, { 'attr': { 'checked': 'checked' } }) }}
                                    {% else %}
                                        {{ form_widget(radio) }}
                                    {% endif %}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <p class="empty">No banks currently on file.</p>
            <div class="form-group row">
                <div class="span">
                    <a class="add-new-bank-btn" data-type="account-management" href="javascript:void(0);">Add New Bank Account</a>
                </div>
            </div>
            <div class="add-new-bank-form"></div>
        {% endif %}
    {% endblock %}
{% endmacro %}

{% macro transfer_info_fields(form) %}
    <div class="form-group row">
        <div class="span">
            <h5>Transfer Information</h5>
            <div class="well clearfix">
                <div class="form-inline clearfix">
                    {% if form.start_transfer_date_month is defined %}
                    <div class="span">
                        <label>Start of transfer:</label>
                        {{ form_errors(form.start_transfer_date_month) }}
                        {{ form_errors(form.start_transfer_date_day) }}
                        {{ form_widget(form.start_transfer_date_month, { 'attr': { 'class': 'input-mini', 'placeholder': 'MM' } }) }}
                        {{ form_widget(form.start_transfer_date_day, { 'attr': { 'class': 'input-mini', 'placeholder': 'DD' } }) }}
                    </div>
                    {% endif %}
                    <div class="span">
                        {{ form_label(form.amount, 'Amount:') }}
                        {{ form_errors(form.amount) }}
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </span>
                            {{ form_widget(form.amount, { 'attr': { 'class': 'input-medium auto-numeric' } }) }}
                        </div>
                    </div>

                    {% if form.contribution_year is defined %}
                        <div class="span">
                            {{ form_label(form.contribution_year, 'Contribution Year:') }}
                            {{ form_errors(form.contribution_year) }}
                            {{ form_widget(form.contribution_year, { 'attr': { 'class': 'input-mini', 'placeholder': 'YYYY' } }) }}
                        </div>
                    {% endif %}
                </div>
                {% if form.transaction_frequency is defined %}
                <div class="clearfix">
                    <div class="col-12 clearfix">
                        {{ form_label(form.transaction_frequency, 'Frequency of transaction:') }}
                        {{ form_errors(form.transaction_frequency) }}
                    </div>
                    {{ form_widget(form.transaction_frequency) }}

                </div>
                {% endif %}
            </div>
            <p>
                Transfers will take place on the same day as the start date, each quarter, month, or every other week as you have selected.
            </p>
        </div>
    </div>
{% endmacro %}

{% for radio in form.type %}
    <label for="{{ radio.vars.id }}" class="radio">{{ form_widget(radio) }}{{ radio.vars.label }}</label>

    {% if radio.vars.value == 'funding_mail_check' %}
        <div id="mailcheck" class="inner-ch well ">
            {{ _self.mail_info_fields(messages) }}
        </div>

    {% elseif radio.vars.value == 'funding_bank_transfer' %}
        <div id="banktrans" class="inner-ch">
            {% include '/Client/Transfer/_bank_transfer_form_fields.html.twig' with { 'form': form, 'account': account } %}
        </div>

    {% elseif radio.vars.value == 'funding_wire_transfer' %}
        <div id="wiretrans" class="inner-ch well">
            {{ _self.wire_info_fields(messages) }}
        </div>

    {% endif %}

{% endfor %}