{% extends '/Client/Transfer/index.html.twig' %}

{% block top_content %}
    {{ render(controller('App\\Controller\\Client\\TransferController:progressMenu', { 'account': account, 'step': 'additional_personal' })) }}
{% endblock %}

{% block main_content %}
    <form action="{% block form_action %}{{ path('rx_client_transfer_additional_personal', { 'account_id': account.id }) }}{% endblock %}" method="post" class="acc-form" enctype="multipart/form-data" data-presave="true" data-save="true">
        <h2>Personal - Secondary Applicant</h2>

        <div class="form-group row">
            <div class="span">
                {{ form_label(form.citezen) }}
                {{ form_errors(form.citezen) }}
                {{ form_widget(form.citezen, { 'attr': { 'class': 'col-4' } }) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="span">
                <label>Social Security Number</label>
                {{ form_errors(form) }}
                <div>
                    {{ form_errors(form.ssn_tin_1) }}
                    {{ form_errors(form.ssn_tin_2) }}
                    {{ form_errors(form.ssn_tin_3) }}
                </div>
                {{ form_widget(form.ssn_tin_1, { 'attr': { 'class': 'col-1', 'placeholder': '###' } }) }}
                {{ form_widget(form.ssn_tin_2, { 'attr': { 'class': 'col-1', 'placeholder': '##' } }) }}
                {{ form_widget(form.ssn_tin_3, { 'attr': { 'class': 'col-1', 'placeholder': '####' } }) }}
            </div>
        </div>
        {% if form.marital_status is defined %}
            <div class="form-group row">
                <div class="span">
                    {{ form_label(form.marital_status) }}
                    {{ form_errors(form.marital_status) }}
                    {{ form_widget(form.marital_status, { 'attr': { 'class': 'col-2' } }) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-7 spouse-field">
                    <div class="form-group spouse-fields-block" style="display:none;">
                        <div class="col-12">
                            <label for="wealthbot_client_bundle_profile_type_spouse_first_name">Spouse Name</label>
                        </div>
                        <div class="col-2">
                            {{ form_errors(form.spouse_first_name) }}
                            {{ form_widget(form.spouse_first_name, { 'attr': { 'class': 'input-medium', 'placeholder': 'First Name' } }) }}
                        </div>
                        <div class="col-2">
                            {{ form_errors(form.spouse_middle_name) }}
                            {{ form_widget(form.spouse_middle_name, { 'attr': { 'class': 'input-medium', 'placeholder': 'Middle Name' } }) }}
                        </div>
                        <div class="col-2">
                            {{ form_errors(form.spouse_last_name) }}
                            {{ form_widget(form.spouse_last_name, { 'attr': { 'class': 'input-medium', 'placeholder': 'Last Name' } }) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(form.spouse_birth_date, 'Spouse Date of Birth') }}
                            {{ form_errors(form.spouse_birth_date) }}

                            <div id="{{ form.spouse_birth_date.get('id') }}">
                                {{ form_widget(form.spouse_birth_date, {'attr': { 'placeholder': 'MM-DD-YYYY' }}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {#<div class="row">
            <div class="span">
                {{ form_label(form.dependents) }}
                {{ form_errors(form.dependents) }}
                {{ form_widget(form.dependents, { 'attr': { 'class': 'col-2' } }) }}
            </div>
        </div>
        <div class="row">
            <div class="span">
                {{ form_label(form.annual_income, 'Annual Income') }}
                {{ form_errors(form.annual_income) }}
                {{ form_widget(form.annual_income, { 'attr': { 'class': 'col-2' } }) }}
            </div>
        </div>
        <div class="row">
            <div class="span">
                {{ form_label(form.liquid_net_worth, 'Liquid Net Worth') }}
                {{ form_errors(form.liquid_net_worth) }}
                {{ form_widget(form.liquid_net_worth) }}
            </div>
        </div>#}
        <div class="form-group row">
            <div class="span">
                {{ form_label(form.employment_type, 'Employment Status') }}
                <div class="form-inline employment-status">
                    {{ form_errors(form.employment_type) }}
                    {% for radio in form.employment_type %}
                        <label for="{{ radio.vars.id }}"accesskey=""  class="checkbox inline">
                            {{ form_widget(radio) }} {{ radio.vars.label }}
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-group row employed-block" style="display:none;">
            <div class="col-7 gray-block">
                <div class="span">
                    {{ form_label(form.income_source, 'Source of Income') }}
                    {{ form_errors(form.income_source) }}
                    {{ form_widget(form.income_source, { 'attr': { 'class': 'input-medium' } }) }}
                </div>
            </div>
        </div>
        <div class="form-group row unemployed-block" style="display:none;">
            <div class="col-7 gray-block">
                <div class="span">
                    {{ form_label(form.employer_name) }}
                    {{ form_errors(form.employer_name) }}
                    {{ form_widget(form.employer_name, { 'attr': { 'class': 'input-small' } }) }}
                </div>
                <div class="span">
                    {{ form_label(form.industry) }}
                    {{ form_errors(form.industry) }}
                    {{ form_widget(form.industry, { 'attr': { 'class': 'input-small' } }) }}
                </div>
                <div class="span">
                    {{ form_label(form.occupation) }}
                    {{ form_errors(form.occupation) }}
                    {{ form_widget(form.occupation, { 'attr': { 'class': 'input-small' } }) }}
                </div>
                <div class="col-6">
                    {{ form_label(form.business_type, 'Type of Business') }}
                    {{ form_errors(form.business_type) }}
                    {{ form_widget(form.business_type, { 'attr': { 'class': 'col-4' } }) }}
                </div>
                <div class="col-6">
                    {{ form_label(form.employer_address) }}
                    {{ form_errors(form.employer_address) }}
                    {{ form_widget(form.employer_address, { 'attr': { 'class': 'col-4' } }) }}
                </div>
                <div class="span">
                    {{ form_label(form.employment_city) }}
                    {{ form_errors(form.employment_city) }}
                    {{ form_widget(form.employment_city, { 'attr': { 'class': 'input-small' } }) }}
                </div>
                <div class="span">
                    {{ form_label(form.employmentState) }}
                    {{ form_errors(form.employmentState) }}
                    {{ form_widget(form.employmentState, { 'attr': { 'class': 'input-medium' } }) }}
                </div>
                <div class="span">
                    {{ form_label(form.employment_zip) }}
                    {{ form_errors(form.employment_zip) }}
                    {{ form_widget(form.employment_zip, { 'attr': { 'class': 'input-mini' } }) }}
                </div>
            </div>
        </div>
        <div class="form-group row political-figure-block">
            <div class="col-7 gray-block">
                <div class="col-4">
                    Check here if you or a member of your family, or any business associate is a senior political figure
                </div>
                <div class="col-2">
                    {% for radio in form.is_senior_political_figure %}
                        <label for="{{ radio.vars.id }}"accesskey=""  class="checkbox">
                            {{ form_widget(radio) }} {{ radio.vars.label }}
                        </label>
                    {% endfor %}
                </div>
                <div class="row col-6 political-figure-fields">
                    <div class="span">
                        {{ form_label(form.senior_spf_name, 'Name of the SPF') }}
                        {{ form_errors(form.senior_spf_name) }}
                        {{ form_widget(form.senior_spf_name, { 'attr': { 'class': '' } }) }}
                    </div>
                    <div class="span">
                        {{ form_label(form.senior_political_title, 'Political title') }}
                        {{ form_errors(form.senior_political_title) }}
                        {{ form_widget(form.senior_political_title, { 'attr': { 'class': '' } }) }}
                    </div>
                    <div class="span">
                        {{ form_label(form.senior_account_owner_relationship, 'Relationship to the Account Owner') }}
                        {{ form_errors(form.senior_account_owner_relationship) }}
                        {{ form_widget(form.senior_account_owner_relationship, { 'attr': { 'class': '' } }) }}
                    </div>
                    <div class="span">
                        {{ form_label(form.senior_country_office, 'Country of office') }}
                        {{ form_errors(form.senior_country_office) }}
                        {{ form_widget(form.senior_country_office, { 'attr': { 'class': '' } }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row publicly-traded-company-block">
            <div class="col-7 gray-block">
                <div class="col-4">
                    Check here if you are a director, 10% shareholders, or policy-making officer of a publicly traded company
                </div>
                <div class="col-2">
                    {% for radio in form.is_publicly_traded_company %}
                        <label for="{{ radio.vars.id }}"accesskey=""  class="checkbox">
                            {{ form_widget(radio) }} {{ radio.vars.label }}
                        </label>
                    {% endfor %}
                </div>
                <div class="row col-6 publicly-traded-company-fields">
                    <div class="span">
                        {{ form_label(form.publicle_company_name, 'Company Name') }}
                        {{ form_errors(form.publicle_company_name) }}
                        {{ form_widget(form.publicle_company_name, { 'attr': { 'class': 'col-5' } }) }}
                    </div>
                    <div class="span">
                        {{ form_label(form.publicle_address, 'Address') }}
                        {{ form_errors(form.publicle_address) }}
                        {{ form_widget(form.publicle_address, { 'attr': { 'class': 'input-small' } }) }}
                    </div>
                    <div class="span">
                        {{ form_label(form.publicle_city, 'City') }}
                        {{ form_errors(form.publicle_city) }}
                        {{ form_widget(form.publicle_city, { 'attr': { 'class': 'input-small' } }) }}
                    </div>
                    <div class="span">
                        {{ form_label(form.publicleState, 'State') }}
                        {{ form_errors(form.publicleState) }}
                        {{ form_widget(form.publicleState, { 'attr': { 'class': 'input-medium' } }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row broker-security-exchange-person-block">
            <div class="col-7 gray-block">
                <div class="col-4">
                    Check here if you are a licensed or employed by a registered broker/dealer, securities exchange, or member of a securities exchange
                </div>
                <div class="col-2">
                    {% for radio in form.is_broker_security_exchange_person %}
                        <label for="{{ radio.vars.id }}"accesskey=""  class="checkbox">
                            {{ form_widget(radio) }} {{ radio.vars.label }}
                        </label>
                    {% endfor %}
                </div>
                <div class="row col-6 broker-security-exchange-person-fields">
                    <div class="span">
                        {{ form_label(form.broker_security_exchange_company_name, 'Company Name') }}
                        {{ form_errors(form.broker_security_exchange_company_name) }}
                        {{ form_widget(form.broker_security_exchange_company_name, { 'attr': { 'class': '' } }) }}
                    </div>
                    <div class="span">
                        {{ form_label(form.compliance_letter_file, 'Compliance Letter') }}
                        {{ form_errors(form.compliance_letter_file) }}
                        {{ form_widget(form.compliance_letter_file, { 'attr': { 'class': '' } }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            {{ form_rest(form) }}
        </div>
        <div class="form-actions">
            <a href="{% block back_url %}{{ path('rx_client_transfer_back', {'account_id': account.id, 'action': 'additional_personal'}) }}{% endblock %}" class="btn btn-inverse">Back </a>
            <input type="submit" class="btn btn-primary"  name="continue" value="Continue" />
        </div>
    </form>
{% endblock %}