<form id="custodian_message_form" action="{{ path('rx_admin_custodian_message', { 'id': form.vars.data.custodian.id, 'type': form.vars.data.type }) }}" method="POST">
    {{ form_errors(form.message) }}

    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
        <div class="btn-group">
            <a class="btn btn-default" data-toggle="dropdown" title="Font"><i class="icon-font"></i><b class="caret"></b></a>
            <ul class="dropdown-menu">
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn btn-default" data-toggle="dropdown" title="Font Size"><i class="icon-height"></i>&nbsp;<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn btn-default"  data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
            <a class="btn btn-default"  data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
            <a class="btn btn-default"  data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
            <a class="btn btn-default"  data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-default"  data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ul"></i></a>
            <a class="btn btn-default"  data-edit="insertorderedlist" title="Number list"><i class="icon-list-ol"></i></a>
            <a class="btn btn-default"  data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
            <a class="btn btn-default"  data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-default"  data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
            <a class="btn btn-default"  data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
            <a class="btn btn-default"  data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
            <a class="btn btn-default"  data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-default" data-toggle="dropdown" title="Hyperlink"><i class="icon-link"></i></a>
            <div class="dropdown-menu input-group">
                <input class="col-md-2 form-control" placeholder="URL" type="text" data-edit="createLink"/>
                <button class="btn btn-default"  type="button">Add</button>
            </div>
            <a class="btn btn-default"  data-edit="unlink" title="Remove Hyperlink"><i class="icon-cut"></i></a>

        </div>

        <div class="btn-group">
            <a class="btn btn-default"  data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
            <a class="btn btn-default"  data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
        </div>
    </div>

    <br />

    <div id="editor" style="max-height:250px;height:250px;background-color:white;border-collapse:separate;border:1px solid rgb(204, 204, 204);padding:4px;"></div>

    {{ form_label(form.message, ' ') }}
    {{ form_widget(form.message, { 'attr': { 'rows': '10', 'placeholder': 'Instructions text' } }) }}

    {{ form_rest(form) }}
</form>