<div class="step-four-form">
    {% block form_main_tag %}
    <form action="{{path('rx_ria_profile_step_four')}}" method="post" data-presave="false" data-save="true" id='step_four_form'>
    {% endblock %}
    {% block suggested_portfolio %}

        <div class="col-12">
            <legend>Portfolio Processing</legend>
            <div class="form-group">
                <div class="portfolio-processing">
                    {{ form_label(form.portfolio_processing, 'How would you like portfolios to be suggested to the client?') }}
                    <div class="controls">
                        {{ form_errors(form.portfolio_processing) }}
                        {% for radio in form.portfolio_processing %}
                            <label for="{{ radio.vars.id }}" class="radio inline">{{ form_widget(radio) }} {{ radio.vars.label }}</label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

        {% block models %}
            <div class="col-12">
                <legend>Models</legend>
                <div class="portfolio-model form-group">
                    {{ form_label(form.model_type, 'Choose which types of models you will use for your clients:') }}
                    <div class="controls">
                        {{ form_errors(form.model_type) }}

                        {% for model in form.model_type %}
                            {#code_v2: NOT DELETE THIS CODE #}

                            {#{% if loop.index == 1 %}#}
                                {#{% set label = 'Use a Strategists Models' %}#}
                                {#{% set class = 'strategy-choice' %}#}
                            {#{% else %}#}
                                {% set label = 'Create your own models' %}
                                {% set class = 'custom-models-choice' %}
                            {#{% endif %}#}
                            <label for="{{ model.vars.id }}" class="radio inline">{{ form_widget(model, {'attr': {'class': class}}) }} {{ label }}</label>
                        {% endfor %}
                    </div>
                </div>
                <div class="strategy-list form-group" style="display: none;">
                    <div class="controls">
                        {{ form_errors(form.strategy_model) }}
                        {% if form.strategy_model is not empty %}
                            {% for third_party in form.strategy_model %}
                                <label for="{{ third_party.vars.id }}" class="radio">{{ form_widget(third_party) }} {{ form_label(third_party) }}</label>
                            {% endfor %}
                        {% else %}
                            <p>No third party models.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}


        <div class="col-12" id="outside_retirement_accounts_block" {#code_v2: NOT DELETE THIS CODE #}style="display: none;">
            <legend>Outside Retirement Account <a class="pop" href="#" rel="popover" title="Outside Retirement Accounts" data-content="<p>We allow you to consider client's outside retirement accounts (401k's, 403b's, TSP's, etc.) in their overall portfolio. The client will be asked to give you the various choices they have in their plan, where you can then recommend the best options.</p>"><i class="mini-color mini-ico-info-sign"></i></a></legend>
            <div class="form-group">
                <div class="outsideretirementaccountinfo">
                    {{ form_label(form.is_allow_retirement_plan, 'Do you want to allow a client’s current retirement plan (401k, 403b, 457, etc.) to be considered in the plan?') }}
                    {% if show_alerts is defined and show_alerts %}
                        <div class="alert alert-error" id="outsider_alert_id" style="display: none;">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Warning!</strong> This will affect only new clients coming into the system. You must manually close outside retirement accounts for current clients.
                        </div>
                    {% endif %}
                    <div class="controls">
                        {{ form_errors(form.is_allow_retirement_plan) }}
                        {% for radio in form.is_allow_retirement_plan %}
                            <label for="{{ radio.vars.id }}" class="radio inline">{{ form_widget(radio) }} {{ radio.vars.label }}</label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12" id="portfolio_managment_level_block">
            <legend>Portfolio Management Level <a class="pop" href="#"  data-html="true" rel="popover" title="Portfolio Management Level" data-content="<ul>
            <li><strong>Account Level:</strong> Each account will be managed by its own model. <i>Note-All accounts must use the same model.</i></li>
            <li><strong>Household Level:</strong> The accounts will be managed as a group, rebalanced against an overall model.</li>
            <li><strong>Client by Client Basis:</strong> You will select a level on a client by client basis when discussing the suggested portfolio with the client.</li>
            </ul>"><i class="mini-color mini-ico-info-sign"></i></a></legend>
            <div class="form-group">
                {{ form_label(form.account_managed, 'Do you want client relationships to be managed on an account by account basis or household level?') }}
                <div class="alert alert-error" id="p_mngmt_lvl_alert_id" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> This will affect only new clients coming on the system.
                </div>
                <div class="controls" id="account_type_container">
                    {{ form_errors(form.account_managed) }}
                    {% for radio in form.account_managed %}
                        <label for="{{ radio.vars.id }}" class="radio inline">{{ form_widget(radio) }} <span class="account-type-label">{{ radio.vars.label }}</span></label>
                    {% endfor %}
                </div>
                <div class="alert alert-block" id="outside_retirement_alert_id" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> Because you choice to allow outside retirement accounts within client's plans, any client who brings in an outside account
                    will be managed at a household level, as other client's will be managed on a <span id="alert_message_account_type">Client by Client Basis<span>
                </div>
            </div>
            {% block qualified_container %}
            <div class="form-group" id="qualified_container">
                {{ form_label(form.is_use_qualified_models) }}
                <div class="controls">
                    {{ form_errors(form.is_use_qualified_models) }}
                    {% for radio in form.is_use_qualified_models %}
                        <label for="{{ radio.vars.id }}" class="radio inline">{{ form_widget(radio) }} {{ radio.vars.label }}</label>
                    {% endfor %}
                </div>
            </div>
            {% endblock %}
        </div>

        <div class="col-12">
            <legend>Rebalancing Level <a class="pop" href="#"  data-html="true" rel="popover" title="Rebalancing Level" data-content="<ul>
            <li><b>Asset Class Rebalancing:</b> We will only rebalance a client’s portfolio when it exceeds your thresholds or is out of target on systematic basis you want rebalanced. Asset classes are stocks and bonds. This type of rebalancing will result in less rebalances, allowing markets to move.</li>
            <li><b>Subclass Rebalancing:</b> We will only rebalance when a client’s subclasses are out of balance (Small Value, REITs, Short Term Bonds, etc.) This type of rebalancing will result in more rebalances.</li>
            </ul>"><i class="mini-color mini-ico-info-sign"></i></a></legend>
            <div class="form-group">
                {{ form_label(form.rebalanced_method, 'Choose the method you would like portfolios rebalanced by:') }}
                <div class="alert alert-error" id="rebal_lvl_alert_id" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> This will affect new and current clients on the system.
                </div>
                <div class="controls">
                    {{ form_errors(form.rebalanced_method) }}
                    {{ form_widget(form.rebalanced_method, { 'label_attr' : { 'class': 'radio inline'}} ) }}
                </div>
            </div>
        </div>

        <div class="col-12">
            <legend>Rebalancing Frequency <a class="pop" href="#"  data-html="true" rel="popover" title="Rebalancing Frequency" data-content="<ul>
            <li><strong>Quarterly:</strong> We will rebalance your client portfolios around 1/1, 4/1, 7/1, and 10/1.</li>
            <li><strong>Semi Annually:</strong> We will rebalance your client portfolios around 1/1 and 7/1.</li>
            <li><strong>Annually:</strong> We will rebalance your client portfolios each year around 1/1.</li>
            <li><strong>+/- 10, 20, or 30%:</strong> We will rebalance when the sum of all Asset Classes or Subclasses are above the target you choose. Then, based upon your chosen Rebalancing Level, we will rebalance any Asset Classes or Subclasses that are above or below your tolerance.</li>
            </ul>"><i class="mini-color mini-ico-info-sign"></i></a></legend>
            <div class="form-group">
                {{ form_label(form.rebalanced_frequency, 'Choose the default method you would like portfolios rebalanced by:') }}
                <div class="alert alert-error" id="rebal_frq_alert_id" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> This will affect new and current clients on the system.
                </div>
                <div class="controls">
                    {{ form_errors(form.rebalanced_frequency) }}
                    {{ form_widget(form.rebalanced_frequency, { 'label_attr' : { 'class': 'radio inline'}} ) }}
                </div>
            </div>
            {#<div class="form-group" id="tolerance_band_container">#}
                {#{{ form_label(form.tolerance_band, 'Indicate the tolerance band you would like implemented:') }}#}
                {#<div class="controls">#}
                    {#{{ form_errors(form.tolerance_band) }}#}
                    {#<div class="input-group">#}
                        {#{{ form_widget(form.tolerance_band, { 'attr' : { 'class': 'input-mini auto-numeric', 'placeholder': '00.00'}} ) }}#}
                        {#<span class="input-group-addon">%</span>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>

        <div class="col-12">
            <legend>Transactions</legend>
            <div class="form-group transaction-amount">
                {{ form_label(form.transaction_amount, 'What is the minimum amount you would you like us to use for buys and sells? Choose either a dollar figure or a percentage and we will use the lesser of each, on a per trade basis.') }}
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    {{ form_widget(form.transaction_amount, {'attr': {'class': 'input-mini auto-numeric'}}) }}
                </div>
                <span class="middle">or</span>
                <div class="input-group">
                    {{ form_widget(form.transaction_amount_percent, { 'attr' : { 'class': 'input-mini auto-numeric', 'placeholder': '00.00'}} ) }}
                </div>
            </div>

            <div class="form-group is-transaction-fees">
                {{ form_label(form.is_transaction_fees, 'Would you like us to consider transaction fees when doing rebalancing calculations?') }}
                <div class="controls">
                    {{ form_errors(form.is_transaction_fees) }}
                    {% for radio in form.is_transaction_fees %}
                        <label for="{{ radio.vars.id }}" class="radio inline">{{ form_widget(radio) }} {{ radio.vars.label }}</label>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group is-transaction-minimums">
                {{ form_label(form.is_transaction_minimums, 'Are there specific buy and sell minimums for the securities your client\'s will own?') }}
                <div class="controls">
                    {{ form_errors(form.is_transaction_minimums) }}
                    {% for radio in form.is_transaction_minimums %}
                        <label for="{{ radio.vars.id }}" class="radio inline">{{ form_widget(radio) }} {{ radio.vars.label }}</label>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group is-transaction-redemption-fees">
                {{ form_label(form.is_transaction_redemption_fees, 'Are there specific redemption fees for the securities your client\'s will own?') }}
                <div class="controls">
                    {{ form_errors(form.is_transaction_redemption_fees) }}
                    {% for radio in form.is_transaction_redemption_fees %}
                        <label for="{{ radio.vars.id }}" class="radio inline">{{ form_widget(radio) }} {{ radio.vars.label }}</label>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-12" id="municipal_bonds_block">
            <legend>Municipal Bonds</legend>
            <div class="municipal-bonds">
                <div class="form-group use-municipal-bond">
                    {{ form_label(form.use_municipal_bond, 'Do you want to use a municipal bond funds when a client\'s tax rate justifies it?') }}
                    <div class="alert alert-error" id="municipal_bounds_alert_id" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Warning!</strong> This will affect new and current clients on the system.
                    </div>
                    <div class="controls">
                        {{ form_errors(form.use_municipal_bond) }}
                        {% for radio in form.use_municipal_bond %}
                            <label for="{{ radio.vars.id }}" class="radio inline">{{ form_widget(radio) }} {{ radio.vars.label }}</label>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group clients-tax-bracket">
                    {{ form_label(form.clients_tax_bracket, 'Use municipal bond funds when a client’s tax bracket is equal to or exceeds:') }}
                    <div class="controls">
                        {{ form_errors(form.clients_tax_bracket) }}
                        {{ form_widget(form.clients_tax_bracket) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <legend>Tax Loss Harvesting</legend>
            <div class="tax-loss-harvesting">
                <div class="form-group">
                    {{ form_label(form.is_tax_loss_harvesting, 'Do you want to provide tax loss harvesting for you client?') }}
                    <div class="controls">
                        {{ form_errors(form.is_tax_loss_harvesting) }}
                        {% for radio in form.is_tax_loss_harvesting%}
                            <label for="{{ radio.vars.id }}" class="radio inline">{{ form_widget(radio) }} {{ radio.vars.label }}</label>
                        {% endfor %}
                    </div>

                    <div class="tax-loss-harvesting-controls" style="{{ form.is_tax_loss_harvesting.vars.data ? '' : 'display:none; '}}">
                        <div class="form-group">
                            {{ form_label(form.tax_loss_harvesting_percent, 'Perform tax loss harvesting on clients whose tax bracket is equal to or exceed the following AND have a minimum relationship value of:') }}
                            <div class="controls">
                                {{ form_errors(form.tax_loss_harvesting_percent) }}
                                {{ form_errors(form.tax_loss_harvesting) }}
                                <div class="input-group">
                                    {{ form_widget(form.tax_loss_harvesting_percent, {'attr': {'class': 'input-mini auto-numeric', 'placeholder': '00.00'}}) }}
                                </div>
                                <span class="middle">and</span>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    {{ form_widget(form.tax_loss_harvesting, { 'attr' : { 'class': 'input-mini auto-numeric', 'placeholder': '00.00'}} ) }}
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="form-group">
                            {{ form_label(form.tax_loss_harvesting_minimum_percent, 'What is your minimum loss percentage and dollar position?') }}
                            <div class="controls">
                                {{ form_errors(form.tax_loss_harvesting_minimum_percent) }}
                                {{ form_errors(form.tax_loss_harvesting_minimum) }}
                                <div class="input-group">
                                    {{ form_widget(form.tax_loss_harvesting_minimum_percent, {'attr': {'class': 'input-mini auto-numeric', 'placeholder': '00.00'}}) }}
                                </div>
                                <span class="middle">and</span>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    {{ form_widget(form.tax_loss_harvesting_minimum, { 'attr' : { 'class': 'input-mini auto-numeric', 'placeholder': '00.00'}} ) }}
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="form-group">
                            {{ form_label(form.stop_tlh_value, 'Stop tax loss harvesting when losses for a client reach the following value:') }}
                            <div class="controls">
                                {{ form_errors(form.stop_tlh_value) }}
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    {{ form_widget(form.stop_tlh_value, {'attr': {'class': 'input-mini auto-numeric', 'placeholder': '00.00'}}) }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <legend>Portfolio Assumptions <a class="pop" href="#"   data-html="true" rel="popover" title="Portfolio Management Level" data-content="<p>
            Asset class return assumptions will used when calculating the expected performance of client portfolios, if you choose to show them this data when picking a portfolio. The client will see the expected performance of their portfolio and the asset classes within it when their portfolio is suggested.
            </p>"><i class="mini-color mini-ico-info-sign"></i></a></legend>
            <div class="form-group">
                {{ form_label(form.is_show_client_expected_asset_class, 'Do you want us to show a client expected asset class and selected portfolio returns when they are choosing a portfolio?') }}
                <div class="controls">
                    <input id="is_allow_retirement_plan_id" type="hidden" disabled="disabled" name="is_allow_retirement_plan" value="{{ company_information.isAllowRetirementPlan }}">
                    {{ form_errors(form.is_show_client_expected_asset_class) }}
                    {% for radio in form.is_show_client_expected_asset_class %}
                        <label for="{{ radio.vars.id }}" class="radio inline">{{ form_widget(radio) }} {{ radio.vars.label }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.is_show_expected_costs) }}
                <div class="controls">
                    <input id="is_allow_retirement_plan_id" type="hidden" disabled="disabled" name="is_allow_retirement_plan" value="{{ company_information.isShowExpectedCosts }}">
                    {{ form_errors(form.is_show_expected_costs) }}
                    {% for radio in form.is_show_expected_costs %}
                        <label for="{{ radio.vars.id }}" class="radio inline">{{ form_widget(radio) }} {{ radio.vars.label }}</label>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% block expected_assets %}
            <div style="display: none;">
                <div class="col-12 asset-block alertable" id="asset_block">
                    <legend>Expected Asset Returns & Asset Location Optimization</legend>
                    <div class="alert alert-error" id="asset_block_alert" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Warning!</strong> This will affect only new clients coming into the system.
                    </div>
                    <span class="help-block">
                        <ol>
                            <li class="message-1">We assume the following returns over the next 30 years for the following asset classes, please edit the returns if you choose.</li>
                            <li class="message-2">If you choose to have some clients’ households managed on a household level, please choose your preference for where certain asset classes should be held. <a class="pop" href="#" rel="popover" title="Asset Location Optimization" data-placement="top" data-content="<p>
                        You're able to override our default choices for where certain asset classes should be held. Client's can benefit from having more tax sensitive asset classes held in tax-free and tax-deferred accounts.
                        </p>"><i class="mini-color mini-ico-info-sign"></i></a></li>
                        </ol>
                    </span>
                    <div class="form-group">
                        <div class="controls">
                            <table class="table asset-settings-table shadow">
                                <thead>
                                <tr>
                                    <th>Subclass</th>
                                    <th>Expected Performance</th>
                                    <th>Account Type</th>
                                </tr>
                                </thead>
                                <tbody id="form_subclass_container" data-complete-url="{{ path('rx_ria_profile_complete_subclasses') }}">
                                {% for item in form.subclasses %}
                                    <tr>
                                        <td>
                                            {{ item.get('value').name }}
                                        </td>
                                        <td class="expected-performance">
                                            {{ form_errors(item.expected_performance) }}
                                            <div class="input-group">
                                            {{ form_widget(item.expected_performance, {'attr': {'class': 'auto-numeric'}}) }}
                                            <span class="input-group-addon">%</span>
                                            </div>
                                        </td>
                                        <td class="account-type">
                                            {{ form_errors(item.accountType) }}
                                            {{ form_widget(item.accountType) }}
                                        </td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block form_actions %}
        <div class="col-12">
            <div class="form-actions">
                {{ form_widget(form._token) }}
                <a class="btn btn-primary"  href="{{ path('rx_ria_profile_step_three') }}">Back</a>
                <input class="btn btn-info" type="submit" name="Continue" value="Continue"/>
            </div>
        </div>
        {% endblock %}
    </form>
</div>

