<div class="step-four-form">
    {% block form_main_tag %}
    <form action="{{path('rx_ria_profile_step_five')}}" method="post" data-presave="false" data-save="true" enctype="multipart/form-data">
    {% endblock %}

        {#<div class="col-12">#}
            {#<legend>AdvisorLink Display</legend>#}
            {#<div class="form-group">#}
                {#{{ form_label(form.is_searchable_db, 'Do you wish to be in our searchable database where consumers will be able to find your services?') }}#}
                {#<div class="controls">#}
                    {#{{ form_errors(form.is_searchable_db) }}#}
        {{ form_row(form.is_searchable_db)}}
                    {#{% for radio in form.is_searchable_db %}#}
                        {#<label for="{{ radio.vars.id }}" class="radio inline">{{ form_widget(radio) }} {{ radio.vars.label }}</label>#}
                    {#{% endfor %}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        <div class="col-12">
            <div class="form-group">
                <legend>Minimum Asset Size</legend>

                {{ form_label(form.min_asset_size, 'What is the minimum asset size your firm will manage?') }}
                <div class="controls">
                    {{ form_errors(form.min_asset_size) }}
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        {{ form_widget(form.min_asset_size, {'attr': {'class': 'auto-numeric', 'placeholder': '0.00'}}) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <legend>Your Logo <a class="pop" data-html="true" href="#" rel="popover" title="Your Logo" data-content="<p>
            Your logo should be at least 200px x 200px in preferably PNG format. Your logo should be either transparent or have a white background.
            </p>"><i class="mini-color mini-ico-info-sign"></i></a></legend>
            <div class="form-group">
                {{ form_label(form.logo_file, 'Upload your company logo for your prospects and client\'s to see.') }}
                <div class="controls">
                    {{ form_errors(form.logo_file) }}
                    {{ form_widget(form.logo_file) }}
                </div>
            </div>
        </div>

        {% block form_actions %}
        <div class="col-12">
            <div class="form-actions">
                {{ form_widget(form._token) }}
                <a class="btn btn-primary"  href="{{ path('rx_ria_profile_step_four') }}">Back</a>
                <input class="btn btn-info" type="submit" name="Finish" value="Finish"/>
            </div>
        </div>
        {% endblock %}
    </form>
</div>

{% block inner_javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/ria/ria.profile.js') }}"></script>
{% endblock %}