{% macro widget_prototype(widget, remove_text) %}
    {% if widget.vars.prototype %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}

    <tr data-content="{{ name }}">
        <td class="fee">
            {{ form_errors(form.fee_without_retirement) }}
            {{ form_widget(form.fee_without_retirement, {'attr': {'class': 'not-presave'}}) }}
        </td>
        <td class="tier">
            {{ form_errors(form.tier_bottom) }}
			<div class="input-group">
                <span class="input-group-addon">$</span>
                {{ form_widget(form.tier_bottom, {'attr': {'class': 'auto-numeric not-presave'}}) }}
			</div>
        </td>
        <td class="tier">
            <div class="pull-left">
                {{ form_errors(form.tier_top) }}
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    {{ form_widget(form.tier_top, {'attr': {'class': 'auto-numeric not-presave'}}) }}
                </div>
            </div>

            <label class="is-final-tier-checkbox checkbox pull-left" style="display: none;">
                {{ form_widget(form.is_final_tier) }} <span class="classify-tier">{{ form.is_final_tier.vars.label }}</span>
            </label>
        </td>
        <td class="action"><a class="btn-remove" data-related="{{ name }}">{{ remove_text }}</a></td>
    </tr>
{% endmacro %}

<legend>Your Billing Schedule</legend>
<span class="help-block">Enter your desired fee schedule below. This is the fee schedule your client will be charged, in addition to ours. Click the "Preview Final Billing Specs" button to see a breakdown of {{ 'wealthbot.io' | trans }}'s Billing Schedule and what your client's will see.</span>

{% if show_alerts is defined and show_alerts %}
    <div class="alert alert-error" id="fees_alert_id" style="display: none;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> This will affect new and current clients on the system.
    </div>
{% endif %}

<div class="form-group">
    {% if (status is defined) and (message is defined) %}
        <div class="alert alert-{{ status }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
        </div>
    {% endif %}

    {{ form_errors(form) }}

    <table class="table table-stripped">
        <thead>
        <tr>
            <th>Fee</th>
            <th>Tier Bottom</th>
            <th>Tier Top <a class="pop" href="#"  data-html="true" rel="popover" title="Your Final Top Tier" data-content="<p>You must enter a plus sign (+) in your final top tier to signify any assets above your final bottom tier will be charged at that rate.</p>"><i class="mini-ico-exclamation-sign icon-red"></i></a></th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="form_fees" data-prototype="{{ _self.widget_prototype(form.fees, 'Remove Tier')|escape }}">
            {% for widget in form.fees.children %}
                {% if loop.index == 1 %}
                    {{ _self.widget_prototype(widget) }}
                {% else %}
                    {{ _self.widget_prototype(widget, 'Remove Tier') }}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <a href="#" class="btn btn-inverse btn-add" data-target="form_fees">
        Add a Tier
    </a>
    <a href="{{ path('rx_ria_profile_fee_preview') }}" class="btn btn-info btn-preview-fee">
        Preview Final Billing Specs
    </a>
</div>