{% extends '/Ria/layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ria/ria.profile.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success">
                <p><strong>You've successfully created your login credentials.</strong></p>
                <p>Register on our system in 5 easy steps. Logout at any point and the system will automatically save your
                    progress and return you to that point the next time you login.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="agreements">

                <div class="row">
                    <div class="col-10">
                        <h3>Step 1 of 5: Custodian and Contracts</h3>
                    </div>
                    <div class="save-and-logout">
                        <a class="btn btn-primary"  id="reg_save_btn" href="{{ path('logout') }}">Logout</a>
                        <span class="help-block">We'll save your progress.</span>
                    </div>
                </div>
                <legend>
                    <p>
                        Before continuing to register, you must read, agree, and electronically sign the following
                        documents.
                    </p>
                </legend>

                <form action="{{ path('rx_ria_profile_step_one') }}" data-save="true" method="post"
                      enctype="multipart/form-data">

                    <legend>Your Custodian</legend>
                    <span>Select the custodian you will use with {{ 'wealthbot.io' | trans }}.</span>
                    <div class="form-group">
                        {{ form_errors(form.custodian) }}
                        {{ form_widget(form.custodian) }}
                    </div>
                    <div id="custodian_questions" class="form-group">
                        {{ form_label(form.allow_non_electronically_signing, 'Do you want to allow for non-electronically signed transfer forms?') }}
                        {{ form_errors(form.allow_non_electronically_signing) }}
                        {{ form_widget(form.allow_non_electronically_signing) }}
                    </div>

                    <div class="documents">
                        <legend>Your Contracts</legend>
                        <span>Uploading the following PDF contracts which will be delivered to the client when they register on our platform.</span>
                        {% for document in form.documents %}
                            <div class="form-group">
                                {{ form_label(document) }}
                                {{ form_errors(document) }}
                                {{ form_widget(document) }}
                            </div>
                        {% endfor %}
                    </div>

                    <legend>{{ 'wealthbot.io' | trans }}' Contracts</legend>
                    <span>You must read and agree to the following documents:</span>

                    <div class="form-group">
                        <ol type="1">
                            {% for contract in contracts %}
                                <li>I have read and agree to {{ 'wealthbot.io' | trans }}' <a href="{{ path('rx_download_document', {'filename': contract.filename}) }}" target="_blank">{{ contract.type == 'adv' ? 'ADV Part 2' : contract.name }}</a></li>
                            {% endfor %}
                        </ol>
                    </div>

                    <div><strong>I agree to the above documents:</strong></div>
                    <div class="form-group">
                        {{ form_label(form.signature, 'Signature:') }}
                        {{ form_errors(form.signature) }}
                        {{ form_widget(form.signature, {'attr': {'placeholder': 'Your Full Name' }}) }}

                        <span class="date">Date:</span> {{ signature_date|date('m/d/Y') }}
                    </div>

                    <div class="form-actions">
                        {{ form_rest(form) }}
                        <input class="btn btn-info" type="submit" name="Continue" value="Continue"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
