{% extends '/Ria/Dashboard/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/jquery-ui-1.9.2.custom.min.css">
{% endblock %}

{% block body %}
    <h1>Risk Adjustment</h1>
    <a href="{{ is_custom ? path('rx_ria_dashboard_models_tab', {tab:'models'}) : path('rx_ria_models') }}">Back to Models</a>

    <form id="model_risk_rating_form" action="{{ path('rx_ria_models_risk_adjustment') }}" method="post" class="form-horizontal" data-max-rating="{{ max_rating + 1 }}">
        {{ form_errors(form) }}

        {% for field in form.ratings %}
            <div class="risk-adjustment form-group">
                {{ form_label(field.risk_rating, field.vars.data.name, { 'label_attr': {'class': 'control-label-risk-adjustment'} }) }}
                <div class="controls">
                    {{ form_errors(field.risk_rating) }}
                    {{ form_widget(field.risk_rating, { 'attr': {'class': 'risk-rating-slider'} }) }}
                </div>
            </div>
        {% endfor %}

        {{ form_rest(form) }}

        <input class="btn btn-primary"  type="submit" name="Update" value="Update" />
    </form>
{% endblock %}