{% form_theme scheduledDistributionForm 'WealthbotRiaBundle:Dashboard:account_settings_form_theme.html.twig' %}
<form method="post" action="{{
        path('rx_ria_dashboard_account_settings', {
            'account_id': app.request.get('account_id')
        })
    }}">

    {{ form_errors(form) }}
    {{ form_errors(oneTimeDistributionForm) }}
    {{ form_errors(scheduledDistributionForm) }}

    <div class="clearfix header-underlined">
        <div class="h3 personal-header">
            Personal
        </div>
        <div class="pull-right col-md-2">
            <div>
                {{ form_widget(form.status) }}
                {{ form_errors(form.status) }}
            </div>
            <div>
                {{ form_widget(form.dateClosed) }}
                {{ form_errors(form.dateClosed) }}
            </div>
        </div>
    </div>

    <div class="clearfix personal-settings">
        <div class="first-name">
            {{ form_row(form.firstName) }}
        </div>
        <div class="last-name">
            {{ form_row(form.lastName) }}
        </div>
        <div class="ssn">
            <label for="client_personal_settings_ssn1">SSN</label>
                <div>
                    {{ form_widget(form.ssn1) }}
                </div>
                -
                <div>
                    {{ form_widget(form.ssn2) }}
                </div>
                -
                <div>
                    {{ form_widget(form.ssn3) }}
                </div>
        </div>
    </div>
    <div class="errors">
        {{ form_errors(form.ssn1) }}
        {{ form_errors(form.ssn2) }}
        {{ form_errors(form.ssn3) }}
    </div>

    <div class="h3 clearfix header-underlined">
        Cash
    </div>

    <div class="well clearfix">
        <div class="clearfix">
            <div class="pull-left">
                {{ form_label(scheduledDistributionForm.month) }}
                <div>
                    {{ form_widget(scheduledDistributionForm.month) }}
                </div>
                <div>
                    {{ form_widget(scheduledDistributionForm.day) }}
                </div>
                <div class="clearfix">
                    {{ form_errors(scheduledDistributionForm.month) }}
                    {{ form_errors(scheduledDistributionForm.day) }}
                </div>
            </div>
            <div class="pull-right col-md-3">
                {{ form_label(scheduledDistributionForm.amount) }}
                {{ form_widget(scheduledDistributionForm.amount) }}
                {{ form_errors(scheduledDistributionForm.amount) }}
            </div>
        </div>
        <div class="clearfix">
            {{ form_row(scheduledDistributionForm.frequency) }}
        </div>
    </div>

    <div class="clearfix row">
        <div class="col-md-2">
            {{ form_row(oneTimeDistributionForm.amount) }}
        </div>

        <div class="col-md-2">
            {{ form_row(form.sasCash) }}
        </div>
    </div>

    <div class="h3 clearfix header-underlined">
        Settings
    </div>
    <div class="settings">
        <div class="clearfix">
            <div class="pull-left">
                {{ form_row(form.accountNumber) }}
            </div>
            <div class="pull-right text-left">
                {{ form_row(form.accountType) }}
            </div>
        </div>
        <div class="clearfix">
            <div class="pull-left">
                {{ form_row(form.performanceInception) }}
            </div>
            <div class="pull-right text-left">
                {{ form_row(form.billingInception) }}
            </div>
        </div>
        <div class="clearfix">
            {{ form_row(form.billingAccount) }}
        </div>
    </div>

    {{ form_rest(oneTimeDistributionForm) }}
    {{ form_rest(scheduledDistributionForm) }}
    {{ form_rest(form) }}
</form>
