{% extends 'WealthbotRiaBundle::layout_themed.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/css/bootstrap-glyphicons.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/backbone.marionette/underscore.js"></script>
    <script src="/js/backbone.marionette/backbone.js"></script>
    <script src="/js/backbone.marionette/backbone.marionette.js"></script>
    <script type="text/javascript" src="/js/inputmask/jquery.inputmask.js"></script>

    {% javascripts
        '@WealthbotRiaBundle/Resources/public/js/ria.dashboard.clients.js'
        '@WealthbotRiaBundle/Resources/public/js/ria.prospects.js'
        '@WealthbotRiaBundle/Resources/public/js/ria.model.chart.js'
        '@WealthbotRiaBundle/Resources/public/js/src/CollectionSorter.js'
        '@WealthbotRiaBundle/Resources/public/js/src/fields.js'
        '@WealthbotRiaBundle/Resources/public/js/ria.clients.marionette.js'
        '@WealthbotClientBundle/Resources/public/js/client.profile.js'
        '@WealthbotClientBundle/Resources/public/js/client.accounts.js'
        '@WealthbotClientBundle/Resources/public/js/client.portfolio.js'
        '@WealthbotClientBundle/Resources/public/js/client.dashboard.js'
        '@WealthbotClientBundle/Resources/public/js/client.transfer.js'
        '@WealthbotClientBundle/Resources/public/js/client.dashboard.accountManagement.js'
        '@WealthbotClientBundle/Resources/public/js/client.profile.step1.js'
        '@WealthbotClientBundle/Resources/public/js/client.changeProfile.js'
        '@WealthbotClientBundle/Resources/public/js/client.dashboard.gainlosses.js'
        '@WealthbotClientBundle/Resources/public/js/client.dashboard.documents.js'
        '@WealthbotClientBundle/Resources/public/js/client.billing.js'
        '@WealthbotClientBundle/Resources/public/js/client.performance.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="/js/theme-js/jquery.flot.min.js"></script>
    <script src="/js/theme-js/jquery.flot.pie.min.js"></script>
    <script src="/js/theme-js/jquery.flot.stack.js"></script>
    <script src="/js/theme-js/jquery.flot.resize.min.js"></script>
    <script src="/js/theme-js/jquery.flot.tooltip.min.js"></script>
    <script src="/js/theme-js/jquery.flot.crosshair.js"></script>
    <script src="/js/theme-js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block body %}

    {% block ria_nav %}
        {% include 'WealthbotRiaBundle::menu_nav.html.twig' %}
    {% endblock %}

    <h3>Clients</h3>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li {{ activeTab == 'clients' ? 'class="active"' : '' }}><a href="#tab_clients"
                                                                        data-toggle="tab">Clients</a></li>
            <li {{ activeTab == 'prospects' ? 'class="active"' : '' }}><a href="#tab_prospects" data-toggle="tab">Prospects</a>
            </li>
            <li {{ activeTab == 'invite-a-prospect' ? 'class="active"' : '' }}><a href="#tab_invite_prospect"
                                                                                  data-toggle="tab">Invite a
                    Prospect</a></li>

            {#code_v2: NOT DELETE THIS CODE #}

            {#<li><a href="#tab4" data-toggle="tab" class="create-client-lnk"#}
            {#data-is-can-create-url="{{ path('rx_ria_dashboard_is_can_create_client') }}"#}
            {#data-url="{{ path('rx_ria_client_create') }}">Create Prospect</a>#}
            {#</li>#}
        </ul>
        <div class="tab-content">
            <div class="tab-pane {{ activeTab == 'clients' ? 'active' : '' }}" id="tab_clients">
                <div class="ria-client-dashboard-header row padding-bottom-20">
                {% block clients_header %}
                    <div id="header"></div>
                    {% include "WealthbotRiaBundle:Dashboard:_tpl_clients_header.html.twig" %}
                {% endblock %}
                </div>
                <div id="clients"></div>

            </div>

            <div class="tab-pane {{ activeTab == 'prospects' ? 'active' : '' }}" id="tab_prospects">
                {{ render(controller('WealthbotRiaBundle:Prospects:index')) }}
            </div>

            <div class="tab-pane {{ activeTab == 'invite-a-prospect' ? 'active' : '' }}" id="tab_invite_prospect">
                <form id="invite_prospect_form" action="{{ path('rx_ria_prospects_invite') }}">
                    {% include 'WealthbotRiaBundle:Prospects:_invite_prospect_form_fields.html.twig' with { 'form': inviteForm } %}
                </form>
            </div>
            {% block clients_content %}
                {% include "WealthbotRiaBundle:Dashboard:_tpl_clients_table.html.twig" %}
                {% include "WealthbotRiaBundle:Dashboard:_tpl_client_view.html.twig" %}
                {% include "WealthbotRiaBundle:Dashboard:_tpl_account_view.html.twig" %}
                {% include "WealthbotRiaBundle:Dashboard:_tpl_modal_client_settings.html.twig" %}
                {% include "WealthbotRiaBundle:Dashboard:_tpl_modal_account_settings.html.twig" %}
            {% endblock %}

            {#code_v2: NOT DELETE THIS CODE #}

            {#<div class="tab-pane" id="tab4">#}
            {#<div class="progress progress-striped active">#}
            {#<div class="bar" style="width: 50%;"></div>#}
            {#</div>#}
            {#<div class="create-prospect-content">#}

            {#</div>#}
            {#</div>#}
        </div>
    </div>
{% endblock %}
