{% extends 'WealthbotRiaBundle::layout_themed.html.twig' %}

{% block body %}

{% block ria_nav %}
<!-- start: RIA  nav/menu -->
    {% include 'WealthbotRiaBundle::menu_nav.html.twig' %}
<!-- end: RIA nav/menu -->
{% endblock %}
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li {{ active_tab == 'categories' ? 'class="active"' : '' }}><a href="#categories_tab" data-toggle="tab">Categories</a></li>
            <li {{ active_tab == 'securities' ? 'class="active"' : '' }}><a href="#securities_tab" data-toggle="tab">Securities</a></li>
            <li {{ active_tab == 'models' ? 'class="active"' : '' }}><a href="#models_tab" data-toggle="tab">Models</a></li>
            {% if is_show_rebalancer_history %}
                <li>{{ active_tab == 'rebalancer_history' ? 'class="active"' : '' }}<a href="#history_tab" data-toggle="tab">Rebalancer History</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane {{ active_tab == 'categories' ? 'active' : '' }}" id="categories_tab"
                 data-is-show-subclasses-priority="{{ (is_show_subclasses_priority is defined and is_show_subclasses_priority) ? 'true' : 'false' }}" >
                {{ render(controller('WealthbotRiaBundle:Categories:index')) }}
            </div>
            <div class="tab-pane {{ active_tab == 'securities' ? 'active' : '' }}" id="securities_tab">
                {{ render(controller('WealthbotRiaBundle:Securities:modelSecuritiesList')) }}
            </div>
            <div class="tab-pane {{ active_tab == 'models' ? 'active' : '' }}" id="models_tab">
                {{ render(controller('WealthbotRiaBundle:Models:index', {'withLayout': false} )) }}
            </div>
            <div class="tab-pane {{ active_tab == 'rebalancer_history' ? 'active' : '' }}" id="history_tab">
                {{ render(controller('WealthbotRiaBundle:Rebalancer:history')) }}
            </div>
        </div>
    </div>

    <div id="modal_dialog" class="modal longModal">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="bbh3"></h3>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn save-modal-form-btn btn-primary">Save</button>
                <a href="#" class="btn btn-default"  data-dismiss="modal" aria-hidden="true">Cancel</a>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@WealthbotAdminBundle/Resources/public/js/admin.categories.js'
        '@WealthbotAdminBundle/Resources/public/js/admin.model_securities.js'
        '@WealthbotRiaBundle/Resources/public/js/ria.securities.js'
        '@WealthbotRiaBundle/Resources/public/js/ria.models.js'
        '@WealthbotRiaBundle/Resources/public/js/ria.rebalancing.js'
        'js/inputmask/jquery.inputmask.js'
    %}

    <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}
{% endblock %}