{% block header_row %}
{% endblock %}
<div class="container-fluid">
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-10">
                <span class="help-block">We'll save your progress. <a href="{{ path('logout') }}">Logout</a></span>
                <h3>{% block title %}Step 3 of 3: Your Accounts{% endblock %}</h3>
            </div>
        </div>
    </div>
</div>
<legend>
{% block help_title %}
    <p>Please tell us the types of accounts you will open with us, in addition to any you would like to transfer or rollover.</p>
{% endblock %}
</legend>

<h3 id="main_title_message">What types of accounts will we be managing for you?</h3>

<div class="row accounts-intake">
    <div class="col-6">
        <form id="account_types_form" action="{{ path('rx_client_profile_step_three') }}" method="post" data-save="false">
            <div class="form-group spec-rx">
                {{ form_errors(form.groups) }}

                <div id="{{ form.groups.vars.id }}">

                    <div>
                        <label class="checkbox" for="{{ form.groups[1].vars.id }}">
                           <input value="deposit_money" type="radio" name="client_account_types[groups]"> Open a new account
                            <span class="descr-lbl">Open a new investment account or retirement account.</span>
                        </label>
                    </div>

                    <div>
                        <label class="checkbox" for="{{ form.groups[0].vars.id }}">
                            <input value="employer_retirement" type="radio" name="client_account_types[groups]">Transfer an account
                            <span class="descr-lbl">Move an IRA or other investment account.</span>
                        </label>
                    </div>

                    <div {#code_v2: NOT DELETE THIS CODE#}style="display: none;">
                        <label class="checkbox" for="{{ form.groups[2].vars.id }}">
                            <input value="financial_institution" type="radio" name="client_account_types[groups]"> Rollover a 401(k) plan
                            <span class="descr-lbl">Move an employer-sponsorded retirement plan, such as a 401(k).</span>
                        </label>
                    </div>

                    {% if form.groups[3] is defined %}
                        <div {#code_v2: NOT DELETE THIS CODE#}style="display: none;">
                            <label class="checkbox" for="{{ form.groups[3].vars.id }}">
                                <input value="old_employer_retirement" type="radio" name="client_account_types[groups]"> Advice for your current 401(k) plan <span class="descr-lbl">Receive advice on your current employer-sponsored retirement plan. <br /><b>$50,000 minimum account value.</b></span>
                            </label>
                        </div>
                    {% endif %}
                </div>
                {{ form_widget(form._token) }}
            </div>
        </form>
    </div>
    <div class="col-6" id="account_type_form_container" data-success-url="{{ path('rx_client_profile_show_success_message') }}">
    </div>
</div>

<div id="accounts_table_container" class="client-accounts-list" data-fetch-url="{{ path('rx_client_profile_show_accounts_table') }}">
    {% block accounts_table %}
        {{ render(controller('\\App\\Controller\\Client\\ProfileController:showAccountsTable')) }}
    {% endblock %}
</div>

<div class="outside-funds-list">
</div>

{% block form_actions %}
    <div class="form-actions">
        <a class="btn btn-inverse" id="account_back_btn" href="{{ path('rx_client_step_three_back') }}">Back</a>
        {% if (client.clientAccounts.count > 0) %}
        {% else %}

        {% endif %}
        <a class="btn btn-primary"  {{ client.clientAccounts.count > 0 ? 'style="display: none;"' : '' }} href="javascript:void(0);" id="account_continue_btn">Continue</a>
        <a class="btn btn-primary"  {{ client.clientAccounts.count > 0 ? '' : 'style="display: none;"' }} href="javascript:void(0);"
           data-url="{{ path('rx_client_profile_step_three_complete') }}"
           data-check-url="{{ path('rx_client_profile_check_accounts_sum') }}" id="account_suggested_btn">See My Portfolio</a>

        <span id="form_error_message" class="error help-inline"></span>
    </div>
{% endblock %}

<div id="edit_account_modal" class="modal longModal">

    <div class="modal-content">


        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Edit Account</h3>
        </div>
        <div class="modal-body">

        </div>


        <div class="modal-footer">
            {#<button class="btn btn-primary"  data-dismiss="modal" aria-hidden="true">Close</button>#}
            <button class="update-account-btn btn">Save</button>
        </div>
    </div>

</div>
</div>