{% set contact = form.other_contact %}

{% if contact is defined %}
    <h5>Who is the other person this account is for?</h5>
    <div>
        {{ form_errors(contact.first_name) }}
        {{ form_widget(contact.first_name, {'attr': { 'placeholder': 'First Name', 'class': 'col-3' } }) }}

        {{ form_errors(contact.middle_name) }}
        {{ form_widget(contact.middle_name, {'attr': { 'placeholder': 'Middle Name', 'class': 'col-3' } }) }}

        {{ form_errors(contact.last_name) }}
        {{ form_widget(contact.last_name, {'attr': { 'placeholder': 'Last Name', 'class': 'col-3' } }) }}

    </div>
    <div>
        {{ form_errors(contact.relationship) }}
        {{ form_widget(contact.relationship, {'attr': { 'placeholder': 'Relationship', 'class': 'col-3' } }) }}
    </div>
{% endif %}