{% extends '/Client/Profile/client_intake.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <div class="row margin-top-25">
        <div class="col-12">
            <img class="img-rounded w200h100" src="{{ path('rx_file_download', {'ria_id': ria_company_information.ria.id}) }}"/>
        </div>
    </div>
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-10">
            <h3>Step 2 of 3: Your Risk Tolerance</h3>
            <span>We'll save your progress. <a href="{{ path('logout') }}">Logout</a></span>
        </div>
    </div>
    <legend><p>Answer the following questions as honestly as possible. We use these to assess your risk tolerance and suggest a proper portfolio.</p></legend>


    <form action="{{ path("rx_client_profile_step_two" , { 'question_nb': app.request.get('question_nb') }) }}" method="post" data-presave="true" data-save="true">
        <ol class="client-riskquestions" type="1">
            {% for key, field in form.children %}
                {% if key != '_token' %}
                    <li class="client-riskquestions">{{ form_row(field) }}</li>
                {% endif %}
            {% endfor %}
        </ol>

        <div>
            {{ form_rest(form) }}
        </div>
        <div class="form-actions">
            <a class="btn btn-inverse" href="{{ path('rx_client_profile_step_one') }}">Back</a>
            <input class="btn btn-primary"  type="submit" name="Continue" value="Continue"/>
        </div>
    </form>
    </div>
{% endblock %}
