{% extends '/Client/layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/client/client.accounts.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <h2>Step 3 of 3: Your Accounts</h2>
                </div>
                <div class="col-6">
                    <ul class="nav nav-tabs pull-right">
                        <li class="active">
                            <a href="javascript:location.href=document.location.href;">Save</a>
                        </li>
                        <li class="active">
                            <a href="{{ path('logout') }}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <legend>
        <h4>Please list the funds you have the option of purchasing in each retirement plan you own:</h4>
    </legend>

    <br/>

    <div class="client-retirement-account">
        {% include '/Client/Profile/_retirement_accounts_list.html.twig' with {'retirement_accounts': retirement_accounts} %}
    </div>

    <div class="client-retirement-account-funds"></div>

    <hr/>

    <h5>All your listed accounts:</h5>
    <div class="client-accounts-list">
        {% include '/Client/Profile/_accounts_list.html.twig' with {'accounts': accounts, 'total': total} %}
    </div>

    <form action="{{ path("rx_client_profile_step_three_accounts_funds") }}" method="post">
        <div class="form-actions">
            <a class="btn btn-primary"  href="{{ path('rx_client_profile_step_three_accounts', { group: 'employer_retirement' }) }}">Back</a>
            <input type="submit" class="btn-primary btn" value="Continue" />
        </div>
    </form>

    <div id="edit_account_modal" class="modal longModal">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Edit Account</h3>
            </div>

            <div class="modal-body">

            </div>

            <div class="modal-footer">
                {#<button class="btn btn-primary"  data-dismiss="modal" aria-hidden="true">Close</button>#}
                <button class="update-account-btn btn">Close</button>
            </div>
        </div>

    </div>
{% endblock %}
