{% extends '/Client/layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/client/client.accounts.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <h2>Step 3 of 3: Your Accounts</h2>
                </div>
                <div class="col-6">
                    <ul class="nav nav-tabs pull-right">
                        <li class="active">
                            <a href="javascript:location.href=document.location.href;">Save</a>
                        </li>
                        <li class="active">
                            <a href="{{ path('logout') }}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% if (group == 'financial_institution') %}
        {% set title = 'Tell us a little more information about the account(s) you will be transferring from another institution(s):' %}
    {% elseif (group == 'deposit_money') %}
        {% set title = 'Tell us a little more about the account(s) you plan on opening with us and depositing money:' %}
    {% elseif (group == 'old_employer_retirement') %}
        {% set title = 'Tell us a little more about the old employer retirement plan you will be rolling over to us:' %}
    {% elseif (group == 'employer_retirement') %}
        {% set title = 'Tell us a little more about your current employer retirement(s) plan you’d like advice on:' %}
    {% endif %}
    <legend>
        <h4>{{ title }}</h4>
    </legend>

    {% include '/Client/Profile/_client_accounts_form.html.twig' with {'form': form, 'group': group} %}

    <hr/>

    <div class="client-accounts">
        {% include '/Client/Profile/_accounts_list.html.twig' with {'accounts': accounts, 'total': total} %}
    </div>

    <form id="step_three_form" action="{{ path("rx_client_profile_step_three_accounts", {'group': group}) }}" data-selected-group="{{ group }}" method="post">
        <div class="form-actions">
            {% if prev_group is not empty %}
                <a class="btn btn-primary"  href="{{ path('rx_client_profile_step_three_accounts', { group: prev_group }) }}">Back</a>
            {% else %}
                <a class="btn btn-primary"  href="{{ path('rx_client_profile_step_three') }}">Back</a>
            {% endif %}
            <input type="submit" class="btn-primary btn" value="Continue" />
        </div>
    </form>

    <div id="edit_account_modal" class="modal longModal">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Edit Account</h3>
            </div>

            <div class="modal-body">

            </div>

            <div class="modal-footer">
                {#<button class="btn btn-primary"  data-dismiss="modal" aria-hidden="true">Close</button>#}
                <button class="update-account-btn btn">Save</button>
            </div>
        </div>

    </div>
{% endblock %}
