{% extends '/Admin/layout.html.twig' %}

{% block body %}
    <br />
    {% if is_permitted('create_user') %}
        <a class="btn btn-primary"  href="{{ path('rx_admin_users_create_user') }}">Create User</a>
    {% endif %}

    <h3>USERS:</h3>

    {% for key, users in allUsers %}
        <h5>{{ key }}:</h5>
        <ul class="users-list">
            {% for user in users %}
                <li>
                    {% if is_permitted('create_user') %}
                        <a href="{{ path('rx_admin_user_edit', {'id': user.id}) }}">{{ user.username }}</a>
                    {% else %}
                        {{ user.username }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}