<form action="{{ path('rx_ria_security_edit_transaction', {'security_id': security_assignment_id}) }}" class="security-transaction-form" id="edit_security_transaction_form" method="POST">
    <div>
        {% if (ria_company_information.isTransactionFees) %}
            <legend>Transaction Fees</legend>
            <div class="form-group transaction-fees">
                {{ form_errors(form.transaction_fee) }}

                {{ form_label(form.transaction_fee, 'Transaction Fee:') }}
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    {{ form_widget(form.transaction_fee, {'attr': {'class': 'input-mini auto-numeric'}}) }}
                </div>
            </div>
        {% endif %}

        {% if (ria_company_information.isTransactionMinimums) %}
            <legend>Minimums</legend>
            <div class="form-group minimums">
                <div>
                    {{ form_errors(form.minimum_buy) }}
                    {{ form_label(form.minimum_buy, 'Minimum Buy:') }}
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        {{ form_widget(form.minimum_buy, {'attr': {'class': 'input-small auto-numeric'}}) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(form.minimum_initial_buy) }}
                    {{ form_label(form.minimum_initial_buy, 'Minimum Initial Buy:') }}
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        {{ form_widget(form.minimum_initial_buy, {'attr': {'class': 'input-small auto-numeric'}}) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(form.minimum_sell) }}
                    {{ form_label(form.minimum_sell, 'Minimum Sell:') }}
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        {{ form_widget(form.minimum_sell, {'attr': {'class': 'input-small auto-numeric'}}) }}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if (ria_company_information.isTransactionRedemptionFees) %}
            <legend>Redemption Fees</legend>
            <div class="form-group redemption-fees">
                <div class="clearfix">
                    {{ form_errors(form.redemption_penalty_interval) }}
                    {{ form_label(form.redemption_penalty_interval, 'Penalty Interval (days):') }}
                    {{ form_widget(form.redemption_penalty_interval, {'attr': {'class': 'input-mini'}}) }}
                </div>

                {{ form_errors(form.redemption_percent) }}
                {{ form_errors(form.redemption_fee) }}
                <div class="redemption-fees-amount">
                    {{ form_label(form.redemption_percent, 'Percent:') }}
                    {{ form_widget(form.redemption_percent, {'attr': {'class': 'input-mini auto-numeric', 'placeholder': '00.00'}}) }}
                    <span class="middle">or</span>
                    {{ form_label(form.redemption_percent, 'Fee:') }}
                    <div class="input-group">
                        {{ form_widget(form.redemption_fee, { 'attr' : { 'class': 'input-mini auto-numeric'}} ) }}
                        <span class="input-group-addon">$</span>
                    </div>
                </div>
            </div>
        {% endif %}
        {{ form_rest(form) }}
    </div>
</form>