<!DOCTYPE html>
<html>
{% block html_head %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {{ (block("title")) ?? '' }} {{ 'wealthbot.io' | trans }}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.9.2.custom.min.css') }}"/>

            <link rel="stylesheet" href="{{ asset('css/email.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/icons.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/jquery-picklist.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/theme-css/style.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/billing.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/admin-styles.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/admin.interfaces.css') }}"/>
        {% endblock %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    </head>
{% endblock %}

{% block html_body %}
    <body id="mainApp">
    {% block headernav %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{path('rx_user_homepage')}}">{{ 'wealthbot.io' | trans }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('logout') }}">Logout</a></li>
                    {% endif %}

                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li class="pull-right nav-item">
                            <a class="nav-link" href="{{ path('rx_user_switch_to_admin', { _switch_user: '_exit' }) }}">Back to Admin</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    {% endblock %}

    {% block main_container %}
            {% block body %}{% endblock %}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery/jquery-ui-1.9.2.custom.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery/jquery.form.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery/jquery.autoNumeric.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery/jquery.placeholder.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/typeahead.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>
        <script src="{{ asset('js/backbone.marionette/underscore.js') }}"></script>
        <script src="{{ asset('js/inputmask/jquery.inputmask.js') }}"></script>
        <script src="{{ asset('js/inputmask/jquery.inputmask.extensions.js') }}"></script>
        <script src="{{ asset('js/ria/Util.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("[rel=popover]").popover();
            });
        </script>
    {% endblock %}
    </body>
{% endblock %}
</html>