<!DOCTYPE html>
<html>
{% block html_head %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {{ (block("title")) ?? '' }} {{ 'wealthbot.io' | trans }}
        </title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.9.2.custom.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/email.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/icons.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/jquery-picklist.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/theme-css/style.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/billing.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/admin-styles.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/admin.interfaces.css') }}"/>
        {% endblock %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    </head>
{% endblock %}

{% block html_body %}
    <body>
    {% block headernav %}
    {% endblock %}


    <div id="page-title">

        <div id="page-title-inner">
            <div class="container-fluid">
                <h2>{{ 'wealthbot.io' | trans }}</h2>
            </div>
        </div>

    </div>


    {% block main_container %}
        <div class="container-fluid">
            {% block flash_messages %}
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            {{ flashMessage }}
                            <a class="close" data-dismiss="alert" href="#">&times;</a>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}

            {% block body %}{% endblock %}
        </div>
    {% endblock %}
    <div id="footer">
        <a href="http://{{ 'wealthbot.io' | trans }}/">Learn more about {{ 'wealthbot.io' | trans }}</a>
    </div>

    {% block javascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery/jquery-ui-1.9.2.custom.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery/jquery.form.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery/jquery.autoNumeric.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery/jquery.placeholder.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/typeahead.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>
        <script src="{{ asset('js/backbone.marionette/underscore.js') }}"></script>
        <script src="{{ asset('js/ria/Util.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("[rel=popover]").popover();
            });
        </script>
    {% endblock %}
    </body>
{% endblock %}
</html>