<form id="edit_model_form" class="model-entity-form" action="{{ path('rx_admin_model_edit', {'id': modelEntity.id}) }}"
      data-update-url="{{ path('rx_admin_models_update_form') }}" data-model-slug="{{ modelEntity.model.slug }}"
      method="post" data-edit-row="model-{{ modelEntity.id }}" >

    <div class="form-group">
        {{ form_label(form.assetClass) }}
        <div class="controls">
            {{ form_errors(form.assetClass) }}
            {{ form_widget(form.assetClass) }}
        </div>
    </div>

    <div class="form-fields">
        {% include '/Admin/Model/_form_fields.html.twig' with {'form': form} %}
    </div>

    <div class="form-group">
        {{ form_label(form.percent) }}
        <div class="controls">
            {{ form_errors(form.percent) }}
            {{ form_widget(form.percent) }}
        </div>
    </div>

    {{ form_row(form._token) }}
    <input class="btn btn-primary"  type="submit" name="submit" value="Update"/>
</form>