{% extends '/Admin/layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var flag = true

        window.onbeforeunload = function (evt) {
            if ($('.percent').length) {
                var total = 0;
                $('.percent').each(function(){
                    total += parseInt($(this).text());
                });

                if (flag && total < 100) {
                    var message = "Model does not add up to 100%";
                    if (typeof evt == "undefined") {
                        evt = window.event;
                    }
                    if (evt) {
                        evt.returnValue = message;
                    }

                    return message;
                }
            }
        };
    </script>
{% endblock %}

{% block body %}
    <h1>Models</h1>

    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container-fluid">
                {#<span class="navbar-brand">{{ modelsType == 'wealthbot' ? 'Models' : '' }}</span>#}

                <!-- Everything you want hidden at 940px or less, place within here -->
                <div class="navbar-collapse">
                    <!-- .nav, .navbar-search, .navbar-form, etc -->
                    <ul class="nav navbar-nav">
                        {{ render(controller("App\\Controller\\Admin\\ModelController:portfolioMenu")) }}
                    </ul>
                </div>

            </div>
        </div>
    </div>

    {% if is_permitted('edit') %}
        {% if selectedStrategy is defined %}
            <a class="edit-strategy-btn" href="{{ path('rx_admin_models_edit_strategy', {'id': selectedStrategy.id}) }}">Edit</a>
            <a class="delete-strategy-btn" onclick="return confirm('Are you sure?');" href="{{ path('rx_admin_models_delete_third_party', {'id': selectedStrategy.id}) }}">Delete</a>
            <a class="model-assumption-edit-btn" href="{{ path('rx_admin_models_edit_model_assumption', {'id': selectedStrategy.id}) }}">Model assumption</a>
            <br/><br/>
        {% endif %}

        {% if strategy_form is defined and strategy_form %}
            <form class="form-inline" action="{{ path('rx_admin_models') }}" method="post">
                <legend>Create Strategy</legend>

                {{ form_widget(strategy_form.name, {'attr': {'placeholder': 'Name of Strategy', 'class': 'input-medium'}}) }}
                {{ form_rest(strategy_form) }}
                <button type="submit" class="btn btn-primary" >Create</button>
            </form>
        {% endif %}

    {% endif %}

    <div class="btn-group" data-toggle="buttons-radio">
        {{ render(controller("App\\Controller\\Admin\\ModelController:modelMenu")) }}
    </div>

    {% if is_permitted('edit') %}
        {% if false %}
            <br/>
            <a class="edit-third-party-model-btn" href="{{ path('edit-model-btn_model', {'id': model.id}) }}">Edit</a>
            <a class="delete-third-party-model-btn" href="{{ path('rx_admin_models_delete_third_party_model', {'id': model.id}) }}">Delete</a>
            <br/><br/>
        {% endif %}

        {% if selectedStrategy is defined or app.request.attributes.get('_route') == 'rx_admin_models_create_third_party_model' %}
            <form class="form-inline" action="{{ path('rx_admin_models_create_third_party_model', {'portfolioSlug': portfolioSlug}) }}" method="post">
                <legend>Create Model</legend>

                {{ form_errors(strategy_model_form.name) }}
                {{ form_widget(strategy_model_form.name, {'attr': {'placeholder': 'Name of Model', 'class': 'input-medium'}}) }}
                {{ form_errors(strategy_model_form.risk_rating) }}
                {{ form_widget(strategy_model_form.risk_rating) }}

                {% include '/Admin/Model/_third_party_model_edit_model_assumption_form.html.twig' with { 'form': strategy_model_form.assumption } %}

                {{ form_rest(strategy_model_form) }}
                <button type="submit" class="btn btn-primary" >Create</button>
            </form>
        {% endif %}
    {% endif %}

    {% block main_content %}{% endblock %}

    <div id="modal_dialog" class="modal longModal">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3></h3>
        </div>

        <div class="modal-content">
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn save-modal-form-btn btn-primary">Save</button>
            <a href="#" class="btn btn-primary"  data-dismiss="modal" aria-hidden="true">Cancel</a>
        </div>
      </div>
    </div>
{% endblock %}