{% extends '/Admin/layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/admin/admin.models.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/admin.categories.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/admin.model_securities.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Models</h1>

    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container-fluid">

                <!-- Everything you want hidden at 940px or less, place within here -->
                <div class="navbar-collapse">
                    <!-- .nav, .navbar-search, .navbar-form, etc -->
                    <ul class="nav navbar-nav">
                        {{ render(controller("App\\Controller\\Admin\\ModelController:portfolioMenu", {'selected_strategy_id': selected_strategy.id } )) }}
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <h3>Models</h3>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs ">
            <li class="nav-item"><a class="nav-link" href="#categories_tab" data-toggle="tab">Categories</a></li>
            <li class="nav-item"><a class="nav-link" href="#securities_tab" data-toggle="tab">Securities</a></li>
            <li class="nav-item active"><a class="nav-link" href="#models_tab" data-toggle="tab">Models</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="categories_tab">
                {{ render(controller("App\\Controller\\Admin\\CategoriesController:index", {'model_id': selected_strategy.id })) }}
            </div>
            <div class="tab-pane" id="securities_tab">
                {{ render(controller("App\\Controller\\Admin\\SecuritiesController:modelSecuritiesList", {'model_id': selected_strategy.id } )) }}
            </div>
            <div class="tab-pane active" id="models_tab">
                {% include '/Admin/Model/_models_tab.html.twig' %}
            </div>
        </div>
    </div>

    {#{% block main_content %}{% endblock %}#}

    <div id="modal_dialog" class="modal longModal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3></h3>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn save-modal-form-btn btn-primary">Save</button>
                <a href="#" class="btn btn-primary"  data-dismiss="modal" aria-hidden="true">Cancel</a>
            </div>
        </div>
    </div>
{% endblock %}