{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="row">
        <div class="col-8 col-offset-2">
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        </div>
    </div>
{% endfor %}

<form action="{{ path('rx_ria_client_create_continue', {client_id: client.id}) }}"
      method="post" {{ form_start(form) }} id="create_client_form_id" class="create-continue-form"
      data-retirement-accounts="{{ retirementAccounts|json_encode() }}" data-account-types="{{ types|json_encode()|raw }}"
      data-complete-models-url="{{ path('rx_ria_client_complete_models') }}" >

    {{ form_errors(form) }}
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                {{ form_label(form.email, 'Email:') }}
                <div class="controls">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.profile.first_name, 'First Name:') }}
                <div class="controls">
                    {{ form_errors(form.profile.first_name) }}
                    {{ form_widget(form.profile.first_name) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.profile.last_name, 'Last Name:') }}
                <div class="controls">
                    {{ form_errors(form.profile.last_name) }}
                    {{ form_widget(form.profile.last_name) }}
                </div>
            </div>
        </div>
        <div class="col-6">
            {% if form.profile.model is defined %}
            <div class="form-group">
                {{ form_label(form.profile.model, 'Model:') }}
                <div class="controls">
                    {{ form_errors(form.profile.model) }}
                    {{ form_widget(form.profile.model) }}
                </div>
            </div>
            {% endif %}
            <div class="form-group">
                {{ form_label(form.profile.suggested_portfolio, 'Suggested Portfolio:') }}
                <div class="controls">
                    {{ form_errors(form.profile.suggested_portfolio) }}
                    {{ form_widget(form.profile.suggested_portfolio) }}
                </div>
            </div>
            {% if form.profile.client_account_managed is defined %}
            <div class="form-group">
                {{ form_label(form.profile.client_account_managed, 'Manage portfolio by:') }}
                <div class="controls">
                    {{ form_errors(form.profile.client_account_managed) }}
                    {{ form_widget(form.profile.client_account_managed) }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    {{ form_rest(form) }}

</form>

<table class="table suggested-portfolio-finaccounts shadow">
    <thead>
    <tr>
        <th>Activity</th>
        <th>Account Type</th>
        <th>Estimated Value:</th>
        <th>Estimated Monthly Contributions:</th>
        <th>Estimated Monthly Distributions:</th>
        <th>SAS Cash:</th>
        <th></th>
    </tr>
    </thead>
    <tbody class="client-accounts-list">
        {% set valueTotal = 0 %}
        {% set monthlyContributionsTotal = 0 %}
        {% set monthlyDistributionsTotal = 0 %}
        {% set sasCashTotal = 0 %}

        {% for account in client.clientAccounts %}
            {% include '/Ria/Prospects/_client_account_row.html.twig' with { 'client': client, 'account': account, 'index': loop.index } %}

            {% set valueTotal = valueTotal + account.value %}
            {% set monthlyContributionsTotal = monthlyContributionsTotal + account.monthlyContributions %}
            {% set monthlyDistributionsTotal = monthlyDistributionsTotal + account.monthlyDistributions %}
            {% set sasCashTotal = sasCashTotal + account.sasCash %}
        {% endfor %}

        <tr class="row-total">
            <td colspan="2"></td>
            <td class="value"><strong>${{ valueTotal | number_format(2, '.', ',') }}</strong></td>
            <td class="monthly-contributions"><strong>${{ monthlyContributionsTotal | number_format(2, '.', ',') }}</strong></td>
            <td class="monthly-distributions"><strong>${{ monthlyDistributionsTotal | number_format(2, '.', ',') }}</strong></td>
            <td class="sas-cash"><strong>${{ sasCashTotal | number_format(2, '.', ',') }}</strong></td>
            <td></td>
        </tr>
    </tbody>
</table>

{% if client.Profile.ria.riaCompanyInformation.isAllowRetirementPlan %}
    <div class="outside-funds-list" id="outside_funds_list"></div>
{% endif %}

<br/><br/>

<div class="client-account-form">
    {% include '/Ria/Prospects/_create_client_account_form.html.twig' with { 'form' : account_form, 'client' : client } %}
</div>

<div class="form-actions">
    <button type="submit" class="btn btn-info" id="save_client_btn_id">Create Client</button>
</div>
<script type="text/javascript" src="{{ asset('js/ria/ria.suggestedPortfolio.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/ria/ria.client.js') }}"></script>