{% macro widget_prototype(widget) %}
    {% if widget.vars.prototype %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}

    <div class="well pull-left" data-beneficiary="{{ name }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div class="row">
            <div class="span">
                {{ form_label(form.type, 'Beneficiary type') }}
                {{ form_errors(form.type) }}
                {{ form_widget(form.type, { 'attr': { 'class': 'col-2' } }) }}
            </div>
        </div>
        <div class="row">
            <div class="span">
                {{ form_label(form.first_name, 'First Name') }}
                {{ form_errors(form.first_name) }}
                {{ form_widget(form.first_name, { 'attr': { 'class': 'input-medium' } }) }}
            </div>
            <div class="span">
                {{ form_label(form.middle_name, 'Middle Name') }}
                {{ form_errors(form.middle_name) }}
                {{ form_widget(form.middle_name, { 'attr': { 'class': 'input-medium' } }) }}
            </div>
            <div class="span">
                {{ form_label(form.last_name, 'Last Name') }}
                {{ form_errors(form.last_name) }}
                {{ form_widget(form.last_name, { 'attr': { 'class': 'input-medium' } }) }}
            </div>
        </div>
        <div class="row">
            <div class="span">
                {{ form_label(form.relationship) }}
                {{ form_errors(form.relationship) }}
                {{ form_widget(form.relationship, { 'attr': { 'class': 'input-medium' } }) }}
            </div>
        </div>
        <div class="row">
            <div class="span">
                <label>Social Security Number</label>
                <div>
                    {{ form_errors(form.ssn_1) }}
                    {{ form_errors(form.ssn_2) }}
                    {{ form_errors(form.ssn_3) }}
                </div>
                {{ form_widget(form.ssn_1, { 'attr': { 'class': 'col-1', 'placeholder': '###' } }) }}
                {{ form_widget(form.ssn_2, { 'attr': { 'class': 'col-1', 'placeholder': '##' } }) }}
                {{ form_widget(form.ssn_3, { 'attr': { 'class': 'col-1', 'placeholder': '####' } }) }}
            </div>
        </div>
        <div class="row">
            <div class="span">
                {{ form_label(form.birth_date, 'Birth Date') }}
                <div>
                    {{ form_errors(form.birth_date) }}
                </div>
                {{ form_widget(form.birth_date, { 'attr': { 'placeholder': 'MM-DD-YYYY' } }) }}
            </div>
        </div>
        <div class="row">
            <div class="span">
                {{ form_label(form.street) }}
                {{ form_errors(form.street) }}
                {{ form_widget(form.street, { 'attr': { 'class': 'col-5' } }) }}
            </div>
        </div>
        <div class="row">
            <div class="span">
                {{ form_label(form.city) }}
                {{ form_errors(form.city) }}
                {{ form_widget(form.city, { 'attr': { 'class': 'input-medium' } }) }}
            </div>
            <div class="span">
                {{ form_label(form.state) }}
                {{ form_errors(form.state) }}
                {{ form_widget(form.state, { 'attr': { 'class': 'input-small' } }) }}
            </div>
            <div class="span">
                {{ form_label(form.zip, 'Zip Code') }}
                {{ form_errors(form.zip) }}
                {{ form_widget(form.zip, { 'attr': { 'class': 'input-small' } }) }}
            </div>
        </div>
        <div class="row">
            <div class="span">
                <div>
                    {{ form_errors(form.share) }}
                </div>
                {{ form_widget(form.share) }}<span class="help-inline"> % share of assets</span>
            </div>
        </div>
    </div>
{% endmacro %}

<form action="{% block form_action %}{{ path('rx_client_dashboard_transfer_beneficiaries', { 'account_id': account.id }) }}{% endblock %}"
    method="post" {% block form_attributes %}class="acc-form" data-presave="true" data-save="true"{% endblock %}>

    <h3>Beneficiaries</h3>
    <div class="row">
        {{ form_errors(form) }}
    </div>
    <div id="beneficiary_block" class="clearfix beneficiary-block" data-prototype="{{ _self.widget_prototype(form.beneficiaries)|escape }}">
        {% for widget in form.beneficiaries.children %}
            {{ _self.widget_prototype(widget) }}
        {% endfor %}
    </div>
    <div class="row">
        {{ form_widget(form._token) }}
    </div>
    <div class="row">
        <div class="span">
            <a href="javascript:void(0)" id="add_bene" class="btn btn-link" data-target="beneficiary_block">Add Beneficiary</a>
        </div>
    </div>

    {% block form_actions %}
        <div class="form-actions">
            <a href="{{ path('rx_client_dashboard_transfer_back', {'account_id': account.id, 'action': 'beneficiaries'}) }}" class="btn btn-inverse">Back </a>
            <input type="submit" class="btn btn-primary"  name="continue" value="Continue" />
        </div>
    {% endblock %}
</form>

