{% set activity = document_signature_activity(signature) %}

{% if action != 'one_time' %}
    {% set activity = action|capitalize ~ ' ' ~ activity|lower %}
{% endif %}

{% set source = document_signature_source(signature) %}
{% set account = source.clientAccount %}

<form id="contribution_signature_form" action="{{ path('rx_client_dashboard_account_contribution_sign', { 'signature_id': signature.id }) }}" method="post">
    <h4>Please sign the following documents. You will be brought to a third party site which will navigate you to each signature line.</h4>
    <ol class="account-signature-list">
        <li data-signature="{{ signature.id }}">
            {% if is_signature_completed(signature) %}
                <span class="account-status-lnk completed">{{ activity }} - {{ account.typeString }}</span>
            {% else %}
                <a class="electronically-signing-btn" href="javascript:void(0)" data-url="{{ path('wealthbot_docusign_sign', { signature_id: signature.id }) }}">{{ activity }} - {{ account.typeString }}</a>
            {% endif %}
        </li>
    </ol>

    <div class="form-actions">
        <a class="btn btn-inverse" href="#">Back</a>
        <input class="btn btn-primary"  type="submit" value="Submit" />
    </div>
</form>