<form action="{{ path('rx_ria_models_create') }}" id="create_model_form" method="post" class="form-inline">
    <div class="row">
        <div class="col-12">
            <br/><br/>
            <span style="font-size: 24px; line-height: 40px">
                <strong>Create a Model</strong>
            </span>
            <a class="models-assumption-edit-btn" href="{{ path('rx_ria_models_edit_models_assumption', {'model_id': model_id}) }}">Global Model Parameters</a>

            <div class="form-group">
                <div class="controls">
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name, {'attr': {'placeholder': 'Name of Model', 'class': 'input-medium' }})}}
                    {% if form.risk_rating is defined %}
                        {{ form_errors(form.risk_rating) }}
                        {{ form_widget(form.risk_rating) }}
                    {% endif %}
                    {#{% include '/Admin/Model/_third_party_model_edit_model_assumption_form.html.twig' with { 'form': form.assumption } %}#}
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-primary" >Create</button>
                </div>
            </div>
        </div>
    </div>
</form>