<form id="ria_edit_model_form" class="ria-model-entity-form"
      action="{{ path('rx_ria_models_edit_entity', {'id': modelEntity.id}) }}" method="post"
      data-edit-row="model-{{ modelEntity.id }}"
      data-update-url="{{ path('rx_ria_models_update_entity_form', {'model_entity_id': modelEntity.id}) }}"
      data-slug="{{ modelEntity.model.slug }}" >
    <div class="form-group">
        {{ form_label(form.assetClass) }}
        <div class="controls">
            {{ form_errors(form.assetClass) }}
            {{ form_widget(form.assetClass) }}
        </div>
    </div>

    <div class="form-fields">
        {% include '/Ria/Models/_entity_form_fields.html.twig' with {'form': form} %}
    </div>

    <div class="form-group">
        {{ form_label(form.percent) }}
        <div class="controls">
            {{ form_errors(form.percent) }}
            <div class="input-group">
                {{ form_widget(form.percent) }}
                <span class="input-group-addon">%</span>
            </div>
        </div>
    </div>

    {{ form_row(form._token) }}
    <input class="btn btn-primary"  type="submit" name="submit" value="Update"/>
</form>