<div class="row" id="model_view_row">
    <div class="col-12">

        <div class="row">
            <div class="col-8">
                <b>{{ portfolio_information.model.name }} - Risk Rating {{ portfolio_information.model.riskRating }}</b>
                &nbsp;&nbsp;
                <a class="edit-ria-model-btn" href="{{ path('rx_ria_models_edit', {'slug': portfolio_information.model.slug}) }}">Edit</a>
                <a class="delete-ria-model-btn"
                   href="{{ path('rx_ria_models_delete', {'slug': portfolio_information.model.slug}) }}">Delete</a>
            </div>
        </div>

        {% if is_use_qualified %}
            <div id="q_container_id" data-url="{{ path('rx_ria_models_view_entities', {'slug': portfolio_information.model.slug}) }}">
                <label class="radio inline" class="qualified">
                    <input type="radio" name="is_qualified" value="1" {% if portfolio_information.IsQualifiedModel %}checked="checked"{% endif %}>
                    Qualified
                </label>
                <label class="radio inline">
                    <input type="radio" name="is_qualified" value="0" {% if not portfolio_information.IsQualifiedModel %}checked="checked"{% endif %} >
                    Non-Qualified
                </label>
            </div>
        {% endif %}

        <div id="me_container_id">
            {% include '/Ria/Models/entities_view.html.twig' with {
                'modelEntities': portfolio_information.modelEntities,
                'is_show_municipal_bond': is_show_municipal_bond,
                'is_show_tax_loss_harvesting': is_show_tax_loss_harvesting
            } %}
        </div>

        {% include '/Ria/Models/_entity_form.html.twig' with {'form': form, 'model': portfolio_information.model} %}
    </div>
</div>