{% extends '/Ria/Dashboard/index.html.twig' %}

{% block body %}
<div class="row">
<div class="col-12" style="margin-bottom: 20px;">
    <span style="font-size: 24px; line-height: 40px; font-weight: bold;">
        Third party - {{ parent_model.name }}
    </span>
        <a class="models-assumption-edit-btn" href="{{ path('rx_ria_models_edit_models_assumption', {'model_id': parent_model.id}) }}">Global Model Parameters</a>
    </div>
</div>

    <div class="navbar navbar-default">
        <div class="navbar-inner">
            <div class="container-fluid">
                <!-- Everything you want hidden at 940px or less, place within here -->
                <div class="navbar-collapse">
                    <!-- .nav, .navbar-search, .navbar-form, etc -->
                    <ul class="nav navbar-nav">
                        {% for model in models %}
                            <li {{ current_model is defined and current_model.id == model.id ? 'class="active"' : '' }}>
                                <a href="{{ path('rx_ria_default_models', {'slug': model.slug}) }}">{{ model.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a class="btn-info" style="color: #ffffff" href="{{ path('rx_ria_models_risk_adjustment') }}">Risk Adjustment</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    {% block model_risk_form %}
    {% endblock %}

    {% block models_body %}
    {% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="/js/theme-js/jquery.flot.min.js"></script>
    <script src="/js/theme-js/jquery.flot.pie.min.js"></script>
    <script src="/js/theme-js/jquery.flot.stack.js"></script>
    <script src="/js/theme-js/jquery.flot.resize.min.js"></script>
    <script src="/js/theme-js/jquery.flot.tooltip.min.js"></script>
    <script src="/js/theme-js/jquery.flot.crosshair.js"></script>
    <script type="text/javascript" src="{{ asset('js/ria/ria.models.js') }}"></script>
{% endblock %}