{% extends '/Ria/Models/default_index.html.twig' %}

{% block model_risk_form %}
    <div class="form-group">
        <strong>Model Assumption :</strong>
        <a class="btn btn-mini btn-info model-assumption-edit-btn" data-model-name="{{ portfolio_information.model.name }}"
           href="{{ path('rx_ria_models_edit_model_assumption', {'model_id': portfolio_information.model.id}) }}">Edit</a>
        <br>
        <strong>Risk Rating :</strong> {{ portfolio_information.model.riskRating ? portfolio_information.model.riskRating : 'Not specified' }} <a
                class="btn btn-mini btn-info" href="{{ path('rx_ria_models_risk_adjustment') }}">Edit</a>
    </div>
{% endblock %}

{% block models_body %}
    <a href="{{ path('rx_ria_models_pdf') }}" target="_blank">Click
        here</a> to generate a PDF for your records of all our models.
    <h3 class="center-text">{{ portfolio_information.model.name }}</h3>


    <div class="row">
        <div class="col-4 col-offset-4">
            {% include '/Ria/Models/_model_info.html.twig' with {
                'portfolio_information': portfolio_information
            } %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{{ asset('js/ria/ria.model.chart.js') }}"></script>

{% endblock %}