<form action="{{ path('rx_ria_rebalancing_start_rebalance') }}" method="post" id="rebalance_form">

    {% include '/Ria/Rebalancer/_rebalance.html.twig' with {
        'client_values_pagination': client_values_pagination,
        'is_history': false,
        'form':form
    } %}

    <div class="center-text">

        {{ form_errors(form) }}

        <div class="form-group">
            <div>
                {% if (form.rebalance_type is defined) %}
                    {{ form_errors(form.rebalance_type) }}
                    {{ form_widget(form.rebalance_type, {'attr': {'class': 'margin-bottom-0'}}) }}
                {% endif %}
                <div class="btn-group">
                    <button class="workflow-actions-btn btn dropdown-toggle btn-primary" data-toggle="dropdown">
                        Action
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a class="rebalance-form-submit-btn" data-action-type="rebalance" href="{{ path('rx_ria_rebalancing_start_rebalance') }}">Rebalance</a></li>
                        <li><a class="rebalance-form-submit-btn" data-action-type="generate-trade-file" href="{{ path('rx_ria_rebalancing_generate_trade_file') }}">Generate Trade File</a></li>
                    </ul>
                </div>
            </div>
        </div>

        {{ form_rest(form) }}

        <div class="rebalance-proggress-bar">
            <div class="progress">
                <div class="bar" style="width: 0"></div>
            </div>
        </div>
    </div>

</form>


