<form id="billing_n_accounts_form" action="{{path('rx_ria_change_profile_save_custodians')}}" method="post">

    <legend>Your Custodian</legend>
    <span>Select the custodian you will use with {{ 'wealthbot.io' | trans }}.</span>

    <div class="form-group">
        {{ form_widget(custodianForm.custodian) }}
    </div>

    <div id="custodian_questions" class="form-group">
        {{ form_label(custodianForm.allow_non_electronically_signing, 'Do you want to allow for non-electronically signed transfer forms?') }}
        {{ form_widget(custodianForm.allow_non_electronically_signing) }}
    </div>

    <legend>Custodial Master IDs</legend>
    <select id="custodian_id" name="custodian_id">
        {% for custodian in custodians  %}
            <option value="{{ custodian.id }}"{% if custodian.id == app.request.get('custodian_id') %} selected="selected"{% endif %}>{{ custodian.name }}</option>
        {% endfor %}
    </select>

    <div id="advisor-codes-list">
            {{ include('/Ria/ChangeProfile/advisor_codes.html.twig') }}
    </div>
    <a id="new-id" href="#">New ID</a>

    {{ form_widget(custodianForm._token) }}
    {{ form_widget(advisorCodesForm._token) }}

    <div class="col-12">
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" data-loading-text="Saving...">Save</button>
        </div>
    </div>

</form>
