<form id="proposal_form" action="{{ path('rx_ria_change_profile_proposal_save') }}" method="POST" enctype="multipart/form-data">
    {{ form_errors(form) }}

    <div class="col-12">
        <legend>Performance Assumptions</legend>
        <div class="form-group">
            {{ form_label(form.is_show_client_expected_asset_class, 'Show client expected asset class and portfolio returns on proposal screen.') }}
            <div class="controls">
                {{ form_errors(form.is_show_client_expected_asset_class) }}
                {% for radio in form.is_show_client_expected_asset_class %}
                    <label for="{{ radio.vars.id }}" class="radio inline">{{ form_widget(radio) }} {{ radio.vars.label }}</label>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.is_show_expected_costs, 'Show expected costs of portfolio on proposal screen.') }}
            <div class="controls">
                {{ form_errors(form.is_show_expected_costs) }}
                {% for radio in form.is_show_expected_costs %}
                    <label for="{{ radio.vars.id }}" class="radio inline">{{ form_widget(radio) }} {{ radio.vars.label }}</label>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-12">
        <legend>Contracts</legend>
        <span>Upload the following contracts to be delivered during portfolio proposals.</span>

        {% for key, field in form.documents %}
            {% if key != '_token' %}
                <div class="form-group margin-top-10">
                    <h3>{{ field.vars.label }}</h3>
                    {{ form_errors(field) }}
                    {{ form_widget(field) }}

                    {% if documents[key] is defined %}
                        <a href="{{ path('rx_download_document', {'filename': documents[key].filename}) }}" target="_blank">{{ documents[key].name == 'Adv' ? 'Advisor ADV' : documents[key].name }} <i class="icon-download"></i></a>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {#<div class="col-12">#}
        {#<legend>Contracts</legend>#}
        {#<span>Upload the following contracts to be delivered during portfolio proposals.</span>#}
        {#{% for document in form.documents %}#}
            {#<div class="form-group">#}
                {#<h3>{{ form_label(document) }}</h3>#}
                {#{{ form_errors(document) }}#}
                {#{{ form_widget(document) }}#}
            {#</div>#}
        {#{% endfor %}#}
    {#</div>#}
    {#{{ form_widget(form) }}#}

    <div class="col-12">
        <div class="form-actions">
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary btn-ajax" data-loading-text="Saving...">Save</button>
        </div>
    </div>
</form>
