<form id="edit_client_account_form" action="{{ path("rx_client_edit_account", {'id': account.id}) }}" method="post" class="form-horizontal">

    {% set group = account.groupName %}

    {% if (form.financial_institution is defined) %}
        <div class="form-group">
            {{ form_label(form.financial_institution, null, { 'label_attr': {'class': 'control-label'}}) }}
            <div class="controls">
                {{ form_errors(form.financial_institution) }}
                {{ form_widget(form.financial_institution) }}
            </div>
        </div>
    {% endif %}

    {% if (form.plan_provider is defined) %}
        <div class="form-group">
            {{ form_label(form.plan_provider, null, { 'label_attr': {'class': 'control-label'}}) }}
            <div class="controls">
                {{ form_errors(form.plan_provider) }}
                {{ form_widget(form.plan_provider) }}
            </div>
        </div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.groupType, null, { 'label_attr': {'class': 'control-label'}}) }}
        <div class="controls">
            {{ form_errors(form.groupType) }}
            {{ form_widget(form.groupType) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.value, null, { 'label_attr': {'class': 'control-label'}}) }}
        <div class="controls">
            {{ form_errors(form.value) }}
            <div class="input-group">
                <span class="input-group-addon">$</span>
                {{ form_widget(form.value, {'attr': {'class': 'input-medium auto-numeric'}}) }}
            </div>
            <span class="retirement-value-help help-block" style="{{ group == 'employer_retirement' ? '' : 'display:none;' }}">Minimum value must be $50,000 for retirement plans.</span>
        </div>
    </div>

    {% if (form.monthly_contributions is defined) %}
    <div class="form-group">
        {{ form_label(form.monthly_contributions, null, { 'label_attr': {'class': 'control-label'}}) }}
        <div class="controls">
            {{ form_errors(form.monthly_contributions) }}
            <div class="input-group">
                <span class="input-group-addon">$</span>
                {{ form_widget(form.monthly_contributions, {'attr': {'class': 'input-medium auto-numeric'}}) }}
            </div>
        </div>
    </div>
    {% endif %}

    {% if (form.monthly_distributions is defined) %}
    <div class="form-group" style="{{ group == 'employer_retirement' ? 'display:none;' : '' }}}">
        {{ form_label(form.monthly_distributions, null, { 'label_attr': {'class': 'control-label'}}) }}
        <div class="controls">
            {{ form_errors(form.monthly_distributions) }}
            <div class="input-group">
                <span class="input-group-addon">$</span>
                {{ form_widget(form.monthly_distributions, {'attr': {'class': 'input-medium auto-numeric'}}) }}
            </div>
        </div>
    </div>
    {% endif %}

    {{ form_rest(form) }}
</form>