<table id="retirement_account_funds" class="table shadow suggested-portfolio-finaccounts" data-transfer-redirect-url="{{ path('rx_client_dashboard_select_system_account', {'account_id': account.id}) }}">
    <thead>
        <tr>
            {% set employer_financial_institurion = account.financialInstitution | split('(') %}
            <th colspan="3">{{ employer_financial_institurion[1] | trim(' )') }} {{ account.typeName }} Investment Options</th>
        </tr>
        <tr>
            <th>Fund Name</th>
            <th>Symbol</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for account_outside_fund in account.accountOutsideFunds %}
            {% set security = account_outside_fund.securityAssignment.security %}
            <tr>
                <td>{{ security.name }}</td>
                <td>{{ security.symbol }}</td>
                <td><a class="remove-outside-fund-btn" href="{{ path('rx_client_profile_delete_outside_fund', {'account_id': account.id, 'fund_id': security.id}) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
