{% extends '/Ria/layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-10"><h3 class="bbh3">Risk Questions</h3></div>
    </div>

    <ol type="1" class="questions-list" data-url="{{ path("rx_ria_risks_update_order") }}">
        {% for question in questions %}
            {% include '/Ria/Risks/_question_row.html.twig' with { 'question': question } %}
        {% endfor %}
    </ol>

    <div class="new-question">
        <div class="form-group action-buttons">
            <a class="create-question-btn btn" href="{{ path('rx_ria_risks_create_question') }}">New Question</a>
            <a class="btn btn-primary"  target="_blank" href="{{ path('rx_ria_risks_test') }}">View and Test</a>
        </div>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="{{ asset('/js/ria/ria.risks.js') }}"></script>
{% endblock %}