{% set client_url = (workflow.client.hasStatusProspect) ? 'rx_ria_prospect_portfolio' : 'rx_ria_dashboard_show_client' %}

<tr class="workflow-item" data-item="{{ workflow.id }}">
    <td><a href="{{ path(client_url, {'client_id': workflow.client.id}) }}">Client {{ workflow.client.lastName }}, {{ workflow.client.firstName }}</a></td>
    <td>{{ workflow.client.clientType|capitalize }}</td>
    <td>
        {% set activity = workflow_activity(workflow) %}

        {% if workflow.canHaveDocuments %}
            <a class="show-workflow-documents-list" data-url="{{ path('rx_ria_workflow_documents_list', { 'id': workflow.id }) }}" href="javascript:void(0)" >{{ activity }}</a>
        {% elseif workflow.isPortfolioProposal %}
            {% if workflow.client.hasStatusClient %}
                {% set url = path('rx_ria_dashboard_client_portfolio', { 'client_id': workflow.client.id }) %}
            {% else %}
                {% set url = path('rx_ria_prospect_portfolio', { 'client_id': workflow.client.id }) %}
            {% endif %}

            <a href="{{ url }}" target="_blank" >{{ activity }}</a>
        {% elseif workflow.isInitialRebalance %}
            <a href="{{ path('rx_ria_dashboard_show_client', { 'client_id': workflow.client.id }) }}" target="_blank" >{{ activity }}</a>
        {% else %}
            {{ activity }}
        {% endif %}
    </td>
    <td>{{ workflow.submitted|date('m/d/Y') }}</td>
    <td>{{ workflow.submitted|date('h:i a') }}</td>
    <td>{{ workflow.clientStatusAsString|ucwords }}</td>
    <td>
        {% if workflow.isPaperwork %}
            {% set status = workflow.status %}
            {% set workflowColor = ['dark-blue', 'green', 'yellow', 'black'] %}

            <select class="update-workflow-status input-medium {{ workflowColor[status] }}" data-color="{{ workflowColor[status] }}" {{ workflow.isAdvisorStatusEditable ? '' : 'disabled="disabled"' }}>
                {% for statusKey, statusItem in workflow.statusChoices %}
                    <option class="{{ workflowColor[statusKey] }}" {{ status == statusKey ? 'selected="selected"' : '' }} value="{{ statusKey }}" data-url="{{ path('rx_ria_workflow_update_status', { 'id': workflow.id, 'status': statusKey }) }}">{{ statusItem|ucwords }}</option>
                {% endfor %}
            </select>
        {% else %}
            <a class="view-workflow-btn" href="{{ path('rx_ria_workflow_view', { 'id': workflow.id }) }}">View</a>
        {% endif %}
    </td>

    <td>
        <div class="btn-group">
            <button class="workflow-actions-btn btn dropdown-toggle btn-primary" data-toggle="dropdown">
                Action
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                {% if workflow.canHaveDocuments %}
                    {% set download_link = workflow_documents_link(workflow) %}
                    {% if download_link != '' %}
                        <li><a href="{{ download_link }}">Downloads</a></li>
                    {% else %}
                        <li class="disabled"><a href="#1">Downloads</a></li>
                    {% endif %}
                {% endif %}
                <li><a class="edit-workflow-note-btn" href="{{ path('rx_ria_workflow_edit_note', { 'id': workflow.id }) }}">Notes</a></li>
                <li><a class="archive-workflow-btn" href="{{ path('rx_ria_workflow_archive', { 'id': workflow.id }) }}">Archive</a></li>
                <li><a class="delete-workflow-btn" href="{{ path('rx_ria_workflow_delete', { 'id': workflow.id }) }}">Delete</a></li>
            </ul>
        </div>
    </td>
</tr>