<table class="workflow-list table table-bordered table-striped">
    <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Client Name', 'cup.last_name, cup.first_name') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Client Type', 'cucs.client_type') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Workflow Type', 'w.message_code') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Date', 'w.submitted') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Time', 'w.submitted') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Client Status', 'w.client_status') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Advisor Status', 'w.status') }}</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if pagination|length > 0  %}
            {% for workflow in pagination %}
                {% include '/Ria/Workflow/_active_workflow_item.html.twig' with { 'workflow': workflow } %}
            {% endfor %}
        {% else %}
            <tr class="empty"><td colspan="6">No active workflow.</td></tr>
        {% endif %}
    </tbody>
</table>

<div class="ajax-pagination pagination pagination-centered">
    {{ knp_pagination_render(pagination) }}
</div>