{% macro widget_prototype(widget, remove_text) %}
    {% if widget.vars.prototype %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}

    <li data-content="{{ name }}">
        <div class="row">
            <div class="col-3">
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}
                <span class="pull-right">=</span>
            </div>
            <div class="col-4">
                {{ form_label(form.point) }}
                {{ form_errors(form.point) }}
                {{ form_widget(form.point) }}

                <a class="pull-right btn-remove" data-related="{{ name }}" href="javascript:void(0)">{{ remove_text }}</a>
            </div>
        </div>
    </li>
{% endmacro %}

<div class="q-form">
    {% set question_id = form.vars.value ? form.vars.value.id : '' %}

    <form id="question_form" action="{{ question_id ? path('rx_admin_risks_edit_question', {'id': question_id}) : path('rx_admin_risks_create_question') }}" method="post">
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}

        <ol class="answers-list" type="a" data-prototype="{{ _self.widget_prototype(form.answers, 'Remove')|escape }}">
            {{ form_errors(form.answers) }}
            {% for widget in form.answers.children %}
                {% if loop.index > 2 %}
                    {{ _self.widget_prototype(widget, 'Remove') }}
                {% else %}
                    {{ _self.widget_prototype(widget) }}
                {% endif %}
            {% endfor %}
        </ol>

        <a class="btn-add btn btn-primary" href="javascript:void(0)">New Answer</a>

        <div class="form-actions">
            {{ form_rest(form) }}
            <button class="cancel-edit-btn btn" type="button">Cancel</button>
            <input type="submit" class="btn-info btn" value="{{ question_id ? 'Update' : 'Save' }}" />
        </div>
    </form>
</div>