{% if form.vars.data and form.vars.data.id is not null  %}
    {% set is_new = false %}
{% else %}
    {% set is_new = true %}
{% endif %}

{% if is_new %}
    {% set action = path('rx_client_dashboard_add_account_beneficiary', {'account_id': account.id}) %}
{% else %}
    {% set action = path('rx_client_dashboard_edit_beneficiary', {'account_id': account.id, 'beneficiary_id': form.vars.data.id}) %}
{% endif %}

<form id="{{ is_new ? 'create_beneficiary_form' : 'edit_beneficiary_form' }}" action="{{ action }}">
    <div class="well pull-left">
        <button type="button" class="close-bene close" data-dismiss="alert">&times;</button>
        <div class="row">
            <div class="col-12">
                {{ form_label(form.type, 'Beneficiary type') }}
                {{ form_errors(form.type) }}
                {{ form_widget(form.type, { 'attr': { 'class': 'input-medium' } }) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="col-4">
                    {{ form_label(form.first_name, 'First Name') }}
                    {{ form_errors(form.first_name) }}
                    {{ form_widget(form.first_name, { 'attr': { 'class': 'input-middle' } }) }}
                </div>
                <div class="col-4">
                    {{ form_label(form.middle_name, 'Middle Name') }}
                    {{ form_errors(form.middle_name) }}
                    {{ form_widget(form.middle_name, { 'attr': { 'class': 'input-middle' } }) }}
                </div>
                <div class="col-4">
                    {{ form_label(form.last_name, 'Last Name') }}
                    {{ form_errors(form.last_name) }}
                    {{ form_widget(form.last_name, { 'attr': { 'class': 'input-middle' } }) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="col-4">
                    {{ form_label(form.relationship) }}
                    {{ form_errors(form.relationship) }}
                    {{ form_widget(form.relationship, { 'attr': { 'class': 'input-middle' } }) }}
                </div>
                <div class="col-4">
                    <label>Social Security Number</label>
                    <div>
                        {{ form_errors(form.ssn_1) }}
                        {{ form_errors(form.ssn_2) }}
                        {{ form_errors(form.ssn_3) }}
                    </div>
                    {{ form_widget(form.ssn_1, { 'attr': { 'class': 'input-xmini', 'placeholder': '###' } }) }}
                    {{ form_widget(form.ssn_2, { 'attr': { 'class': 'input-xmini', 'placeholder': '##' } }) }}
                    {{ form_widget(form.ssn_3, { 'attr': { 'class': 'input-xmini', 'placeholder': '####' } }) }}
                </div>
                <div class="col-4">
                    {{ form_label(form.birth_date, 'Birth Date') }}
                    <div>
                        {{ form_errors(form.birth_date) }}
                    </div>
                    {{ form_widget(form.birth_date, { 'attr': { 'placeholder': 'MM-DD-YYYY', 'class': 'input-small' }}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form_label(form.street) }}
                {{ form_errors(form.street) }}
                {{ form_widget(form.street, { 'attr': { 'class': 'input-xlarge' } }) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="col-4">
                    {{ form_label(form.city) }}
                    {{ form_errors(form.city) }}
                    {{ form_widget(form.city, { 'attr': { 'class': 'input-middle' } }) }}
                </div>
                <div class="col-4">
                    {{ form_label(form.state) }}
                    {{ form_errors(form.state) }}
                    {{ form_widget(form.state, { 'attr': { 'class': 'input-medium' } }) }}
                </div>
                <div class="col-4">
                    {{ form_label(form.zip, 'Zip Code') }}
                    {{ form_errors(form.zip) }}
                    {{ form_widget(form.zip, { 'attr': { 'class': 'input-small' } }) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div>
                    {{ form_errors(form.share) }}
                </div>
                {{ form_widget(form.share, { 'attr': { 'class': 'input-mini' } }) }}<span class="help-inline"> % share of assets</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form_widget(form._token) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if is_new %}
                    <input type="submit" class="btn btn-primary" value="Save"/>
                {% else %}
                    <button class="cancel-edit-beneficiary-btn btn">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Update"/>
                {% endif %}
            </div>
        </div>
    </div>
</form>