<div class="box-content shadow">
    <div class="rx-horizontal-form col-7">
        <div class="form-group">
            <div class="controls">
                <select id="years">
                    {% for year in years %}
                        <option value="{{ year }}" {{ year == curYear ? 'selected="selected"' : '' }}>{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group"  role="group">
                <a href="#" class="btn btn-primary {{ curQuarter == 1 ? 'active' : '' }}" data-role="quarter" data-value="1">1st Qrtr</>
                <a href="#" class="btn btn-primary {{ curQuarter == 2 ? 'active' : '' }}" data-role="quarter" data-value="2">2nd Qrtr</a>
                <a href="#" class="btn btn-primary {{ curQuarter == 3 ? 'active' : '' }}" data-role="quarter" data-value="3">3rd Qrtr</a>
                <a href="#" class="btn btn-primary {{ curQuarter == 4 ? 'active' : '' }}" data-role="quarter" data-value="4">4th Qrtr</a>
            </div>
        </div>
    </div>
    <p class="s10">Your total fees for the quarter ending on {{ endDate }}: <span class="label label-warning">${{ billTotal|number_format(2, '.', ',') }}</span></p>
    <p>Average Portfolio Balance over the period:  <span class="label label-success">${{ averageTotal|number_format(2, '.', ',') }}</span></p>
</div>

<div class="row sortable ui-sortable">
    <!-- start: fees table -->
    {% if isBillingSpecTier %}
        <div class="box col-6">
            <div class="box-content shadow">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th colspan="3">Asset Range</th>
                        <th>Fee Rate</th>
                        <th>Fee Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tier in tiers %}
                        <tr>
                            <td width="1%" class="text-right">${{ tier.tier_bottom|number_format(2, '.', ',') }}</td>
                            <td width="1%" class="center">{% if loop.last %}+{% else %}-{% endif %}</td>
                            <td width="38%">{% if loop.last %}{% else %}${{ tier.tier_top|number_format(2, '.', ',') }}{% endif %}</td>
                            <td width="30%" class="center">{{ tier.fee * 100 }}%</td>
                            <td width="30%" class="center">${{ tier.fee_amount|number_format(2, '.', ',') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    <div class="box col-6">
        <div class="box-content shadow">
            {% set billings = true %}
            {% if (billings is defined and billings) %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Account Name</th>
                        <th>Account Number</th>
                        <th>Average Value</th>
                        <th class="right-text">Bill Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for account in accounts %}
                        <tr>
                            <td>{{ account.name }}</td>
                            <td class="center">{{ account.number }}</td>
                            <td class="center">${{ account.averageValue|number_format(2, '.', ',') }}</td>
                            <td class="right-text">${{ account.billAmount|number_format(2, '.', ',') }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="total">
                        <td colspan="4" class="right-text wBold fs16">${{ billTotal|number_format(2, '.', ',') }}</td>
                    </tr>
                    </tbody>
                </table>
            {% else %}
                <div class="center-text text-bold">After your initial bill, you'll be able to track all your bills here.</div>
            {% endif %}
        </div>
    </div>
    <!-- end: fees table -->
</div>
