{% block content %}
    {% if is_approved %}
        <div class="alert alert-success">
            <strong>Success.</strong> Your new portfolio will be implemented in 2-3 business days.
            <a class="close" data-dismiss="alert" href="#">&times;</a>
        </div>
    {% else %}
        <div  class="center-text">
            <h1>Approve Your Portfolio</h1>
        </div>

        <div class="alert alert-success">
            Please review your new portfolio. We cannot implement your new portfolio until you have signed the agreement below.
            <a class="close" data-dismiss="alert" href="#">&times;</a>
        </div>

        {% if is_use_qualified_models %}
            <div class="is-qualified-switcher" align="center">
                <a href="{{ path('rx_client_dashboard_approve_portfolio', { is_qualified: 1 }) }}" class="qualified">Qualified</a>
                &nbsp;|&nbsp;
                <a href="{{ path('rx_client_dashboard_approve_portfolio', { is_qualified: 0 }) }}">Non-Qualified</a>
            </div>
        {% endif %}

        {% include '/Client/Portfolio/_portfolio.html.twig' with {
            'portfolio_information': portfolio_information,
            'ria_company_information': ria_company_information,
            'has_retirement_account': has_retirement_account,
            'client': client,
            'action': action
        } %}

        {% include '/Client/Portfolio/_accounts_list.html.twig' with {
            'client': client,
            'client_accounts': client_accounts,
            'total': total,
            'with_edit': false,
            'show_sas_cash': show_sas_cash
        } %}

        <p class="center-text port-acceptance">
            By accepting this portfolio, you are agreeing to our <a href="#1">Investment Management Agreement</a> and
            <a href="#1">Investment Policy Statement</a>.
        </p>

        <form id="approve_portfolio_form" class="form-inline center-text" data-approve-url="{{ approve_url }}" action="{{ path(approve_url) }}" method="post">
            {{ form_label(form.name, 'Full Name:') }}
            {{ form_widget(form.name, { 'attr': { 'class': 'input-xlarge' } }) }}
            {{ form_errors(form.name) }}

            <span class="date">Date:</span> {{ signing_date|date('m/d/Y') }}

            <div class="form-actions row">
                <div class="col-3 col-offset-4">
                    <input class="btn btn-ajax btn-primary" type="submit" name="Accept" value="Accept" />
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}